<div class="container-main" data-id="calendar">
    <!-- Container-main -->

    <div class="row">
      <div class="col-11">
        <h4 class="title-bold">View All Calendars</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>Create your own calendars or view/edit your company's shared calendars.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs">
          <li class="nav-item" >
            <a class="nav-link active" data-toggle="tab" href="#active" role="tab" > 
              <i class="flaticon-success" aria-hidden="true"></i><br>Active
            </a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" data-toggle="tab" href="#Inactive" role="tab" >
              <i class="flaticon-minus" aria-hidden="true"></i><br>Inactive
            </a>
          </li>
          <li class="nav-item ml-auto" >
            <a class="nav-link" data-toggle="tab" href="#create" role="tab" >
              <i class="flaticon-add-2" aria-hidden="true"></i><br>Create
            </a>
          </li>
        </ul>
        <div class="tab-content" id="my-tab-content">
          <div id="active" class="tab-pane active" role="tabpanel">

            <table class="table  table-hover general-table">
              <thead>
                <tr>
                  <th class="first_th">Name</th>
                  <th class="second_th">Visibility</th>
                  <th >Options</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Calendar 1 - view</td>
                  <td>Shared</td>
                  <td >
                    <div class="row options-table">
                      <div class="col-3 text-primary"><i class="flaticon--basic-edit" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Edit Calendar"></i> </div>
                      <div class="col-3 text-success"><i class="fa fa-files-o" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Copy Calendar" ></i></div>
                      <div class="col-3 text-danger"> <i class="fa fa-trash-o" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Delete Calendar"></i> </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Calendar 1 - view</td>
                  <td>Shared</td>
                  <td >
                    <div class="row options-table">
                      <div class="col-3 text-primary"><i class="flaticon--basic-edit" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Edit Calendar"></i> </div>
                      <div class="col-3 text-success"><i class="fa fa-files-o" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Copy Calendar"></i></div>
                      <div class="col-3 text-danger"> <i class="fa fa-trash-o" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Delete Calendar"></i> </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Calendar 1 - view</td>
                  <td>Shared</td>
                  <td >
                    <div class="row options-table">
                      <div class="col-3 text-primary"><i class="flaticon--basic-edit" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Edit Calendar"></i> </div>
                      <div class="col-3 text-success"><i class="fa fa-files-o" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Copy Calendar"></i></div>
                      <div class="col-3 text-danger"> <i class="fa fa-trash-o" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Delete Calendar"></i> </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Calendar 1 - view</td>
                  <td>Shared</td>
                  <td >
                    <div class="row options-table">
                      <div class="col-3 text-primary"><i class="flaticon--basic-edit" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Edit Calendar"></i> </div>
                      <div class="col-3 text-success"><i class="fa fa-files-o" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Copy Calendar"></i></div>
                      <div class="col-3 text-danger"> <i class="fa fa-trash-o" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Delete Calendar"></i> </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id="Inactive" class="tab-pane" role="tabpanel">
            <table class="table  table-hover general-table">
              <thead>
                <tr>
                  <th class="first_th">Name</th>
                  <th class="second_th">Visibility</th>
                  <th >Options</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Calendar 1 - view</td>
                  <td>Shared</td>
                  <td >
                    <div class="row options-table">
                      <div class="col-6 text-primary"><i class="flaticon--basic-edit" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Edit Calendar"></i> </div>  
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Calendar 1 - view</td>
                  <td>Shared</td>
                  <td >
                    <div class="row options-table">
                      <div class="col-6 text-primary"><i class="flaticon--basic-edit" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Edit Calendar"></i> </div>
                      
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id="create" class="tab-pane" role="tabpanel">
            <form action=""> 
              <div class="form-group">
                <h4>Add Calendar</h4>
                <p>Changes made on this page will only affect this calendar.</p>
              </div>

              
              <div class="form-group">
                <h5 for="" >Basic</h5>
                <div class="md-form">
                    <input type="text" id="form1" class="">
                    <label for="form1" class="">Name</label>
                </div>
                
                <div class="sel sel--black-panther">
                  <select name="select-profession" id="select-profession">
                    <option value="" disabled>Visibility</option>
                    <option value="">Show to all users</option>
                    <option value="">Show to only me</option>
                    
                  </select>
                </div>
                <div class="col-2 pad-none input-form">
                  <label>Status</label>
                  <label class="switch-toggly">
                    <input type="checkbox" checked>
                    <span class="slider-toggly round"></span>
                  </label>
                </div>
                <div class="col-3 pl-0">
                  <label>Copy</label>
                  <!-- <label for="" class="col-1 offset-3 col-form-label">Copy</label> -->
                  <span><a href="">Create copy of calendar</a></span>
                </div>
              </div>

              <div class="form-group ">
                <h5><b>Trips layout</b></h5>
                <!-- <label for="" class="col-1 col-form-label">Calendar</label>
                <select type="text" class="form-control col-2"> 
                <option value="">Main</option>
                <option value="">Mini</option>
                <option value="">Month</option>
                <option value="">Map</option>
                <option value="">Day</option>
                </select> -->

                <div>
                  <div class="sel sel--black-panther">
                    <select name="select-profession" id="select-profession">
                      <option value="" disabled>Calendar</option>
                      <option value="">Main</option>
                    <option value="">Mini</option>
                    <option value="">Month</option>
                    <option value="">Map</option>
                    <option value="">Day</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label for="" class="col-1 col-form-label">Display style</label>
                  <div class="col-2">
                    <label for="" class="label_container">
                      <input type="radio" name="radio" value="Details" checked><span class="checkmark radio_button"></span>Details
                    </label>
                    <label for="" class="label_container">
                      <input type="radio" name="radio" value="Ongoing Bars"><span class="checkmark radio_button"></span>Ongoing bars
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group ">
                <div class="row">
                  <div class="col-4 checkbox_col">
                    
                    <label for=""><b>Aircraft</b></label>

                    <div class="calendar-trip row">
                      <div class="col-1 square">
                        <span class="">
                              <svg height="9" width="7" fill="#ff9900">
                                              <rect width="100%" height="100%" x="0" y="0"></rect>
                                          </svg>
                                        </span>
                      </div>
                      <div class="col-10">
                        <div class="row">
                        <div class="col-12">                    
                                    <svg width="6" height="10" fill="#D3D3D3">
                                        <path d="M0,5 L6,0 L6,10 z"></path>
                                    </svg>
                                    <svg style="margin-right:-3px; margin-left: -3px" height="10" data-bind="attr: {width: viewType() == 'Mini' ? '55px' : '140px'  }" fill="#D3D3D3" width="140px">
                                        <rect color="#D3D3D3" x="0" y="3" height="4" width="100%"></rect>
                                        <rect data-bind="visible: viewType() != 'Mini'" x="52" y="2" height="6" width="18%" fill="#ff9900"></rect>
                                    </svg>   
                                    <svg width="6" height="10" fill="#D3D3D3">
                                        <path d="M0,0 L0,10 L6,5 z"></path> 
                                    </svg>
                        </div></div>

                        <div class="row">
                          <div class="col-6">Air jet Aviation</div>
                          <div class="col-6">1234567</div>
                        </div>
                        <div class="row">
                            <div class="col-2"><b>17:00</b></div>
                            <div class="col-2"><b>KIAD</b></div>
                            <div class="col-2"><b>CYYZ</b></div>
                            <div class="col-2"><b>18:00</b></div>
                            <div class="col-2"><b>12</b></div>

                        </div>
                        <div class="row">
                          <div class="col-6">LJC/PDQ</div>
                          <div class="col-6">N1234</div>
                        </div>
                        <div class="row">
                            <div class="col-12">Trip status </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <label for="" class="label_container">
                          <input type="checkbox" >
                          <span class="checkmark"></span>
                          Departure Date
                        </label>
                      </div>
                      <div class="col-6">
                        <label for="" class="label_container">
                          <input type="checkbox" >
                          <span class="checkmark"></span>
                          Departure time
                        </label>
                      </div>
                      <div class="col-6">
                        <label for="" class="label_container">
                          <input type="checkbox" >
                          <span class="checkmark"></span>
                          Arrivel date
                        </label>
                      </div>
                      
                      <div class="col-6">
                        <label for="" class="label_container">
                          <input type="checkbox" >
                          <span class="checkmark"></span>
                          Arrival Time
                        </label>
                      </div>

                      <div class="col-6">
                        <label for="" class="label_container">
                          <input type="checkbox" >
                          <span class="checkmark"></span>
                          Depart Airport
                        </label>
                      </div>

                      <div class="col-6">
                        <label for="" class="label_container">
                          <input type="checkbox" >
                          <span class="checkmark"></span>
                          Arrive Airport
                        </label>
                      </div>

                      <div class="col-6">
                        <label for="" class="label_container">
                          <input type="checkbox" >
                          <span class="checkmark"></span>
                          Crew
                        </label>
                      </div>

                      <div class="col-6">
                        <label for="" class="label_container">
                          <input type="checkbox" >
                          <span class="checkmark"></span>
                          Pax Count
                        </label>
                      </div>

                      <div class="col-6">
                        <label for="" class="label_container">
                          <input type="checkbox" >
                          <span class="checkmark"></span>
                          Trip #
                        </label>
                      </div>
                      
                      <div class="col-6">
                        <label for="" class="label_container">
                          <input type="checkbox" >
                          <span class="checkmark"></span>
                          Customer
                        </label>
                      </div>

                      <div class="col-6">
                        <label for="" class="label_container">
                          <input type="checkbox" >
                          <span class="checkmark"></span>
                          Tail #
                        </label>
                      </div>

                      <div class="col-6">
                        <label for="" class="label_container">
                          <input type="checkbox" >
                          <span class="checkmark"></span>
                          Leg Status
                        </label>
                      </div>

                      <div class="col-6">
                        <label for="" class="label_container">
                          <input type="checkbox" >
                          <span class="checkmark"></span>
                          Trip Status
                        </label>
                      </div>

                    </div>
                  </div>
                  <div class="col-4 checkbox_col">
                    <label for=""><b>Crew</b></label>

                    <div class="calendar-trip row">
                      <div class="col-1 square">
                        <span class="">
                              <svg height="9" width="7" fill="#ff9900">
                                              <rect width="100%" height="100%" x="0" y="0"></rect>
                                          </svg>
                                        </span>
                      </div>
                      <div class="col-10">
                        <div class="row">
                        <div class="col-12">                    
                                    <svg width="6" height="10" fill="#D3D3D3">
                                        <path d="M0,5 L6,0 L6,10 z"></path>
                                    </svg>
                                    <svg style="margin-right:-3px; margin-left: -3px" height="10" data-bind="attr: {width: viewType() == 'Mini' ? '55px' : '140px'  }" fill="#D3D3D3" width="140px">
                                        <rect color="#D3D3D3" x="0" y="3" height="4" width="100%"></rect>
                                        <rect data-bind="visible: viewType() != 'Mini'" x="52" y="2" height="6" width="18%" fill="#ff9900"></rect>
                                    </svg>   
                                    <svg width="6" height="10" fill="#D3D3D3">
                                        <path d="M0,0 L0,10 L6,5 z"></path> 
                                    </svg>
                        </div></div>

                        <div class="row">
                          <div class="col-6">Air jet Aviation</div>
                          <div class="col-6">1234567</div>
                        </div>
                        <div class="row">
                            <div class="col-2"><b>17:00</b></div>
                            <div class="col-2"><b>KIAD</b></div>
                            <div class="col-2"><b>CYYZ</b></div>
                            <div class="col-2"><b>18:00</b></div>
                            <div class="col-2"><b>12</b></div>

                        </div>
                        <div class="row">
                          <div class="col-6">LJC/PDQ</div>
                          <div class="col-6">N1234</div>
                        </div>
                        <div class="row">
                            <div class="col-12">Trip status </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <label for="" class="label_container">
                          <input type="checkbox" >
                          <span class="checkmark"></span>
                          Departure Date
                        </label>
                      </div>
                      <div class="col-6">
                        <label for="" class="label_container">
                          <input type="checkbox" >
                          <span class="checkmark"></span>
                          Departure time
                        </label>
                      </div>
                      <div class="col-6">
                        <label for="" class="label_container">
                          <input type="checkbox" >
                          <span class="checkmark"></span>
                          Arrivel date
                        </label>
                      </div>
                      
                      <div class="col-6">
                        <label for="" class="label_container">
                          <input type="checkbox" >
                          <span class="checkmark"></span>
                          Arrival Time
                        </label>
                      </div>

                      <div class="col-6">
                        <label for="" class="label_container">
                          <input type="checkbox" >
                          <span class="checkmark"></span>
                          Depart Airport
                        </label>
                      </div>

                      <div class="col-6">
                        <label for="" class="label_container">
                          <input type="checkbox" >
                          <span class="checkmark"></span>
                          Arrive Airport
                        </label>
                      </div>

                      <div class="col-6">
                        <label for="" class="label_container">
                          <input type="checkbox" >
                          <span class="checkmark"></span>
                          Crew
                        </label>
                      </div>

                      <div class="col-6">
                        <label for="" class="label_container">
                          <input type="checkbox" >
                          <span class="checkmark"></span>
                          Pax Count
                        </label>
                      </div>

                      <div class="col-6">
                        <label for="" class="label_container">
                          <input type="checkbox" >
                          <span class="checkmark"></span>
                          Trip #
                        </label>
                      </div>
                      
                      <div class="col-6">
                        <label for="" class="label_container">
                          <input type="checkbox" >
                          <span class="checkmark"></span>
                          Customer
                        </label>
                      </div>

                      <div class="col-6">
                        <label for="" class="label_container">
                          <input type="checkbox" >
                          <span class="checkmark"></span>
                          Tail #
                        </label>
                      </div>

                      <div class="col-6">
                        <label for="" class="label_container">
                          <input type="checkbox" >
                          <span class="checkmark"></span>
                          Leg Status
                        </label>
                      </div>

                      <div class="col-6">
                        <label for="" class="label_container">
                          <input type="checkbox" >
                          <span class="checkmark"></span>
                          Trip Status
                        </label>
                      </div>


                    </div>
                  </div>
                  <div class="col-4 checkbox_col">
                    <label for=""><b>Sales</b></label>

                    <div class="calendar-trip row">
                      <div class="col-1 square">
                        <span class="">
                              <svg height="9" width="7" fill="#ff9900">
                                              <rect width="100%" height="100%" x="0" y="0"></rect>
                                          </svg>
                                        </span>
                      </div>
                      <div class="col-10">
                        <div class="row">
                        <div class="col-12">                    
                                    <svg width="6" height="10" fill="#D3D3D3">
                                        <path d="M0,5 L6,0 L6,10 z"></path>
                                    </svg>
                                    <svg style="margin-right:-3px; margin-left: -3px" height="10" data-bind="attr: {width: viewType() == 'Mini' ? '55px' : '140px'  }" fill="#D3D3D3" width="140px">
                                        <rect color="#D3D3D3" x="0" y="3" height="4" width="100%"></rect>
                                        <rect data-bind="visible: viewType() != 'Mini'" x="52" y="2" height="6" width="18%" fill="#ff9900"></rect>
                                    </svg>   
                                    <svg width="6" height="10" fill="#D3D3D3">
                                        <path d="M0,0 L0,10 L6,5 z"></path> 
                                    </svg>
                        </div></div>

                        <div class="row">
                          <div class="col-6">Air jet Aviation</div>
                          <div class="col-6">1234567</div>
                        </div>
                        <div class="row">
                            <div class="col-2"><b>17:00</b></div>
                            <div class="col-2"><b>KIAD</b></div>
                            <div class="col-2"><b>CYYZ</b></div>
                            <div class="col-2"><b>18:00</b></div>
                            <div class="col-2"><b>12</b></div>

                        </div>
                        <div class="row">
                          <div class="col-6">LJC/PDQ</div>
                          <div class="col-6">N1234</div>
                        </div>
                        <div class="row">
                            <div class="col-12">Trip status </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <label for="" class="label_container">
                          <input type="checkbox" >
                          <span class="checkmark"></span>
                          Departure Date
                        </label>
                      </div>
                      <div class="col-6">
                        <label for="" class="label_container">
                          <input type="checkbox" >
                          <span class="checkmark"></span>
                          Departure time
                        </label>
                      </div>
                      <div class="col-6">
                        <label for="" class="label_container">
                          <input type="checkbox" >
                          <span class="checkmark"></span>
                          Arrivel date
                        </label>
                      </div>
                      
                      <div class="col-6">
                        <label for="" class="label_container">
                          <input type="checkbox" >
                          <span class="checkmark"></span>
                          Arrival Time
                        </label>
                      </div>

                      <div class="col-6">
                        <label for="" class="label_container">
                          <input type="checkbox" >
                          <span class="checkmark"></span>
                          Depart Airport
                        </label>
                      </div>

                      <div class="col-6">
                        <label for="" class="label_container">
                          <input type="checkbox" >
                          <span class="checkmark"></span>
                          Arrive Airport
                        </label>
                      </div>

                      <div class="col-6">
                        <label for="" class="label_container">
                          <input type="checkbox" >
                          <span class="checkmark"></span>
                          Crew
                        </label>
                      </div>

                      <div class="col-6">
                        <label for="" class="label_container">
                          <input type="checkbox" >
                          <span class="checkmark"></span>
                          Pax Count
                        </label>
                      </div>

                      <div class="col-6">
                        <label for="" class="label_container">
                          <input type="checkbox" >
                          <span class="checkmark"></span>
                          Trip #
                        </label>
                      </div>
                      
                      <div class="col-6">
                        <label for="" class="label_container">
                          <input type="checkbox" >
                          <span class="checkmark"></span>
                          Customer
                        </label>
                      </div>

                      <div class="col-6">
                        <label for="" class="label_container">
                          <input type="checkbox" >
                          <span class="checkmark"></span>
                          Tail #
                        </label>
                      </div>

                      <div class="col-6">
                        <label for="" class="label_container">
                          <input type="checkbox" >
                          <span class="checkmark"></span>
                          Leg Status
                        </label>
                      </div>

                      <div class="col-6">
                        <label for="" class="label_container">
                          <input type="checkbox" >
                          <span class="checkmark"></span>
                          Trip Status
                        </label>
                      </div>


                    </div>
                  </div>
                </div>
              </div>
              <!-- Trips Layout -->

              

              <div class="form-group ">
                <div class="row">
                <h5 for="" ><b>Sort Order and Display</b></h5>
                <div class="col-6"><b>Auto show new</b>
                  <label for="" class="label_container">
                          <input type="checkbox" >
                          <span class="checkmark"></span>
                      New aircraft will show at the top of the list and new people at the bottom.
                  </label>
                </div>
                </div>
              </div>

              <div class="form-group ">
                <div class="row">
                  <div class="col-12">
                    <table class="table  table-hover general-table sort-order">
                      <thead>
                        <tr>
                          <th class="first_th">Aircraft/Name</th>
                          <th class="second_th">Type</th>
                          <th >Show/Hide  Crew  Sales  Aircraft </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Brokered aircraft</td>
                          <td>Aircraft</td>
                          <td > 
                            <label for="" class="label_container">
                              <input type="checkbox" >
                              <span class="checkmark"></span>Show</label> 
                          </td>
                        </tr>

                        <tr>
                          <td>00000</td>
                          <td>Aircraft</td>
                          <td > 
                            <label for="" class="label_container">
                              <input type="checkbox" >
                              <span class="checkmark"></span>
                              Show
                            </label>  
                          </td>
                        </tr>

                        <tr>
                          <td>Lopez, Fredie</td>
                          <td>Crew</td>
                          <td > 
                            <label for="" class="label_container">
                              <input type="checkbox" >
                              <span class="checkmark"></span>
                              Show
                            </label>  
                          </td>
                        </tr>
                        
                      </tbody>
                    </table>
                  </div>
                </div>
                
              </div>

              <div class="row form_buttons">
                <button type="button" class="btn btn-info">Save</button>

                <button type="button" class="btn btn-danger">Cancel</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Container-main End -->
  </div>
  