<div class="container-main" id="performance_profiles">
			<div class="row">
				<div class="col-12">
					<h4 class="title-bold">Aircraft Performance</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="col-12">
						<p>Create groups of aircraft performance that you can assign specific aircraft.</p>
					</div>
				</div>
			</div>
			<div class="row">
	           <div class="col-md-12">
					<ul class="nav nav-tabs">
					  	<li class="nav-item" >
					  		<a class="nav-link icon-tab active" data-toggle="tab" href="#active" role="tab" > 
					  			<i class="flaticon-success" aria-hidden="true"></i><br>Active
					  		</a>
					  	</li>
					  	<li class="nav-item" >
					  		<a class="nav-link icon-tab" data-toggle="tab" href="#inactive" role="tab" >
					  			<i class="flaticon-minus" aria-hidden="true"></i><br>Inactive
					  		</a>
					  	</li>
					  	<li class="nav-item ml-auto" >
						  	<a class="nav-link icon-tab " data-toggle="tab" href="#create" role="tab" >
						 	<i class="flaticon-add-2" aria-hidden="true"></i><br>Create</a>
						 </li>
					</ul>
                 <div class="tab-content">      <!-- oeui -->
					<div id="active" class="tab-pane active" role="tabpanel">
						<table class="table  table-hover general-table">
							<thead>
								<tr>
									<th  style="width:20%;" class="first_th">Name</th>
									<th style="width:20%;" class="second_th">Required Runway</th>
									<th style="width:20%;" class="third_th">Cruise Speed (KTAS)</th>
									<th style="width:20%;" class="fourth_th">Included Aircraft</th>
									<th >Options</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>PC-12</td>
									<td>2,000 feet</td>
									<td>250 knots</td>

                                    <td> <p> -  Pilatus PC 12, N807D <br>-Pilatus PC 12, N807D</p> </td>
                                        <!-- oeui -->
									<td >
										<div class="row options-table">
											<div class="col-3 text-primary">  <a routerLink="../../../aircraft/performance_profiles_edit">      <i class="flaticon--basic-edit" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Edit Aircraft Performance"></i></a> </div>
											<div class="col-3 text-success"><i class="fa fa-files-o" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Copy Aircraft Performance" ></i></div>
											<div class="col-3 text-danger"> <i class="fa fa-trash-o" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Delete Aircraft Performance"></i> </div>
										</div>
									</td>
								</tr>
								<tr>
									<td>PC-12</td>
									<td>2,000 feet</td>
									<td>250 knots</td>
								<td> <p> -  Pilatus PC 12, N807D <br>-Pilatus PC 12, N807D</p> </td>
									<td >
										<div class="row options-table">
											<div class="col-3 text-primary">  <a routerLink="../../../aircraft/performance_profiles_edit">      <i class="flaticon--basic-edit" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Edit Aircraft Performance"></i></a> </div>
											<div class="col-3 text-success"><i class="fa fa-files-o" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Copy Aircraft Performance"></i></div>
											<div class="col-3 text-danger"> <i class="fa fa-trash-o" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Delete Aircraft Performance"></i> </div>
										</div>
									</td>
								</tr>
								<tr>
									<td>PC-12</td>
									<td>2,000 feet</td>
									<td>250 knots</td>
									<td> <p> -  Pilatus PC 12, N807D <br>-Pilatus PC 12, N807D</p> </td>
									<td >
										<div class="row options-table">
											<div class="col-3 text-primary">  <a routerLink="../../../aircraft/performance_profiles_edit">      <i class="flaticon--basic-edit" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Edit Aircraft Performance"></i></a> </div>
											<div class="col-3 text-success"><i class="fa fa-files-o" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Copy Aircraft Performance"></i></div>
											<div class="col-3 text-danger"> <i class="fa fa-trash-o" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Delete Aircraft Performance"></i> </div>
										</div>
									</td>
								</tr>
								<tr>
									<td>PC-12</td>
									<td>2,000 feet</td>
									<td>250 knots</td>
								<td> <p> -  Pilatus PC 12, N807D <br>-Pilatus PC 12, N807D</p> </td>
									<td >
										<div class="row options-table">
											<div class="col-3 text-primary">  <a routerLink="../../../aircraft/performance_profiles_edit">      <i class="flaticon--basic-edit" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Edit Aircraft Performance"></i></a> </div>
											<div class="col-3 text-success"><i class="fa fa-files-o" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Copy Aircraft Performance"></i></div>
											<div class="col-3 text-danger"> <i class="fa fa-trash-o" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Delete Aircraft Performance"></i> </div>
										</div>
									</td>
								</tr>
							</tbody>
						</table> <!-- AAAAAAAAAAAAAAAAAA -->
					</div>  <!-- EEEEEEEEEEEEEEEEE-->
					<div id="inactive" class="tab-pane" role="tabpanel">
						<table class="table  table-hover general-table">
							<thead>
								<tr>
								<th  style="width:20%;" class="first_th">Name</th>
									<th style="width:20%;" class="second_th">Required Runway</th>
									<th style="width:20%;" class="third_th">Cruise Speed (KTAS)</th>
									<th style="width:20%;" class="fourth_th">Included Aircraft</th>
									<th >Options</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>PC-12</td>
									<td>2,000 feet</td>
									<td>250 knots</td>
								<td> <p> -  Pilatus PC 12, N807D <br>-Pilatus PC 12, N807D</p> </td>
									<td >
										<div class="row options-table">
											<div class="col-3 text-primary">  <a routerLink="../../../aircraft/performance_profiles_edit">      <i class="flaticon--basic-edit" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Edit Aircraft Performance"></i></a> </div>
											<div class="col-3 text-success"><i class="fa fa-files-o" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Copy Aircraft Performance"></i></div>
											<div class="col-3 text-danger"> <i class="fa fa-trash-o" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Delete Aircraft Performance"></i> </div>
										</div>
									</td>
								</tr>
								<tr>
									<td>PC-12</td>
									<td>2,000 feet</td>
									<td>250 knots</td>
								<td> <p> -  Pilatus PC 12, N807D <br>-Pilatus PC 12, N807D</p> </td>
									<td >
										<div class="row options-table">
											<div class="col-3 text-primary">  <a routerLink="../../../aircraft/performance_profiles_edit">      <i class="flaticon--basic-edit" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Edit Aircraft Performance"></i></a> </div>
											<div class="col-3 text-success"><i class="fa fa-files-o" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Copy Aircraft Performance"></i></div>
											<div class="col-3 text-danger"> <i class="fa fa-trash-o" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Delete Aircraft Performance"></i> </div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
						<div id="create" class="tab-pane " role="tabpanel">
							<div class="row">
								
								<div class="col-12">
								<h4>Create New Performance Profile       <a class="active" data-toggle="modal" data-target="#ModalAddFleet"><i class="collection-flaticon-customer-support text-info icon-separator" data-toggle="tooltip" data-placement="left" title="Help"></i></a></h4>
								<div class="col-12">
									<p>Please fill out the following fields to create a new performance profile and assign it to an aircraft. If you would like, you can choose to load system defaults for any aircraft type that the Avinode Marketplace has data on.</p>
								 </div>
									<h5>Basic Information</h5>
									<div class="form-group">
										<div class="col-12 pad-none input-form">
											<label> <strong> Status</strong></label><br>
											<label>Active</label>
											<label class="switch-toggly">

											  <input type="checkbox" checked>
											  <span class="slider-toggly round"></span>
											</label>
										</div>
										<div class="md-form">
											<input type="text" name="">
											<label>Unique Name*</label>
										</div>
										<div class="col-12 pad-none">
											<label>Use on Aircraft</label>
											<div class="sel sel--black-panther">
												<select >
													<option>Select</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="col-12">
									<h5>Aircraft Data</h5>
									<p><i>Bias Time</i> will add chargeable time to all flight legs. Max Range is only used for calibration itineraries; actual aircraft range is set per aircraft.</p>
									<div class="form-group">
										<div class="row">
											<div class="col-6">
												<div class="md-form">
									
													<input style="width: 100%" type="text" name="">
													<label >Max Range*(NM)</label>

												</div>
												<div class="md-form">
													<input type="text" name="">
													<label>Bias Time*(h)</label>
												</div>
												<div class="md-form">
													<input type="text" name="">
													<label>Required Runway*(feet)</label>
												</div>
											</div>
											<div class="col-6">
												<div class="md-form">
													<input type="text" name="">
													<label>Turnaround Time*(h)</label>
												</div>
												<div class="md-form">
													<input type="text" name="">
													<label>Fuel Stop Time*(h)</label>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-12">
									<h5>Performance</h5>
									<div class="form-group">
										<div class="row">
											<div class="col-6">
												<div class="">
													<label>Wind Model*</label>
													<label for="" class="label_container">
														<input type="radio" name="radio" value="None" checked="">
														<span  class="checkmark radio_button"></span>None</label>
													<label for="" class="label_container">
														<input type="radio" name="radio" value="Seasonal" checked="">
														<span  class="checkmark radio_button"></span>Seasonal
													</label>
												</div>
												<div class="md-form">
													<input type="text" name="">
													<label>Rate of Climb*(ft/min)</label>
												</div>
												<div class="md-form">
													<input type="text" name="">
													<label>Rate of Descent*(ft/min)</label>
												</div>
												<div class="md-form">
													<input type="text" name="">
													<label>Typical Cruise Altitude*(flight level)</label>
												</div>
											</div>
											<div class="col-6">
												<div class="">
													<label>Flight Rounding</label>
													<label for="" class="label_container">
														<input type="checkbox">
														<span class="checkmark"></span>
														Round-up to tenths
													</label>
												</div>
												<div class="md-form">
													<input type="text" name="">
													<label>Takeoff Speed*(knots)</label>
												</div>
												<div class="md-form">
													<input type="text" name="">
													<label>Landing Speed*(knots)</label>
												</div>
												<div class="md-form">
													<input type="text" name="">
													<label>Cruise Speed (KTAS)*(knots)</label>
												</div>
											</div>
										</div>
									</div>
								</div>                      
							</div>
							   <div class="row form_buttons">
								<button  type="button"  class="btn btn-info">Save</button>

								<button type="button" class="btn btn-danger">Cancel</button>
							  </div>
						</div>
					</div>
				</div>
			</div>
	     </div> <!-- container main -->