<div class="sidebar-menu">
		<nav class="navigation">
			<div class="text-center">
				<img src="assets/images/logo.png" style="width: 100%">
			</div>
			<ul class="nav nav-tabs tabs-menu" role="tablist">
				<li class="nav-item tabs-menu-item">
					<a class="nav-link active" data-toggle="tab" href="#Calendar" role="tab"><i class="flaticon-calendar-4" aria-hidden="true"></i></a></li>
				<li class="nav-item tabs-menu-item">
					<a class="nav-link" data-toggle="tab" href="#Trips" role="tab" ><i class="flaticon-archive-2" aria-hidden="true"></i></a>
				</li>
				<li class="nav-item tabs-menu-item">
					<a class="nav-link" data-toggle="tab" href="#Aircraft" role="tab" ><i class="collection-flaticon-transport" aria-hidden="true"></i></a>
				</li>
				<li class="nav-item tabs-menu-item">
					<a class="nav-link" data-toggle="tab" href="#Company" role="tab" ><i class="flaticon-cloud" aria-hidden="true"></i></a>
				</li>
			</ul>
		</nav>
		<nav class="sidebar-submenu">
		<div class="tab-content">
			<div class="tab-pane active" id="Calendar" role="tabpanel">
				<div class="text-center">
					<h2>Calendar</h2>
				</div>
				<ul class="tabs-sub-menu">
					<!-- <li class="tabs-sub-menu-item">
						<a class="active" href="../1-calendar/create_calendar.html#create"><i class="fa fa-plus" aria-hidden="true"></i> Create New</a>
					</li> -->
					<li class="tabs-sub-menu-item">
						<a routerLink="calendar" class="active"><i class="fa fa-eye" aria-hidden="true" hidden></i> View All</a>
					</li>
				</ul>
			</div>
		  	<div class="tab-pane" id="Trips" role="tabpanel">
		  		<div class="text-center">
					<h2>Trips</h2>
				</div>
				<ul class="tabs-sub-menu">

					<li class="tabs-sub-menu-item">
						<a routerLink="trips/create_trip"><i class="fa fa-plane" aria-hidden="true" hidden></i> Create Trip</a>
					</li>

					<li class="tabs-sub-menu-item">
						<a routerLink="trips/scheduled_trips" ><i class="fa fa-calendar-check-o" aria-hidden="true" hidden></i> Scheduled Trips</a>							
					</li>
					<li class="tabs-sub-menu-item">
						<a routerLink="trips/fuel"><i class="fa fa-fire" aria-hidden="true" hidden></i> Fuel</a>
					</li>
					<li class="tabs-sub-menu-item">
						<a routerLink="trips/flight_logs"><i class="fa fa-sticky-note-o" aria-hidden="true" hidden></i> Flight Logs</a>
					</li>

				</ul>
		  	</div>
		  	<div class="tab-pane" id="Aircraft" role="tabpanel">
		  		<div class="text-center">
					<h2>Aircraft</h2>
				</div>
				<ul class="tabs-sub-menu">
					<li class="tabs-sub-menu-item">
						<a routerLink="aircraft/fleet" ><i class="fa fa-users" aria-hidden="true" hidden></i> Fleet</a>						
					</li>
					<li class="tabs-sub-menu-item">
						<a routerLink="aircraft/performance_profiles"><i class="fa fa-check" aria-hidden="true" hidden></i> Performance Profiles</a>		
					</li>
					<li class="tabs-sub-menu-item">
						<a href=""><i class="fa fa-lock" aria-hidden="true" hidden></i> Permissions</a>
					</li>
					<li class="tabs-sub-menu-item">
						<a href=""><i class="fa fa-clock-o" aria-hidden="true" hidden></i> Airport Bias Time</a>
					</li>
					<li class="tabs-sub-menu-item">
						<a href=""><i class="fa fa-plane" aria-hidden="true" hidden></i> Aircraft Logs</a>
					</li>
				</ul>
		  	</div>
		  	<div class="tab-pane" id="Company" role="tabpanel">
		  		<div class="text-center">
					<h2>Company</h2>
				</div>
				<ul class="tabs-sub-menu">
					<li class="tabs-sub-menu-item">
						<a routerLink="company/company_details"><i class="fa fa-building" aria-hidden="true" hidden></i> Company</a>
					</li>
					<li class="tabs-sub-menu-item">
						<a routerLink="company/users"><i class="fa fa-user" aria-hidden="true" hidden></i> Users</a>
					</li>
					<li class="tabs-sub-menu-item">
						<a routerLink="company/customers"><i class="fa fa-users" aria-hidden="true" hidden></i> Customers</a>
					</li>
					<li class="tabs-sub-menu-item">
						<a routerLink="company/pilots"><i class="fa fa-id-card-o" aria-hidden="true" hidden></i> Pilots</a>
					</li>
					<li class="tabs-sub-menu-item">
						<a href=""><i class="fa fa-life-ring" aria-hidden="true" hidden></i> Insurance</a>
					</li>
					<li class="tabs-sub-menu-item">
						<a routerLink="company/settings"><i class="fa fa-cog" aria-hidden="true" hidden></i> Settings</a>
					</li>
					<li class="tabs-sub-menu-item">
						<a href=""><i class="fa fa-exclamation-triangle" aria-hidden="true" hidden></i> Reports</a>
					</li>
				</ul>
		  	</div>
		</div>
		</nav>
	</div>



	