<div class="container-main" data-id="fleet_edit">
			<div class="row">
				<div class="col-7">
					<h4 class="title-bold">{{aircraftData.registration}}, {{aircraftData.name}}</h4>
										
				</div>
				<div class="col-1 pr-0">
					<label><strong>Change Aircraft</strong></label>
				</div>
				<div class="col-4 pl-0">
					<div class="sel sel--black-panther">
						<select >
							<option selected disabled>Jump to aircraft</option>
							<option>N807D, Pilatus PC 12</option>
							<option>N859PL, Pilatus PC 12</option>
						</select>
					</div>

					
				</div>
				<!-- <div class="col-1">
					<span>Help</span>
				</div> -->
			</div>
			<div class="row">
				<div class="col-12">
					<ul class="nav nav-tabs">
					  	<li class="nav-item" >
					  		<a class="nav-link icon-tab active" data-toggle="tab" href="#fleetBasics" role="tab" > 
					  			<i class="flaticon-folder-13" aria-hidden="true"></i><br>Basics</a>
					  	</li>
					  	<li class="nav-item" >
					  		<a class="nav-link icon-tab" data-toggle="tab" href="#fleetDetails" role="tab" >
					  			<i class="flaticon-folder-14" aria-hidden="true"></i><br>Details</a>
					  	</li>
					  	<li class="nav-item" >
					  		<a class="nav-link icon-tab" data-toggle="tab" href="#fleetAirports" role="tab" >
					  			<i class="collection-flaticon-transport" aria-hidden="true"></i><br>Airports</a>
					  	</li>
					  	<li class="nav-item" >
					  		<a class="nav-link icon-tab" data-toggle="tab" href="#fleetGeography" role="tab" >
					  			<i class="flaticon-worldwide" aria-hidden="true"></i><br>Geography</a>
					  	</li>
					  	<li class="nav-item" >
					  		<a class="nav-link icon-tab" data-toggle="tab" href="#fleetPhotos" role="tab" >
					  			<i class="flaticon-photo-camera" aria-hidden="true"></i><br>Photos</a>
					  	</li>
					  	<!-- <li class="nav-item" >
					  		<a class="nav-link icon-tab" data-toggle="tab" href="#fleetPricing" role="tab" >
					  			<i class="flaticon-minus" aria-hidden="true"></i><br>One way Pricing</a>
					  	</li>
					  	<li class="nav-item" >
					  		<a class="nav-link icon-tab" data-toggle="tab" href="#fleetProfile" role="tab" >
					  			<i class="flaticon-minus" aria-hidden="true"></i><br>Profiles</a>
					  	</li> -->
					  	<li class="nav-item" >
					  		<a class="nav-link icon-tab" data-toggle="tab" href="#fleetTasks" role="tab" >
					  			<i class="flaticon-notepad" aria-hidden="true"></i><br>Tasks</a>
					  	</li>
					</ul>
					<div class="tab-content">
						<div id="fleetBasics" class="tab-pane active" role="tabpanel">
							<div class="row">
								<div class="col-12">
									<p><b>Modified:</b>	{{aircraftData.updated_at}} <b>Created:</b> {{aircraftData.created_at}}</p>
								</div>
								<div class="col-12">
									<h5>Aircraft</h5>
									<div class="form-group">
										<div class="row">
											<div class="col-6">
												<div class="md-form">
													<input type="text" name="" [(ngModel)]='regNum' >
													<label *ngIf="!regNum">Registration Number*</label>
												</div>
												<div class="md-form">
														<ngx-select [allowClear]="true"
														[items]="aircraftType"
														[(ngModel)]="type"
														placeholder="Type*"
														>
													</ngx-select> 
												</div>
												<div class="md-form">
													<input type="text" name="" [(ngModel)]='serial_number'>
													<label *ngIf='!serial_number'>Serial Number</label>
												</div>
												<div class="md-form">
													<input type="text" name="">
													<label>Manufacturing Year*</label>
												</div>
											</div>
											<div class="col-6">
											</div>
										</div>
										
									</div>
								</div>
								<div class="col-12">
									<h5>Set up</h5>
									<div class="form-group">
										<div class="row">
											<div class="col-6">
												<div class="md-form">
													<input type="text" name="">
													<label>Default Homebase*</label>
												</div>
												<div class="md-form">
													<input type="text" name="">
													<label>Max Range*</label>
												</div>
												<div class="md-form">
													<input type="text" name="">
													<label>Range at Max PAX</label>
												</div>
												<div class="">
													<label>Owner Approval*</label>
													<label for="" class="label_container">
														<input type="radio" name="radio" value="Yes" checked="">
														<span class="checkmark radio_button"></span>Yes
													</label>
													<label for="" class="label_container">
														<input type="radio" name="radio" value="No" checked="">
														<span class="checkmark radio_button"></span>No
													</label>
													<label for="" class="label_container">
														<input type="radio" name="radio" value="Unknown" checked="">
														<span class="checkmark radio_button"></span>Unknown
													</label>
												</div>
											</div>
											<div class="col-6">
												<div class="md-form">
													<input type="text" name="">
													<label>Max PAX*</label>
												</div>
												<div class="md-form">
													<input type="text" name="">
													<label>PAX at Max Range*</label>
												</div>
												<div class="md-form">
													<input type="text" name="">
													<label>Min PAX</label>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-12">
									<h5>Aircraft Basics</h5>
									<div class="form-group">
										<div class="row">
											<div class="col-6">
												<div class="">
													<label>Options</label><br>
													<label for="" class="label_container">
														<input type="checkbox">
														<span class="checkmark"></span>
														Cargo capable
													</label>
													<label for="" class="label_container">
														<input type="checkbox">
														<span class="checkmark"></span>
														Ambulance
													</label>
												</div>
												<div class="">
													<div class="sel sel--black-panther">
														<select >
															<option selected>Dispatch Office*</option>
														</select>
													</div>
												</div>
												
											</div>
											<div class="col-6">
												<div class="md-form">
													<input type="text" name="">
													<label>Call Sign</label>
												</div>
												<div class="md-form">
													<input type="text" name="">
													<label>Interior Refurbished</label>
												</div>
												<div class="md-form">
													<input type="text" name="">
													<label>Exterior Refurbished</label>
												</div>
											</div>
										</div>
										
									</div>
								</div>
								<div class="col-12">
									<h5>Marketing</h5>
									<div class="form-group">
										<div class="row">
											<div class="col-12 mb-2">
												<div class="col-6 pl-0">
				       								<label for=""><b>Aircraft Fact Sheet</b></label>
				       								<div class="input-file-container mx-auto">  
                                    				<input class="input-file" data-id="0" type="file">
													<label tabindex="0" for="my-file" class="input-file-trigger"><span class="file-return" id="return1"><i class="flaticon-cloud-computing"></i>     Select a file...</span></label>
                                					</div>
				       							</div>
											</div>
											<div class="col-12">
												<div class="md-form">
													<textarea class=""></textarea>
													<label>Description</label>
												</div>
												<div class="md-form">
													<textarea class=""></textarea>
													<label>Price Info Text</label>
												</div>
												
											</div>

										</div>
										
									</div>
								</div>
								<div class="col-12">
									<h5>Amenities</h5>
									<div class="form-group">
										<div class="row">
											<div class="col-12 text-right">

												<i class="flaticon--basic-add enlarge-icon" data-toggle="modal" data-target="#ModalUpdateAmenities"></i> Update Amenities
												<!-- <span class="icon-fla icon-lg icon-fla-edit" data-toggle="tooltip" data-placement="right" title="Edit Intinerary"></span> -->
											</div>
										</div>
										<div class="row">
											<div class="col-3">
												<p>Most Used</p>
											</div>
											<div class="col-3">
												<p>Crew</p>
											</div>
											<div class="col-3">
												<p>Lavatory</p>
											</div>
											<div class="col-3">
												<p>Seating</p>
											</div>
											<div class="col-3">
												<p>General</p>
											</div>
											<div class="col-3">
												<p>Entertainment</p>
											</div>
											<div class="col-3">
												<p>Communication</p>
											</div>
											<div class="col-3">
												<p>Kitchen</p>
											</div>

										</div>
										
									</div>
								</div>

							</div>
							<div class="row form_buttons">
								<button type="button" class="btn btn-info" (click)="updateAircraft(aircraftData.id)">Save</button>
								<button type="button" class="btn btn-danger">Cancel</button>
							</div>	
						</div>
						<div id="fleetDetails" class="tab-pane" role="tabpanel">
							<div class="row">
								<div class="col-12">
									<h5>Basics</h5>
									<div class="form-group">
										<div class="row">
											<div class="col-6">
												<div class="md-form">
													<input type="text" name="">
													<label>Maintenance Base</label>
												</div>
												<div class="">
													<div class="sel sel--black-panther">
														<select >
															<option selected>Ownership</option>
															<option>Managed</option>
															<option>Owned</option>
															<option>Other</option>
														</select>
													</div>
												</div>
												<div class="md-form">
													<input type="text" name="">
													<label>Aircraft operator</label>
												</div>
												<div class="md-form">
													<input type="text" name="">
													<label>Aircraft lessee/owner</label>
												</div>
											</div>
											<div class="col-6">
												<div class="md-form">
													<input type="text" name="">
													<label>Exterior color(s)</label>
												</div>
												<div class="md-form">
													<input type="text" name="">
													<label>Interior color(s)</label>
												</div>
												<div class="md-form">
													<input type="text" name="">
													<label>CBP decal</label>
												</div>
											</div>
										</div>
										
									</div>
								</div>
								<div class="col-12">
									<h5>Equipment/medical</h5>
									<div class="form-group">
										<div class="row">
											<label for="" class="col-3 label_container">
												<input type="checkbox">
												<span class="checkmark"></span>
												MEL
											</label>
											<label for="" class="col-3 label_container">
												<input type="checkbox">
												<span class="checkmark"></span>
												Technician
											</label>
											<label for="" class="col-3 label_container">
												<input type="checkbox">
												<span class="checkmark"></span>
												RAAS
											</label>
											<label for="" class="col-3 label_container">
												<input type="checkbox">
												<span class="checkmark"></span>
												First aid kit
											</label>
											<label for="" class="col-3 label_container">
												<input type="checkbox">
												<span class="checkmark"></span>
												Life limit list
											</label>
											<label for="" class="col-3 label_container">
												<input type="checkbox">
												<span class="checkmark"></span>
												EVAS
											</label>
											<label for="" class="col-3 label_container">
												<input type="checkbox">
												<span class="checkmark"></span>
												TCAS
											</label>
											<label for="" class="col-3 label_container">
												<input type="checkbox">
												<span class="checkmark"></span>
												MedLink
											</label>
											<label for="" class="col-3 label_container">
												<input type="checkbox">
												<span class="checkmark"></span>
												Over water equipment
											</label>
											<label for="" class="col-3 label_container">
												<input type="checkbox">
												<span class="checkmark"></span>
												ELT 121.5 MHz
											</label>
											<label for="" class="col-3 label_container">
												<input type="checkbox">
												<span class="checkmark"></span>
												GPWS
											</label>
											<label for="" class="col-3 label_container">
												<input type="checkbox">
												<span class="checkmark"></span>
												Defibrillator
											</label>
											<label for="" class="col-3 label_container">
												<input type="checkbox">
												<span class="checkmark"></span>
												FMS
											</label>
											<label for="" class="col-3 label_container">
												<input type="checkbox">
												<span class="checkmark"></span>
												ELT 406 MHz
											</label>
											<label for="" class="col-3 label_container">
												<input type="checkbox">
												<span class="checkmark"></span>
												EGPWS
											</label>
											<label for="" class="col-3 label_container">
												<input type="checkbox">
												<span class="checkmark"></span>
												Medical kit
											</label>
											<label for="" class="col-3 label_container">
												<input type="checkbox">
												<span class="checkmark"></span>
												FDR
											</label>
											<label for="" class="col-3 label_container">
												<input type="checkbox">
												<span class="checkmark"></span>
												GPS
											</label>
											<label for="" class="col-3 label_container">
												<input type="checkbox">
												<span class="checkmark"></span>
												RVSM
											</label>
											<label for="" class="col-3 label_container">
												<input type="checkbox">
												<span class="checkmark"></span>
												Air ambulance
											</label>
											<label for="" class="col-3 label_container">
												<input type="checkbox">
												<span class="checkmark"></span>
												CVR
											</label>
											<label for="" class="col-3 label_container">
												<input type="checkbox">
												<span class="checkmark"></span>
												RNP5
											</label>
											<label for="" class="col-3 label_container">
												<input type="checkbox">
												<span class="checkmark"></span>
												TAWS
											</label>
											<label for="" class="col-3 label_container">
												<input type="checkbox">
												<span class="checkmark"></span>
												AED
											</label>
											<label for="" class="col-3 label_container">
												<input type="checkbox">
												<span class="checkmark"></span>
												RNAV
											</label>
											<label for="" class="col-3 label_container">
												<input type="checkbox">
												<span class="checkmark"></span>
												RNP10
											</label>
											<label for="" class="col-3 label_container">
												<input type="checkbox">
												<span class="checkmark"></span>
												ETOPS
											</label>
											<label for="" class="col-3 label_container">
												<input type="checkbox">
												<span class="checkmark"></span>
												APU
											</label>
											<label for="" class="col-3 label_container">
												<input type="checkbox">
												<span class="checkmark"></span>
												8.33 kHz frequency separation
											</label>

							            </div>
									</div>
								</div>
								<div class="col-12">
									<h5>Engines</h5>
									<div class="form-group">
										<div class="row">
											<div class="col-6">
												<div class="md-form prefix-icon">
													<input type="text" name="" data-daterange="true">
													<label>Last weight &amp; balance</label>
													<i class="flaticon--basic-calendar"></i>
												</div>
												<div class="md-form prefix-icon" >
													<input type="text" name="" data-daterange="true">
													<label>Last static check</label>
													<i class="flaticon--basic-calendar"></i>
												</div>
												<div class="md-form prefix-icon">
													<input type="text" name="" data-daterange="true">
													<label>Last transponder check</label>
													<i class="flaticon--basic-calendar"></i>
												</div>
												<div class="md-form">
													<input type="text" name="">
													<label>AFM revision number</label>
												</div>
												<div class="md-form prefix-icon">
													<input type="text" name="" data-daterange="true">
													<label>AFM revision date</label>
													<i class="flaticon--basic-calendar"></i>
												</div>
											</div>
											<div class="col-6">
												<div class="md-form">
													<input type="text" name="">
													<label>Engine type</label>
												</div>
												<div class="">
													<div class="sel sel--black-panther">
														<select >
															<option selected disabled>Number of engines</option>
															<option>1</option>
															<option>2</option>
															<option>3</option>
															<option>4</option>
														</select>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>


							</div>
							<div class="row form_buttons">
								<button type="button" class="btn btn-info">Save</button>
								<button type="button" class="btn btn-danger">Cancel</button>
							</div>	
						</div>
						<div id="fleetAirports" class="tab-pane" role="tabpanel">
							
						
							<div class="form-group">
								<div class="row text-right">
									<span class="col-12">
										<i class="flaticon--basic-add enlarge-icon" data-toggle="modal" data-target="#ModalAddAirport"></i><small> Add Airport</small>
									</span>
								</div>

								<div class="row">
									<table class="table table-hover general-table">
										<thead>
											<tr>
												<th>ICAO airport/region</th>
												<th>Opening Hour</th>
												<th>Closing Hour</th>
												<th>Options</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>SPJC, LIM - Jorge Chavez Intl, Lima, Peru</td>
												<td>10:00 AM</td>
												<td>12:00 PM</td>
												<td>
													<div></div>
													<i class="flaticon--basic-edit text-primary" data-toggle="modal" data-target="#ModalEditAirport"></i>

													<i class="flaticon--basic-garbage text-danger" aria-hidden="true"></i>
												</td>
											</tr>													
										</tbody>
									</table>
								</div>
							</div>	
							<div class="row form_buttons">
								<button type="button" class="btn btn-info">Save</button>
								<button type="button" class="btn btn-danger">Cancel</button>
							</div>				
						</div>
						<!-- fleet geography -->
						<div id="fleetGeography" class="tab-pane" role="tabpanel">
							<div class="form-group">
								<div class="row">
									<div class="col-12">
										<h5>Domestic Areas</h5>
									</div>
									<div class="col-12">
										<div class="sel sel--black-panther">
											<select >
												<option selected>Domestic Areas</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-12">
										<h5>Restricted Areas</h5>
									</div>
									<div class="col-12">
										<div class="sel sel--black-panther">
											<select >
												<option selected>Restricted Areas</option>
											</select>
										</div>
									</div>
									<div class="col-12">
										<div class="sel sel--black-panther">
											<select >
												<option selected>Exception Areas</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="row form_buttons">
								<button type="button" class="btn btn-info">Save</button>
								<button type="button" class="btn btn-danger">Cancel</button>
							</div>	
						</div>
						<!-- photos -->
						<div id="fleetPhotos" class="tab-pane" role="tabpanel">
							<div class="form-group">
								<div class="row text-right">
									<span class="col-12">
										<i class="flaticon--basic-add enlarge-icon" aria-hidden="true" data-toggle="modal" data-target="#ModalAddPhoto"></i>
										<small> Add Photos</small> 
									</span>
								</div>

								<div class="row">
									<table class="table table-hover general-table">
										<thead>
											<tr>
												<th>Photo</th>
												<th>Type</th>
												<th>Visibility</th>
												<th>Options</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><i class="flaticon-picture-1 text-warning"></i></td>
												<td>Exterior</td>
												<td>Public</td>
												<td>
													<i class="flaticon--basic-edit text-primary" data-toggle="modal" data-target="#ModalEditPhoto"></i>
													<i class="flaticon--basic-garbage text-danger" aria-hidden="true"></i>
												</td>
											</tr>													
										</tbody>
									</table>
								</div>
							</div>	
							<div class="row form_buttons">
								<button type="button" class="btn btn-info">Save</button>
								<button type="button" class="btn btn-danger">Cancel</button>
							</div>	
						</div>
						<div id="fleetTasks" class="tab-pane" role="tabpanel">
							<div class="form-group">
								<div class="row text-right">
									<span class="col-12">
										<i class="flaticon--basic-add enlarge-icon" data-toggle="modal" data-target="#ModalAddTask"></i><small> Add Task</small> 
									</span>
								</div>

								<div class="row">
									<table class="table table-hover general-table">
										<thead>
											<tr>
												<th>Task</th>
												<th>Assigned to</th>
												<th>Created</th>
												<th>Due</th>
												<th>Done</th>
												<th>Options</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Task1</td>
												<td>Jesse Vangemeren</td>
												<td>12/17/69</td>
												<td>12/25/69</td>
												<td>
													<label for="" class="label_container">
															<input type="checkbox"><span class="checkmark"></span>
													</label>
												</td>
												<td>
													<i class="flaticon--basic-edit text-primary" data-toggle="modal" data-target="#ModalEditTask"></i>
													<i class="flaticon--basic-garbage text-danger" aria-hidden="true"></i>
												</td>
											</tr>													
										</tbody>
									</table>
								</div>
							</div>	
							<div class="row form_buttons">
								<button type="button" class="btn btn-info">Save</button>
								<button type="button" class="btn btn-danger">Cancel</button>
							</div>	
						</div>

					</div>


<!-- Modals -->
		<!-- ModalAddAirport -->
			<div class="modal fade" id="ModalAddAirport">
			  <div class="modal-dialog modal-lg">
			    <div class="modal-content">

			      <!-- Modal Header -->
			      <div class="modal-header">
			        <h4 class="modal-title">Add New Airport</h4>
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			      </div>

			      <!-- Modal body -->
			      <div class="modal-body">
				      	<div class="col-12">
							<div class="sel sel--black-panther">
								<select >
									<option selected>ICAO/Airport Region</option>
								</select>
							</div>
						</div>
						<div class="md-form col-6">
							<input type="text" name="">	
							<label>Opening Hour</label>
						</div>    
						<div class="md-form col-6">
							<input type="text" name="">	
							<label>Closing Hour</label>
						</div>   
			      </div>

			      <!-- Modal footer -->
			      <div class="modal-footer">
			        <button type="button" class="btn btn-success" >Create</button>
			        <button type="button" class="btn btn-danger" data-dismiss="modal" >Cancel</button>
			      </div>

			    </div>
			  </div>
			</div>
		<!-- End ModalAddAirport -->
		<!-- ModalEditAirport -->
			<div class="modal fade" id="ModalEditAirport">
			  <div class="modal-dialog modal-lg">
			    <div class="modal-content">

			      <!-- Modal Header -->
			      <div class="modal-header">
			        <h4 class="modal-title">Edit Airport</h4>
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			      </div>

			      <!-- Modal body -->
			      <div class="modal-body">
				      	<div class="col-12">
							<div class="sel sel--black-panther">
								<select >
									<option selected>ICAO/Airport Region</option>
								</select>
							</div>
						</div>
						<div class="md-form col-6">
							<input type="text" name="">	
							<label>Opening Hour</label>
						</div>    
						<div class="md-form col-6">
							<input type="text" name="">	
							<label>Closing Hour</label>
						</div>   
			      </div>

			      <!-- Modal footer -->
			      <div class="modal-footer">
			        <button type="button" class="btn btn-success" >Create</button>
			        <button type="button" class="btn btn-danger" data-dismiss="modal" >Cancel</button>
			      </div>

			    </div>
			  </div>
			</div>
		<!-- End ModalEditAirport -->
		<!-- ModalAddPhoto -->
			<div class="modal fade" id="ModalAddPhoto">
			  <div class="modal-dialog modal-lg">
			    <div class="modal-content">

			      <!-- Modal Header -->
			      <div class="modal-header">
			        <h4 class="modal-title">Add New Photo</h4>
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			      </div>

			      <!-- Modal body -->
			      <div class="modal-body">
			      		<div class="col-12 mb-4">
							<div class="col-6 pl-0">
								<label for=""><b>Upload Photo</b></label>
								<div class="input-file-container mx-auto">  
                    				<input class="input-file" data-id="1" type="file">
									<label tabindex="0" for="my-file" class="input-file-trigger"><span class="file-return" id="return2"><i class="flaticon-cloud-computing"></i>     Select a file...</span></label>
                					</div>
							</div>
						</div>
				      	<div class="col-12">
							<div class="sel sel--black-panther top">
								<select >
									<option selected>Photo type*</option>
									<option>Exterior</option>
									<option>Interior</option>
									<option>Floor Plan</option>
									<option>Other</option>
								</select>
							</div>
						</div>
						<div class="col-12">
							<div class="sel sel--black-panther">
								<select >
									<option selected>Visibility</option>
									<option>Public</option>
									<option>Private</option>
								</select>
							</div>
						</div>     
			      </div>

			      <!-- Modal footer -->
			      <div class="modal-footer">
			        <button type="button" class="btn btn-success" >Upload</button>
			        <button type="button" class="btn btn-danger" data-dismiss="modal" >Cancel</button>
			      </div>

			    </div>
			  </div>
			</div>
		<!-- End ModalAddPhoto -->
		<!-- ModalEditPhoto -->
			<div class="modal fade" id="ModalEditPhoto">
			  <div class="modal-dialog modal-lg">
			    <div class="modal-content">

			      <!-- Modal Header -->
			      <div class="modal-header">
			        <h4 class="modal-title">Edit Photo</h4>
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			      </div>

			      <!-- Modal body -->
			      <div class="modal-body">
			      		<div class="col-12 mb-2">
							<div class="col-6 pl-0">
								<label for=""><b>Upload Photo</b></label>
								<div class="input-file-container mx-auto">  
                    				<input class="input-file" data-id="2" type="file">
									<label tabindex="0" for="my-file" class="input-file-trigger"><span class="file-return" id="return3"><i class="flaticon-cloud-computing"></i>     Select a file...</span></label>
                					</div>
							</div>
						</div>
				      	<div class="col-12">
							<div class="sel sel--black-panther top">
								<select >
									<option selected>Photo type*</option>
									<option>Exterior</option>
									<option>Interior</option>
									<option>Floor Plan</option>
									<option>Other</option>
								</select>
							</div>
						</div>
						<div class="col-12">
							<div class="sel sel--black-panther">
								<select >
									<option selected>Visibility</option>
									<option>Public</option>
									<option>Private</option>
								</select>
							</div>
						</div>     
			      </div>

			      <!-- Modal footer -->
			      <div class="modal-footer">
			        <button type="button" class="btn btn-success" >Upload</button>
			        <button type="button" class="btn btn-danger" data-dismiss="modal" >Cancel</button>
			      </div>

			    </div>
			  </div>
			</div>
		<!-- End ModalEditPhoto -->
		<!--  ModalAddTask -->
			<div class="modal fade" id="ModalAddTask">
			  <div class="modal-dialog modal-lg">
			    <div class="modal-content">

			      <!-- Modal Header -->
			      <div class="modal-header">
			        <h4 class="modal-title"></h4>
			        <h5 class="mb-0">Add Task</h5>
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			      </div>

			      <!-- Modal body -->
			      <div class="modal-body">
			       	<form action="">
			       		
			       		<div class="row mb-2">
			       			<div class="col-12">
			       				<span>Task in regards to <a href="">Trip 12703653</a> </span>
			       			</div>
			       		</div>

			       		<div class="row mb-2">
			       			<div class="col-1 pt-1">
			       				<span><b>For</b></span>
			       			</div>
			       			
			       			<div class="col-8">
								<span>
									<div class="md-form">
										<input type="text" name="">
									</div>
								</span>
							</div>
			       				
			       		</div>

			       		<div class="row">
			       			<div class="md-form col-7">
								<input type="text" id="form40" class="form-control">
								<label for="form40" class="">Task *</label>
							</div>
							<div class="md-form prefix-icon">
								<input type="text" name="" data-daterange="true">
								<label>Due</label>
								<i class="flaticon--basic-calendar"></i>
							</div>
			       		</div>
			       		<div class="row">
			       			<div class="col-2">
			       				<label for="" class="label_container">
									<input type="checkbox" >
										<span class="checkmark"></span>
											Email Reminder
								</label>
			       			</div>
			       			<div class="md-form prefix-icon">
								<input type="text" name="" data-daterange="true">
								<label>mm/dd/yy</label>
								<i class="flaticon--basic-calendar"></i>
							</div>
			       			
			       			<div class="col-2">
			       				<div class="sel sel--black-panther">
									<select name="select-profession" id="select-profession">
									    <option value="" disabled>PST</option>
									    <option value="">00:00</option>
									    <option value="">00:30</option>			    
									</select>
								</div>
			       			</div>
			       		</div>
			       	</form>
			      </div>

			      <!-- Modal footer -->
			      <div class="modal-footer">
			       		<div>
			       			<button type="button" class="btn btn-info float-right" >Save</button>
			       		</div>
			       		<div>
			       			<button type="button" class="btn btn-danger float-right" data-dismiss="modal">Cancel</button>
			       		</div>
			      </div>

			    </div>
			  </div>
			</div>
		<!-- End ModalAddTask -->
		<!--  ModalEditTask -->
			<div class="modal fade" id="ModalEditTask">
			  <div class="modal-dialog modal-lg">
			    <div class="modal-content">

			      <!-- Modal Header -->
			      <div class="modal-header">
			        <h4 class="modal-title"></h4>
			        <h5 class="mb-0">Edit Task</h5>
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			      </div>

			      <!-- Modal body -->
			      <div class="modal-body">
			       	<form action="">
			       		
			       		<div class="row mb-2">
			       			<div class="col-12">
			       				<span>Task in regards to <a href="">Trip 12703653</a> </span>
			       			</div>
			       		</div>

			       		<div class="row mb-2">
			       			<div class="col-1 pt-1">
			       				<span><b>For</b></span>
			       			</div>
			       			
			       			<div class="col-8">
			       				<span>Jesse Vangemeren (jesse.vangemeren@gmail.com)</span><span><i class="flaticon--basic-garbage text-danger" aria-hidden="true"></i></span>
			       			</div>
			       				
			       		</div>

			       		<div class="row">
			       			<div class="md-form col-7">
								<input type="text" id="form40" class="form-control">
								<label for="form40" class="">Task *</label>
							</div>
							<div class="md-form prefix-icon">
								<input type="text" name="" data-daterange="true">
								<label>Due</label>
								<i class="flaticon--basic-calendar"></i>
							</div>
			       		</div>
			       		<div class="row">
			       			<div class="col-2">
			       				<label for="" class="label_container">
									<input type="checkbox" >
										<span class="checkmark"></span>
											Email Reminder
								</label>
			       			</div>
			       			<div class="md-form prefix-icon">
								<input type="text" name="" data-daterange="true">
								<label>mm/dd/yy</label>
								<i class="flaticon--basic-calendar"></i>
							</div>
			       			
			       			<div class="col-2">
			       				<div class="sel sel--black-panther">
									<select name="select-profession" id="select-profession">
									    <option value="" disabled>PST</option>
									    <option value="">00:00</option>
									    <option value="">00:30</option>			    
									</select>
								</div>
			       			</div>
			       		</div>
			       	</form>
			      </div>

			      <!-- Modal footer -->
			      <div class="modal-footer">
			        	<div>
			       			<button type="button" class="btn btn-warning float-right" >Delete</button>
			       		</div>
			       		<div>
			       			<button type="button" class="btn btn-success float-right" >Mark As Done</button>
			       		</div>
			       		<div>
			       			<button type="button" class="btn btn-info float-right" >Save</button>
			       		</div>
			       		<div>
			       			<button type="button" class="btn btn-danger float-right" data-dismiss="modal">Cancel</button>
			       		</div>
			      </div>

			    </div>
			  </div>
			</div>
		<!-- End ModalEditTask -->
		<!-- ModalUpdateAmenities -->
			<div class="modal fade" id="ModalUpdateAmenities">
			  <div class="modal-dialog modal-lg">
			    <div class="modal-content">

			      <!-- Modal Header -->
			      <div class="modal-header">
			        <h4 class="modal-title">Update Amenities</h4>
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			      </div>

			      <!-- Modal body -->
			      <div class="modal-body">
			      	<div class="row">
			      		<div class="col-6">
						<h6>Most used</h6>
		       				<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Enclose lavatory
							</label><br>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Pets allowed
							</label><br/>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								smoking allowed
							</label><br/>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Wi-Fi (Ground based)
							</label><br/>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Wifi (Satelite based)
							</label><br/>
			       		</div>
			       		<div class="col-6">
							<h6>Crew</h6>
		       				<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Cabin Server
							</label><br>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Flight attendant available
							</label><br/>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Flight attendat required
							</label><br/>
			       		</div>
			       		<div class="col-6">
						<h6>Lavatory</h6>
		       				<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Lavatory
							</label><br>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Lavatory sink
							</label><br/>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Vacuum toilet
							</label><br/>
			       		</div>
			       		<div class="col-6">
							<h6>Seating</h6>
		       				<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Certified jump seat
							</label><br>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Certified lav seat
							</label><br/>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Cloth seats
							</label><br/>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Leather seats
							</label><br/>
			       		</div>
			       		<div class="col-6">
							<h6>General</h6>
		       				<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								110V Outlet
							</label><br>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								230V Outlet
							</label><br/>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								AirShow
							</label><br/>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Freon air conditioning
							</label><br/>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Power outlet
							</label><br/>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Ski tube
							</label><br/>
			       		</div>
			       		<div class="col-6">
							<h6>Entertainment</h6>
		       				<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Blu-Ray
							</label><br>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								CD player
							</label><br/>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								DirectTV
							</label><br/>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								DVD player
							</label><br/>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Headsets
							</label><br/>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								iPod Station
							</label><br/>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Satellite radio
							</label><br/>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Satellite TV
							</label><br/>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Television
							</label><br/>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								VCR
							</label><br/>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Video monitors
							</label><br/>
			       		</div>
			       		<div class="col-6">
							<h6>Communication</h6>
		       				<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								DataPort
							</label><br>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Fax
							</label><br/>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								FFVI phone
							</label><br/>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Flight phone
							</label><br/>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Mag phone
							</label><br/>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Other phone
							</label><br/>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Satellite phone
							</label><br/>
			       		</div>
			       		<div class="col-6">
							<h6>Kitchen</h6>
		       				<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Coffee pot
							</label><br>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Convection oven
							</label><br/>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Dishware
							</label><br/>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Espresso machine
							</label><br/>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Flatware
							</label><br/>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Full galley
							</label><br/>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Glassware
							</label><br/>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Ice bin
							</label><br/>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Kitchen sink
							</label><br/>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Linens
							</label><br/>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Microwave oven
							</label><br/>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Oven
							</label><br/>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Partial galley
							</label><br/>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Skillet or brunch pan
							</label><br/>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Slot oven
							</label><br/>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Toaster oven
							</label><br/>
							<label for="" class="label_container">
								<input type="checkbox">
								<span class="checkmark"></span>
								Warming oven
							</label><br/>
			       		</div>
			      	</div>
						    
			      </div>

			      <!-- Modal footer -->
			      <div class="modal-footer">
			        <button type="button" class="btn btn-info" >Save</button>
			        <button type="button" class="btn btn-danger" data-dismiss="modal" >Cancel</button>
			      </div>

			    </div>
			  </div>
			</div>
		<!-- End ModalUpdateAmenities -->