<div class="container-main" id="pilots">  
      <div class="row">
        <div class="col-7">
          <div class="col-12">
            <h4 class="title-bold">My company user overview</h4>
          </div>        
        </div>
      </div>
      <div class="row">   
        <div class="col-12">  
          <ul class="nav nav-tabs">
              <li class="nav-item" >
                <a class="nav-link icon-tab active" data-toggle="tab" href="#Pilots" role="tab" > 
                <i class="flaticon-user" aria-hidden="true"></i><br>Your Pilots</a>
              </li>
               <li class="nav-item ml-auto" >
                <a class="nav-link icon-tab" data-toggle="tab" href="#create" role="tab" >
              <i class="flaticon-add-2" aria-hidden="true"></i><br>Add a Pilot</a>
            </li>
          </ul>
          <div class="tab-content"> 
            <div id="Pilots" class="tab-pane active" role="tabpanel"> 
              <div class="row">
                <div class="col-12">  
                  <p> Pilot training data can now be automatically updated from FlightSafety.<a href="">Click here to download a request form.</a></p>
                  <div class="row">  
                    <div class="col-1 mb-2 ">
                      <h5 class="title-bold">Search</h5>
                    </div>
                    <div class="md-form col-2 pr-5">
                      <input type="text" id="" class="form-control">
                      <label for="" class="">First name, last name or company</label>
                    </div>
                    <div class="col-1">
                      <i class="flaticon-search" data-toggle="tooltip" data-placement="right" title="Search"></i>
                    </div>
                  </div>
                </div>      
                <table class="table  table-hover general-table">
                  <thead>
                    <tr>
                      <th  style="width:10%;" class="first_th">Name</th>
                      <th style="width:20%;" class="second_th">Last update</th>
                      <th style="width:15%;" class="third_th">Certificate</th>
                      <th style="width:20%;" class="fourth_th">Type</th>
                            <th style="width:20%;" class="fith_th">Options</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td> Charlie Yost</td>
                      <td> 06-Jul-2017</td>
                                        <td>ATP (FixedWing) , Comm...</td>
                                        <td></td>
                        <td>  
                          <a routerLink="../../../company/edit_pilot">
                            <i class="flaticon--basic-edit" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Edit"></i>
                          </a>
                          <i class="flaticon--basic-garbage text-danger" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Delete"></i>
                        </td>
                    </tr>
                    <tr>
                      <td> Charlie Yost</td>
                      <td> 06-Jul-2017</td>
                                        <td>ATP (FixedWing) , Comm...</td>
                                        <td></td>
                                      <td>  
                                        <a routerLink="../../../company/edit_pilot"><i class="flaticon--basic-edit" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Edit"></i></a><i class="flaticon--basic-garbage text-danger" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Delete"></i>
                                      </td> 
                    </tr>
                    <tr>
                      <td> Charlie Yost</td>
                      <td> 06-Jul-2017</td>
                                        <td>ATP (FixedWing) , Comm...</td>
                                        <td></td>
                                      <td>  <a routerLink="../../../company/edit_pilot"><i class="flaticon--basic-edit" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Edit"></i></a> <i class="flaticon--basic-garbage text-danger" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Delete"></i></td>  
                    </tr>
                  </tbody>
                </table> 
                </div>
              </div>
              <div id="create" class="tab-pane" role="tabpanel">          
                <div class="row">
                  <div class="col-12">
                    <h5>Add Pilot Record</h5> 
                  </div>
                  <div class="col-12">
                    <p>Please provide the exact name as shown on pilot certificate.</p>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-6">
                          <div class="md-form">
                            <input type="text" name="">
                            <label>First Name*</label>
                          </div>
                          <div class="md-form">
                            <input type="text" name="">
                            <label>Last Name*</label>
                          </div>
                          <div class="md-form prefix-icon">
                            <input type="text" name="" data-daterange="true">
                            <label>Date of Birth*(mm/dd/yy)</label>
                            <i class="flaticon--basic-calendar"></i>
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="md-form">
                            <input type="text" name="">
                            <label>Middle name*</label>
                          </div>
                          <div class="md-form">
                            <input type="text" name="">
                            <label>Suffix</label>
                          </div>
                          <div class="md-form">
                            <input type="text" name="">
                            <label>Certificate Number*</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>      
                </div>
                <div class="row form_buttons">
                  <button type="button"  class="btn btn-info">Create New</button>
                </div>  
              </div>  
        </div>
      </div> 
    </div>
  </div>