      <div class="container-main">
      <div class="row">
         <div class="col-7">
            <h4 class="title-bold">Settings</h4>
         </div>
         <!-- <div class="col-1">
            <span>Help</span>
            </div> -->
      </div>
      <div class="row">
      <div class="col-12">
      <ul class="nav nav-tabs">
         <li class="nav-item" >
            <a class="nav-link icon-tab active" data-toggle="tab" href="#fleetBasics" role="tab" > 
            <i class="flaticon-user" aria-hidden="true"></i><br>General</a>
         </li>
         <li class="nav-item" >
            <a class="nav-link icon-tab" data-toggle="tab" href="#fleetDetails" role="tab" >
            <i class="flaticon-notepad" aria-hidden="true"></i><br>Task Groups</a>
         </li>
         <li class="nav-item" >
            <a class="nav-link icon-tab" data-toggle="tab" href="#fleetAirports" role="tab" >
            <i class="flaticon-paper-plane" aria-hidden="true"></i><br>Trips</a>
         </li>
         <li class="nav-item" >
            <a class="nav-link icon-tab" data-toggle="tab" href="#fleetPhotos" role="tab" >
            <i class="flaticon-file-2" aria-hidden="true"></i><br>Reports</a>
         </li>
         <!-- <li class="nav-item" >
            <a class="nav-link icon-tab" data-toggle="tab" href="#fleetPricing" role="tab" >
              <i class="flaticon-minus" aria-hidden="true"></i><br>One way Pricing</a>
            </li>
            <li class="nav-item" >
            <a class="nav-link icon-tab" data-toggle="tab" href="#fleetProfile" role="tab" >
              <i class="flaticon-minus" aria-hidden="true"></i><br>Profiles</a>
            </li> -->
      </ul>
      <div class="tab-content">
      <div id="fleetBasics" class="tab-pane active" role="tabpanel">
         <div class="row">
            <div class="col-12" >
            </div>
            <div class="col-12">
               <div class="form-group">
                  <div class="row">
                     <div class="col-6">
                        <div class="md-form">
                           <h5>Currency</h5>
                        </div>
                        <div class="sel sel--black-panther">
                           <select name="select-profession" id="select-profession">
                              <option value="Jet Manage LLC" disabled>Report currency</option>
                              <option value="hacker">US Dollar (USD)</option>
                              <option value="hacker">Euro (EUR)</option>
                           </select>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-12">
               <h5>Duty Day Types</h5>
               <div class="form-group">
                  <p>Duty day types are the types of activities that pilots can associate with a duty day entry. The short version will be shown on duty log reports</p>
                  <div class="col-12">
                     <br>
                     <div class="tab-content">
                        <div id="active" class="tab-pane active" role="tabpanel">
                           <table class="table  table-hover general-table">
                              <thead>
                                 <tr>
                                    <th   style="width: 10%"  class="first_th ">Long Name</th>
                                    <th  style="width: 10%"  class="second_th">Short (4 char) </th>
                                    <th  style="width: 10%"  class="second_th">Rest Day*</th>
                                    <th   style="width: 10%" class="third_th"></th>
                              </thead>
                              <tbody>
                                 <tr>
                                    <td>
                                       <div class="md-form">
                                          <input type="text" value="Legal Rest Name" name="">
                                       </div>
                                    </td>
                                    <td>
                                       <div class="md-form">
                                          <input type="text" value="REST" name="">
                                       </div>
                                    </td>
                                    <td><label for="" class="label_container" >
                                       <input type="checkbox" >
                                       <span class="checkmark checked"></span>
                                       Rest Name<i class="schedaero-logo-white.svg"></i>
                                       </label>
                                    </td>
                                    <td>
                                       <div class="col-12 text-right">
                                          <i class="flaticon-minus"></i> Deactivate
                                       </div>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>
                                       <div class="md-form">
                                          <input type="text" value="Legal Rest Name" name="">
                                       </div>
                                    </td>
                                    <td>
                                       <div class="md-form">
                                          <input type="text" value="REST" name="">
                                       </div>
                                    </td>
                                    <td><label for="" class="label_container" >
                                       <input type="checkbox" >
                                       <span class="checkmark checked"></span>
                                       Rest Name<i class="schedaero-logo-white.svg"></i>
                                       </label>
                                    </td>
                                    <td>
                                       <div class="col-12 text-right">
                                          <i class="flaticon-minus"></i> Deactivate
                                       </div>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>
                                       <div class="md-form">
                                          <input type="text" value="Legal Rest Name" name="">
                                       </div>
                                    </td>
                                    <td>
                                       <div class="md-form">
                                          <input type="text" value="REST" name="">
                                       </div>
                                    </td>
                                    <td><label for="" class="label_container" >
                                       <input type="checkbox" >
                                       <span class="checkmark checked"></span>
                                       Rest Name<i class="schedaero-logo-white.svg"></i>
                                       </label>
                                    </td>
                                    <td>
                                       <div class="col-12 text-right">
                                          <i class="flaticon-minus"></i> Deactivate
                                       </div>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                           <p>*Rest Day will be counted as a legal 24 hr day off <br></p>
                           <h6>Deactivated options</h6>
                           <table class="table  table-hover general-table">
                              <thead>
                                 <tr>
                                    <th   style="width: 10%"  class="first_th "></th>
                                    <th  style="width: 10%"  class="second_th"></th>
                                    <th  style="width: 10%"  class="second_th"></th>
                                    <th   style="width: 10%" class="third_th"></th>
                              </thead>
                              <tbody >
                                 <tr>
                                    <td>
                                       <div class="md-form">
                                          <input type="text" disabled="" value="On Call" name="">
                                       </div>
                                    </td>
                                    <td>
                                       <div class="md-form">
                                          <input type="text" disabled="" value="CALL" name="">
                                       </div>
                                    </td>
                                    <td><label for="" class="label_container" >
                                       <input type="checkbox" disabled="">
                                       <span class="checkmark checked"></span>
                                       Rest Name<i class="schedaero-logo-white.svg"></i>
                                       </label>
                                    </td>
                                    <td>
                                       <div class="col-12 text-right">
                                          <i class="flaticon-plus"></i> Activate
                                       </div>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-12">
               <h5>Flight regulation mapping</h5>
               <div class="form-group">
                  <div class="row">
                     <div class="col-12">
                        <div class="tab-content">
                           <div id="active" class="tab-pane active" role="tabpanel">
                              <table class="table  table-hover general-table">
                                 <thead>
                                    <tr>
                                       <th   style="width: 20%"  class="first_th ">Type</th>
                                       <th   style="width: 50%"  class="first_th ">Long Name</th>
                                       <th  style="width: 10%" colspan="1" class="second_th">Short (4 char) </th>
                                 </thead>
                                 <tbody>
                                    <tr>
                                       <td ><label>Unscheduled Air Taxi</label></td>
                                       <td >
                                          <div class="md-form">
                                             <input type="text" value="Charter (US Part 135)" name="">
                                          </div>
                                       </td>
                                       <td colspan="1">
                                          <div class="md-form">
                                             <input type="text" value="135" name="">
                                          </div>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td ><label>Scheduled Air Taxi</label></td>
                                       <td >
                                          <div class="md-form">
                                             <input type="text" value="Commercial (US Part 121)" name="">
                                          </div>
                                       </td>
                                       <td colspan="1">
                                          <div class="md-form">
                                             <input type="text" value="121" name="">
                                          </div>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td ><label>Non-Revenue flight </label></td>
                                       <td >
                                          <div class="md-form">
                                             <input type="text" value="General (US Part 91)" name="">
                                          </div>
                                       </td>
                                       <td colspan="1">
                                          <div class="md-form">
                                             <input type="text" value="91" name="">
                                          </div>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
          <h5>Customers</h5>
         <div class="col-12">
            <div class="row col-12">
               <div class="col-12">
                  <div class="row">
                     <div class="col-2">
                        <label><strong>Use custom field</strong></label>
                        <label for="" class="label_container">
                           <input type="checkbox" >
                           <span class="checkmark"></span>
                        </label>
                     </div>
                     <div class="md-form col-3">
                     <div class="md-form prefix-icon col-6">
                     <input type="text" disabled="" name="" >
                     <label>Custom field name</label>
                     </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-2">
                        <label><strong>Use custom field</strong></label>
                        <label for="" class="label_container">
                           <input type="checkbox" >
                           <span class="checkmark"></span>
                          </label>
                     </div>
                     <div class="md-form col-3">
                     <div class="md-form prefix-icon col-6">
                     <input type="text" disabled="" name="" >
                     <label>Custom field name</label>
                     </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-2">
                        <label><strong>Custom Categories </strong></label>
                     </div>
                     <div class="md-form col-3">
                        <div class="md-form ">
                           <label><a href="">New Custom Category</a></label>
                        </div>
                     </div>
                  </div>
                  <div class="col-12">
                     <div class="row">
                        <div class="md-form col-3">
                           <input type="text" id="form40" class="form-control" value="Nametest">
                           <label for="form40" class="">Title</label>
                        </div>
                        <div class="md-form col-4">
                           <label for="form41" class=""><a href="">Delete</a></label>
                        </div>
                     </div>
                     <div class="row">
                        <div class="md-form col-3">
                           <input type="text" id="form40" class="form-control" value="test1">
                           <label for="form40" class="">Option 1</label>
                        </div>
                        <div class="md-form col-4">
                           <label for="form41" class=""><a href="">Delete</a></label>
                        </div>
                     </div>
                     <div class="row">
                        <div class="md-form col-3">
                           <input type="text" id="form40" class="form-control" value="test2">
                           <label for="form40" class="">Option 2</label>
                        </div>
                        <div class="md-form col-4">
                           <label for="form41" class=""><a href="">Delete</a></label>
                        </div>
                     </div>
                     <div class="row">
                        <div class="md-form col-3">
                        </div>
                        <div class="md-form col-4">
                           <label for="form41" class=""><a href="">Add new Option</a></label>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-12">
               <div class="form-group">
                  <div class="col-12">
                     <br>
                     <div class="tab-content">
                        <div id="active" class="tab-pane active" role="tabpanel">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <h5>Flight logging configuration</h5>
            <div class="col-12">
             <div class="form-group">
                  <div class="row">
                     <div class="col-12">
                        <div class="tab-content">
                           <div id="active" class="tab-pane active" role="tabpanel">
                              <div class="row col-12">
                                 <div class="col-12">
                                    <div class="row">
                                       <div class="col-2">
                                          <label><strong>Update pilot times</strong></label>
                                       </div>
                                       <div class="md-form col-8">
                                          <div class="md-form prefix-icon col-8">
                                             <label for="" class="label_container" >
                                             <input type="checkbox" >
                                             <span class="checkmark checked"></span>
                                             Use flight logs to calculate historical pilot flight times<i class="schedaero-logo-white.svg"></i>
                                             </label>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="row">
                                       <div class="col-sm-2">
                                          <label><strong>Default aircraft times</strong></label>
                                       </div>
                                       <div class="col-sm-2">
                                          <label><label for="" class="label_container">
                                          <input type="radio" name="radioA" value="Yes" checked="">
                                          <span class="checkmark radio_button"></span>Flight time 
                                          </label></label>
                                       </div>
                                       <div class="col-sm-2">
                                          <label><label for="" class="label_container">
                                          <input type="radio" name="radioA" value="Yes" checked="">
                                          <span class="checkmark radio_button"></span>Block time
                                          </label></label>
                                       </div>
                                    </div>
                                    <div class="row">
                                       <div class="col-sm-2">
                                          <label><strong>Aircraft hours format</strong></label>
                                       </div>
                                       <div class="col-sm-2">
                                          <label><label for="" class="label_container">
                                          <input type="radio" name="radioB" value="Yes" checked="">
                                          <span class="checkmark radio_button"></span>0.0
                                          </label></label>
                                       </div>
                                       <div class="col-sm-2">
                                          <label><label for="" class="label_container">
                                          <input type="radio" name="radioB" value="Yes" checked="">
                                          <span class="checkmark radio_button"></span>00:00
                                          </label></label>
                                       </div>
                                    </div>
                                    <div class="row">
                                       <div class="md-form col-1">
                                          <input type="text" id="form40" class="form-control" value="1.5">
                                          <label for="form40" class="">Default APU time/leg</label>
                                       </div>
                                    </div>
                                    <div class="row">
                                       <div class="md-form col-1">
                                          <input type="text" id="form40" class="form-control" value="2">
                                          <label for="form40" class="">Default APU cycles/leg</label>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
             <h5>Aircraft maintenance warnings</h5>
            <div class="col-12">
               <div class="form-group">
                  <p>Specify as what point the system should show a warning that maintenance is near due. Warning will show when the maintenance total or date exceeds the specified threshold.</p>
                  <div class="row">
                     <div class="col-12">
                        <div class="tab-content">
                           <div id="active" class="tab-pane active" role="tabpanel">
                              <div class="row col-12">
                                 <div class="col-12">
                                    <div class="row">
                                       <div class="col-4 md-form">
                                          <input type="text" name="" value="10">
                                          <label><strong>Legs until MX due (Cycles, starts, take offs, landings)</strong></label>
                                       </div>
                                       <div class="md-form col-7">
                                       </div>
                                    </div>
                                    <div class="row">
                                       <div class="col-4 md-form">
                                          <input type="text" name="" value="20.0">
                                          <label><strong>Hours until MX due (Engine, airframe, hobbs, tach)</strong></label>
                                       </div>
                                       <div class="md-form col-7">
                                       </div>
                                    </div>
                                    <div class="row">
                                       <div class="col-4 md-form">
                                          <input type="text" name="" value="17">
                                          <label><strong>Days until MX due (Next MX due date)</strong></label>
                                       </div>
                                       <div class="md-form col-7">
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row form_buttons">
               <button  type="button"  class="btn btn-info">Save</button>
            </div>
            <div class="col-12">
               <br>
               <div class="tab-content">
                  <div id="create" class="tab-pane " role="tabpanel">
                     <div class="row">
                        <div class="col-12">
                           <h4>Create New Performance Profile       <a class="active" data-toggle="modal" data-target="#ModalAddFleet"><i class="collection-flaticon-customer-support text-info icon-separator" data-toggle="tooltip" data-placement="left" title="Help"></i></a></h4>
                           <div class="col-12">
                              <p>Please fill out the following fields to create a new performance profile and assign it to an aircraft. If you would like, you can choose to load system defaults for any aircraft type that the Avinode Marketplace has data on.</p>
                           </div>
                           <h5>Basic Information</h5>
                           <div class="form-group">
                              <div class="md-form">
                                 <input type="text" name="">
                                 <label>Load Default Data (Selecting a default will replace all existing data with defaults from the Avinode database.)</label>
                              </div>
                              <div class="col-12 pad-none input-form">
                                 <label> <strong> Status</strong></label><br>
                                 <label>Active</label>
                                 <label class="switch-toggly">
                                 <input type="checkbox" checked>
                                 <span class="slider-toggly round"></span>
                                 </label>
                              </div>
                              <div class="md-form">
                                 <input type="text" name="">
                                 <label>Unique Name*</label>
                              </div>
                              <div class="col-12 pad-none">
                                 <label>Use on Aircraft</label>
                                 <div class="sel sel--black-panther">
                                    <select >
                                       <option>Select</option>
                                    </select>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-12">
                           <h5>Aircraft Data</h5>
                           <p><i>Bias Time</i> will add chargeable time to all flight legs. Max Range is only used for calibration itineraries; actual aircraft range is set per aircraft.</p>
                           <div class="form-group">
                              <div class="row">
                                 <div class="col-6">
                                    <div class="md-form">
                                       <input style="width: 100%" type="text" name="">
                                       <label >Max Range*(NM)</label>
                                    </div>
                                    <div class="md-form">
                                       <input type="text" name="">
                                       <label>Bias Time*(h)</label>
                                    </div>
                                    <div class="md-form">
                                       <input type="text" name="">
                                       <label>Required Runway*(feet)</label>
                                    </div>
                                 </div>
                                 <div class="col-6">
                                    <div class="md-form">
                                       <input type="text" name="">
                                       <label>Turnaround Time*(h)</label>
                                    </div>
                                    <div class="md-form">
                                       <input type="text" name="">
                                       <label>Fuel Stop Time*(h)</label>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-12">
                           <h5>Performance</h5>
                           <div class="form-group">
                              <div class="row">
                                 <div class="col-6">
                                    <div class="">
                                       <label>Wind Model*</label>
                                       <label for="" class="label_container">
                                       <input type="radio" name="radio" value="None" checked="">
                                       <span  class="checkmark radio_button"></span>None</label>
                                       <label for="" class="label_container">
                                       <input type="radio" name="radio" value="Seasonal" checked="">
                                       <span  class="checkmark radio_button"></span>Seasonal
                                       </label>
                                    </div>
                                    <div class="md-form">
                                       <input type="text" name="">
                                       <label>Rate of Climb*(ft/min)</label>
                                    </div>
                                    <div class="md-form">
                                       <input type="text" name="">
                                       <label>Rate of Descent*(ft/min)</label>
                                    </div>
                                    <div class="md-form">
                                       <input type="text" name="">
                                       <label>Typical Cruise Altitude*(flight level)</label>
                                    </div>
                                 </div>
                                 <div class="col-6">
                                    <div class="">
                                       <label>Flight Rounding</label>
                                       <label for="" class="label_container">
                                       <input type="checkbox">
                                       <span class="checkmark"></span>
                                       Round-up to tenths
                                       </label>
                                    </div>
                                    <div class="md-form">
                                       <input type="text" name="">
                                       <label>Takeoff Speed*(knots)</label>
                                    </div>
                                    <div class="md-form">
                                       <input type="text" name="">
                                       <label>Landing Speed*(knots)</label>
                                    </div>
                                    <div class="md-form">
                                       <input type="text" name="">
                                       <label>Cruise Speed (KTAS)*(knots)</label>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row form_buttons">
                        <button  type="button"  class="btn btn-info">Save</button>
                        <button type="button" class="btn btn-danger">Cancel</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div id="fleetDetails" class="tab-pane" role="tabpanel">
         <div class="row">
            <div class="col-md-12">
               <ul class="nav nav-tabs">
                  <li class="nav-item" >
                     <a class="nav-link icon-tab active" data-toggle="tab" href="#group1" role="tab" > 
                     <i class="flaticon-user" aria-hidden="true"></i><br>Groups</a>
                  </li>
                  <li class="nav-item" >
                     <a class="nav-link icon-tab" data-toggle="tab" href="#tasks1" role="tab" >
                     <i class="flaticon-notepad" aria-hidden="true"></i><br>Tasks</a>
                  </li>
               </ul>
               <div class="tab-content">
                  <div id="group1" class="tab-pane active" role="tabpanel">
                     <div class="row text-right">
                        <span class="col-12">
                        <i class="flaticon--basic-add enlarge-icon" aria-hidden="true" data-toggle="modal" data-target="#ModalAddGroup"></i>
                        <small>Add Group</small>
                        </span>
                     </div>
                     <p>Create groups of tasks that can be loaded on trips, quotes, aircraft, users, customers and pilots</p>
                     <div id="active" class="tab-pane active" role="tabpanel">
                        <table class="table  table-hover general-table">
                           <thead>
                              <tr>
                                 <th class="first_th">Group</th>
                                 <th class="second_th">Preload on</th>
                                 <th >Tasks in list</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr>
                                 <td>tasktest</td>
                                 <td>trip</td>
                                 <td >2</td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
                  <div id="tasks1" class="tab-pane" role="tabpanel">
                     <div id="group1" class="tab-pane active" role="tabpanel">
                        <div id="" class="tab-pane active" role="tabpanel">
                           <div class="row text-right">
                              <span class="col-12">
                              <i class="flaticon--basic-add enlarge-icon" aria-hidden="true" data-toggle="modal" data-target="#ModalAddTask"></i>
                              <small>Add Task</small>
                              </span>
                           </div>
                           <table class="table  table-hover general-table">
                              <thead>
                                 <tr>
                                    <th class="first_th">Name</th>
                                    <th class="second_th">In Task group(s)</th>
                                    <th >Options</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr>
                                    <td>clean</td>
                                    <td>tasktest</td>
                                    <td >
                                       <div class="row options-table">
                                          <div class="col-3 text-primary"><i class="flaticon--basic-edit" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Edit"></i> </div>
                                          <div class="col-3 text-danger"> <i class="fa fa-trash-o" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Delete"></i> </div>
                                       </div>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>clean</td>
                                    <td>read</td>
                                    <td >
                                       <div class="row options-table">
                                          <div class="col-3 text-primary"><i class="flaticon--basic-edit" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Edit"></i> </div>
                                          <div class="col-3 text-danger"> <i class="fa fa-trash-o" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Delete"></i> </div>
                                       </div>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div id="userTasks" class="tab-pane" role="tabpanel">
         <div class="row">
            <div class="col-12">
               <div class="form-group">
                  <div class="row text-right">
                     <span class="col-12">
                     <i class="flaticon--basic-add enlarge-icon" aria-hidden="true" data-toggle="modal" data-target="#ModalAddTaskGroup"></i>
                     <small> Load Task Group</small> 
                     <i class="flaticon--basic-add enlarge-icon" aria-hidden="true" data-toggle="modal" data-target="#ModalAddTask"></i>
                     <small> Task</small> 
                     </span>
                  </div>
                  <div class="row">
                     <table class="table table-hover general-table">
                        <thead>
                           <tr>
                              <th>Task</th>
                              <th>Assigned To</th>
                              <th>Created</th>
                              <th>Due</th>
                              <th>Status</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div id="fleetAirports" class="tab-pane" role="tabpanel">
         <div id="fleetBasics" class="tab-pane active" role="tabpanel">
            <div class="row">
               <div class="col-12">
                  <h5>Trips</h5>
               </div>
               <div class="col-12">
                  <h5>Trip Status Options</h5>
                  <div class="form-group">
                     <i class="flaticon-plus"></i><label>  Add new Status</label>
                     <div class="col-12">
                        <br>
                        <div class="tab-content">
                           <div id="active" class="tab-pane active" role="tabpanel">
                              <table class="table  table-hover general-table">
                                 <thead>
                                    <tr>
                                       <th   style="width: 10%"  class="first_th "></th>
                                       <th   style="width: 10%" class="third_th"></th>
                                 </thead>
                                 <tbody>
                                    <tr>
                                       <td>
                                          <div class="md-form">
                                             <input type="text" value="Booked" name="">
                                          </div>
                                       </td>
                                       <td>
                                          <div class="col-12 text-right">
                                             <i class="flaticon-minus"></i> Deactivate
                                          </div>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>
                                          <div class="md-form">
                                             <input type="text" value="Invalid" name="">
                                          </div>
                                       </td>
                                       <td>
                                          <div class="col-12 text-right">
                                             <i class="flaticon-minus"></i> Deactivate
                                          </div>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>
                                          <div class="md-form">
                                             <input type="text" value="Not Booked" name="">
                                          </div>
                                       </td>
                                       <td>
                                          <div class="col-12 text-right">
                                             <i class="flaticon-minus"></i> Deactivate
                                          </div>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                              <h6>Deactivated trip status options</h6>
                              <table class="table  table-hover general-table">
                                 <thead>
                                    <tr>
                                       <th   style="width: 10%"  class="first_th "></th>
                                       <th   style="width: 10%" class="third_th"></th>
                                 </thead>
                                 <tbody >
                                    <tr>
                                       <td>
                                          <div class="md-form">
                                             <input type="text" disabled="" value="Invalid" name="">
                                          </div>
                                       </td>
                                       <td>
                                          <div class="col-12 text-right">
                                             <i class="flaticon-plus"></i> Activate
                                          </div>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-12">
                  <h5>SIFL</h5>
                  <div class="form-group">
                     <p>Enable SIFL if you would like to track employees' SIFL status per leg. Defaults will apply to passengers and trips added after enabling this setting, current and past trips will not be updated.</p>
                     <div class="row">
                        <div class="col-12">
                           <div class="">
                              <label><strong>SIFL Enabled</strong></label>
                              <label for="" class="label_container" >
                              <input type="checkbox"  checked="">
                              <span class="checkmark"></span>
                              Show SIFL fields<i class="schedaero-logo-white.svg"></i>
                              </label>
                           </div>
                           <div class="">
                              <label><strong>SIFL trips default</strong></label>
                              <label for="" class="label_container" >
                              <input type="checkbox" >
                              <span class="checkmark"></span>
                              Default new trips to SIFL eligible trips<i class="schedaero-logo-white.svg"></i>
                              </label>
                           </div>
                           <div class="sel sel--black-panther top">
                              <select name="select-profession" id="select-profession">
                                 <option value="Jet Manage LLC" disabled><strong>SIFL Status default</strong></option>
                                 <option value="hacker">Unknown</option>
                                 <option value="hacker">Business</option>
                                 <option value="hacker">Business Entertainment</option>
                                 <option value="hacker">Personal</option>
                                 <option value="hacker">Personal Entertainment</option>
                              </select>
                           </div>
                           <div class="sel sel--black-panther">
                              <select name="select-profession" id="select-profession">
                                 <option value="Jet Manage LLC" disabled><strong>SIFL purpose default</strong></option>
                                 <option value="hacker">Unknown</option>
                                 <option value="hacker">Control Employee</option>
                                 <option value="hacker">Non-control Employee</option>
                                 <option value="hacker">Non-employee</option>
                              </select>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-12">
                  <h5>Crew & Passengers</h5>
                  <div class="form-group">
                     <div class="row">
                        <div class="col-12">
                           <div class="">
                              <label><strong>TSA</strong></label>
                              <label for="" class="label_container" >
                              <input type="checkbox">
                              <span class="checkmark"></span>
                              Show the NFL checkbox on the Crew & Passengers page<i class="schedaero-logo-white.svg"></i>
                              </label>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-12">
                  <h5>FAA flight duty warnings</h5>
                  <div class="form-group">
                     <p>Duty warnings are based on the FAA rules for flight duty and use scheduled flights along with the below defaults to warn of potential conflicts. The warning system will not use the pilot's logged duty time.</p>
                     <div class="row">
                        <div class="col-12">
                           <div class="">
                              <label><strong>Duty time warnings</strong></label>
                              <label for="" class="label_container" >
                              <input type="checkbox"  checked="">
                              <span class="checkmark"></span>
                              Show SIFL fields<i class="schedaero-logo-white.svg"></i>
                              </label>
                           </div>
                           <div class="row">
                              <div class="col-sm-4"><label><strong>Default home base duty time</strong></label></div>
                              <div class="col-sm-4">
                                 <div class="md-form col-3">
                                    <input type="text"  value="0:00"   name=""> 
                                    <label>Pre Flight</label>
                                 </div>
                              </div>
                              <div class="col-sm-4">
                                 <div class="md-form col-3">
                                    <input type="text"   value="0:00"  name=""> 
                                    <label>Post Flight</label>
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-sm-4"><label><strong>Default transient duty time</strong></label></div>
                              <div class="col-sm-4">
                                 <div class="md-form col-3">
                                    <input type="text"   value="0:00"  name=""> 
                                    <label>Pre Flight</label>
                                 </div>
                              </div>
                              <div class="col-sm-4">
                                 <div class="md-form col-3">
                                    <input type="text"   value="0:00"  name=""> 
                                    <label>Post Flight</label>
                                 </div>
                              </div>
                           </div>
                           <div class="">
                              <label><strong>Non 135 flights</strong></label>
                              <label for="" class="label_container" >
                              <input type="checkbox" >
                              <span class="checkmark"></span>
                              Use duty time for non 135 flights<i class="schedaero-logo-white.svg"></i>
                              </label>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-12">
                  <h5>Default notes</h5>
                  <div class="form-group">
                     <div class="row">
                        <div class="col-6">
                           <div class="">
                              <label><strong>Fuel Notes</strong></label>
                              <label for="" class="label_container" >
                              <input type="checkbox"  checked="">
                              <span class="checkmark"></span>
                              Auto populate system generated fuel messages into the Fuel Notes field<i class="schedaero-logo-white.svg"></i>
                              </label>
                              <div class="row">
                                 <div class="col-sm-3"><strong>Passenger trip sheet</strong></div>
                                 <div class="col-sm-3">  <textarea style="width: 200%"  Columns="700" Rows="4"></textarea></div>
                              </div>
                              <div class="row">
                                 <div class="col-sm-3"><strong>Pilot trip sheet</strong></div>
                                 <div class="col-sm-3">  <textarea style="width: 200%"  Columns="700" Rows="4"></textarea></div>
                              </div>
                              <div class="row">
                                 <div class="col-sm-3"><strong>Quote email message</strong></div>
                                 <div class="col-sm-3">  <textarea style="width: 200%"  Columns="700" Rows="4"></textarea></div>
                              </div>
                              <div class="row">
                                 <div class="col-sm-3"><strong>Quote PDF message</strong></div>
                                 <div class="col-sm-3">  <textarea style="width: 200%"  Columns="700" Rows="4"></textarea></div>
                              </div>
                              <div class="row">
                                 <div class="col-sm-3"><strong>Scheduled trip emails</strong></div>
                                 <div class="col-sm-3">  <textarea style="width: 200%"  Columns="700" Rows="4"></textarea></div>
                              </div>
                              <div class="row">
                                 <div class="col-sm-3"><strong>Handling arrival note</strong></div>
                                 <div class="col-sm-3">  <textarea style="width: 200%"  Columns="700" Rows="4"></textarea></div>
                              </div>
                              <div class="row">
                                 <div class="col-sm-3"><strong>Handling depart note</strong></div>
                                 <div class="col-sm-3">  <textarea style="width: 200%"  Columns="700" Rows="4"></textarea></div>
                              </div>
                              <div class="row">
                                 <div class="col-sm-3"><strong>Trip scratch pad</strong></div>
                                 <div class="col-sm-3">  <textarea style="width: 200%"  Columns="700" Rows="4"></textarea></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row form_buttons">
               <button type="button" class="btn btn-info">Save</button>
            </div>
         </div>
      </div>
