<div class="container">
   <div class="row justify-content-center align-items-center">
      <form>
         <div class="md-form">
            <input type="text"  id="email" class="" #email>
            <label for="email" class="">Email</label>
         </div>
         <div class="md-form">
            <input type="text" id="password" class="" #password>
            <label for="password" class="">Password</label>
         </div>
         <div class="row form_buttons float-left">
            <div class="col-sm-12">
               <button  (click) = "getLogin(email.value, password.value)"  type="button" class="btn btn-jet">Login</button>
               <button type="button" class="btn btn-default">Forgot?</button>
            </div>
         </div>
         <div *ngIf="this.errors" class="">
            <br/><br/><br/>
            <p style="color:red" *ngFor="let error of this.errors">{{error}}</p>
         </div>
      </form>
   </div>
</div>