<div class="container-main" data-id="flightlogs">
			<div class="row">
				<div class="col-12 mb-2">
					<h4 class="title-bold">Flight Logs</h4>
				</div>
			</div>
			<div class="row">
				<div class="md-form col-2">
					<input type="text">
					<label for="" class="">Trip number</label>
					<p class="subtitle">Jump directly to trip number</p>
				</div>
				<div class="col-1">
					<i class="flaticon-play-button-1" data-toggle="tooltip" data-placement="top" title="Jump to"></i>
				</div>
				
			</div>	
		
			<div class="row">
				<div class="col-md-12">
					<ul class="nav nav-tabs">
					  	<li class="nav-item" >
					  		<a class="nav-link icon-tab active" data-toggle="tab" href="#open" role="tab" > 
					  			<i class="flaticon-locked-1" aria-hidden="true"></i><br>Open
					  		</a>
					  	</li>
					  	<li class="nav-item" >
					  		<a class="nav-link icon-tab" data-toggle="tab" href="#close" role="tab" >
					  			<i class="flaticon-locked" aria-hidden="true"></i><br>Close
					  		</a>
					  	</li>
					</ul>
					<div class="tab-content">
						<div id="open" class="tab-pane active" role="tabpanel">
							<div class="row">
								<div class="col-12">
									<table class="table table-hover general-table">
										<thead>
											<tr>
												<th>Status</th>
												<th>Itinerary</th>
												<th>Aircraft</th>
												<th>Pilots</th>
												<th>Options</th>
												<th>Select</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><i class="flaticon-warning text-danger"></i></td>
												<td>KOPF-MYAT 07-Jan-2018</td>
												<td>N807D (Pilatus PC 12)</td>
												<td>Yost,Charlie</td>
												<td>
													<div></div>
													<a href="../2-trips/edit_trip.html#Flight"><i class="flaticon--basic-edit text-primary mr-2" data-toggle="tooltip" data-placement="top" title="Edit log"></i></a> 
												</td>
												<td>
													<label for="" class="label_container">
														<input type="checkbox" >
														<span class="checkmark"></span> 
													</label>																																		
												</td>
											</tr>													
										</tbody>
									</table>
									<div class="row form_buttons">
										<button type="button" class="btn btn-jet">Mark as close</button>
									</div>
								</div>

							</div>
						</div>
						<div id="close" class="tab-pane" role="tabpanel">
							<div class="row">
								<div class="col-12">
									<table class="table table-hover general-table">
										<thead>
											<tr>
												<th>Status</th>
												<th>Itinerary</th>
												<th>Aircraft</th>
												<th>Pilots</th>
												<th>Options</th>
												<th>Select</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><i class="flaticon-warning text-danger"></i></td>
												<td>KOPF-MYAT 07-Jan-2018</td>
												<td>N807D (Pilatus PC 12)</td>
												<td>Yost,Charlie</td>
												<td>
													<div></div>
													<a href="../2-trips/edit_trip.html#Flight"><i class="flaticon--basic-edit text-primary mr-2" data-toggle="tooltip" data-placement="top" title="Edit log"></i></a> 
												</td>
												<td>
													<label for="" class="label_container">
														<input type="checkbox" >
														<span class="checkmark"></span> 
													</label>																																		
												</td>
											</tr>													
										</tbody>
									</table>
								</div>
							</div>
							<div class="row form_buttons">
								<button type="button" class="btn btn-jet">Mark as open</button>
							</div>
						</div>
						
					</div> 
					
				</div>
			</div>
		</div> <!-- container main -->