<div class="container-main" id="performance_profile_edit">
	<div class="row">
		<div class="col-7">
			<h4 class="title-bold">Edit Performance Profile - PC-12</h4>
			<div class="col-12">
				<p><b>Modified:</b>	Tue Jan 09 18 by Jesse Vangemeren <b>Created:</b> Mon Nov 20 17 by Heidrich Vicci</p>
			</div>				
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<ul class="nav nav-tabs">
			  	<li class="nav-item" >
			  		<a class="nav-link icon-tab active" data-toggle="tab" href="#Profile" role="tab" > 
			  			<i class="flaticon-folder" aria-hidden="true"></i><br>Profile</a>
			  	</li>
			  	<li class="nav-item" >
			  		<a class="nav-link icon-tab" data-toggle="tab" href="#Calibrate" role="tab" >
			  			<i class="flaticon-settings-1" aria-hidden="true"></i><br>Calibrate</a>
			  	</li>
			</ul>
			<div class="tab-content">
				<div id="Profile" class="tab-pane active" role="tabpanel">
					<div class="row">	
						<div class="col-12">
							<h5>Basic Information</h5>
							<div class="form-group">
								<div class="md-form">
									<input type="text" name="" value="Pilatus PC-12/47 (Fixed-wing)">
									<label>Load Default Data (Selecting a default will replace all existing data with defaults from the Avinode database.)</label>
								</div>
								<div class="col-12 pad-none input-form">
									<label> <strong> Status</strong></label><br>
									<label>Active</label>
									<label class="switch-toggly">

									  <input type="checkbox" checked>
									  <span class="slider-toggly round"></span>
									</label>
								</div>
								<div class="md-form">
									<input type="text" name="" value="PC-12">
									<label>Unique Name*</label>
								</div>
								<div class="col-12 pad-none">
									<label>Use on Aircraft</label>
									<div class="sel sel--black-panther">
										<select >
											<option>Select</option>
										</select>
									</div>
								</div>	
							</div>
						</div>
						<div class="col-12">
							<h5>Aircraft Data</h5>
							<p><i>Bias Time</i> will add chargeable time to all flight legs. Max Range is only used for calibration itineraries; actual aircraft range is set per aircraft.</p>
							<div class="form-group">
								<div class="row">
									<div class="col-6">
										<div class="md-form">					
											<input style="width: 100%" type="text" name="" value="1461">
											<label >Max Range*(NM)-Default (1,461)</label>
										</div>
										<div class="md-form">
											<input type="text" name=""  value="00:12">
											<label>Bias Time*(h)-Default (00:12)</label>
										</div>
										<div class="md-form">
											<input type="text" name="" value="2000">
											<label>Required Runway*(feet)-Default (3,000)</label>
										</div>
									</div>
									<div class="col-6">
										<div class="md-form">
											<input type="text" name="" value="00:45">
											<label>Turnaround Time*(h)-Default (00:45)</label>
										</div>
										<div class="md-form">
											<input type="text" name="" value="0:30">
											<label>Fuel Stop Time*(h)-Default (00:30)</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12">
				            <h5>Performance</h5>
							<div class="form-group">
								<div class="row">
									<div class="col-6">
										<div class="">
											<label>Wind Model*</label>
											<label for="" class="label_container">
												<input type="radio" name="radio" value="None" checked="">
												<span  class="checkmark radio_button"></span>None</label>
											<label for="" class="label_container">
												<input type="radio" name="radio" value="Seasonal" checked="">
												<span  class="checkmark radio_button"></span>Seasonal
											</label>
										</div>
										<div class="md-form">
											<input type="text" name="" value="2200">
											<label>Rate of Climb*(ft/min)-Default (3,000)</label>
										</div>
										<div class="md-form">
											<input type="text" name="" value="1500">
											<label>Rate of Descent*(ft/min)-Default (2,000)</label>
										</div>
										<div class="md-form">
											<input type="text" name="" value="250">
											<label>Typical Cruise Altitude*(flight level)-Default (250)</label>
										</div>
									</div>
									<div class="col-6">
										<div class="">
											<label>Flight Rounding</label>
											<label for="" class="label_container">
												<input type="checkbox">
												<span class="checkmark"></span>
												Round-up to tenths-Default (No)
											</label>
										</div>
										<div class="md-form">
											<input type="text" name="" value="110">
											<label>Takeoff Speed*(knots)-Default (110)</label>
										</div>
										<div class="md-form">
											<input type="text" name="" value="110">
											<label>Landing Speed*(knots)-Default (110)</label>
										</div>
										<div class="md-form">
											<input type="text" name="" value="250">
											<label>Cruise Speed (KTAS)*(knots)-Default (270)</label>
										</div>
										<div class="row form_buttons">
											<button type="button" class="btn btn-info">Save</button>
											<button type="button" class="btn btn-danger">Cancel</button>
										</div>	
									</div>
								</div>
							</div>
						</div>
						<div class="col-12">
							<h5>Test &amp; Calibration Itinerary</h5>
							<p> The following itinerary can be edited on the calibration page where you can enter sample flight times from your FMS to better calibrate performance.</p>
						</div>
						<table class="table  table-hover general-table">
							<thead>
								<tr>
									<th style="width:15%;" class="first_th">From</th>
									<th style="width:15%;" class="second_th">To</th>
									<th style="width:15%;" class="third_th">December</th>
									<th style="width:15%;" class="fourth_th">March</th>
									<th style="width:15%;" class="fourth_th">June</th>
									<th style="width:15%;" class="fourth_th">September</th>
									<th >Distance</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><a href="">KOPF,OPF</a><br/><a href="">KBCT,BCT</a></td>
									<td><a href="">KBCT,BCT</a><br/><a href="">KOPF,OPF</a></td>
									<td><p>00:25 <br/>00:25	</p></td>
		                            <td><p>00:25 <br/>00:25	</p></td>
		                            <td><p>00:25 <br/>00:25	</p></td>
		                            <td><p>00:25 <br/>00:25	</p></td>
		                            <td >30NM</td>
								</tr>
								<tr>
									<td><a href="">KOPF,OPF</a><br/><a href="">KBCT,BCT</a></td>
									<td><a href="">KBCT,BCT</a><br/><a href="">KOPF,OPF</a></td>
									<td><p>00:25 <br/>00:25	</p></td>
		                            <td><p>00:25 <br/>00:25	</p></td>
		                            <td><p>00:25 <br/>00:25	</p></td>
		                            <td><p>00:25 <br/>00:25	</p></td>
		                            <td >30NM</td>
								</tr>
								<tr>
									<td><a href="">KOPF,OPF</a><br/><a href="">KBCT,BCT</a></td>
									<td><a href="">KBCT,BCT</a><br/><a href="">KOPF,OPF</a></td>
									<td><p>00:25 <br/>00:25	</p></td>
		                            <td><p>00:25 <br/>00:25	</p></td>
		                            <td><p>00:25 <br/>00:25	</p></td>
		                            <td><p>00:25 <br/>00:25	</p></td>
		                            <td >30NM</td>
								</tr>
							</tbody>
						</table>
					</div>  <!-- EEEEEEEEEEEEEEEEE-->
				</div>
				<div id="Calibrate" class="tab-pane" role="tabpanel">
					<div class="row">
						<div class="col-12">
						<p>Calibration allows you to refine the performance of your aircraft to better match the times you use when generating quotes. <br>
						<a href="">Email calibration itinerary</a></p>
							<h5>Create calibration Itinerary</h5>
							<p>Calibration itineraries will generate routes that allow us to better calibrate your aircraft’s flight times. Please note that the more segments you provide the more accurately we can match your actual performance.</p>
							<div class="form-group">
								<div class="row">
									<div class="col-6">
										<div class="md-form">
											<input type="text" name="">
											<label>Create Itinerary From</label>
										</div>
										<div class="">
											<div class="sel sel--black-panther">
												<select >
													<option selected>Segments</option>
													<option>10</option>
													<option>15</option>
													<option>20</option>
													<option>25</option>
													<option>30</option>
													<option>35</option>
													<option>40</option>
													
												</select>
											</div>
										</div>
									</div>	
								</div>
							</div>
						</div>
						<div class="col-12">
							<p style="background-color:#F3F781 "> <strong>  Please note: </strong>The following calibration profile is not currently in use. To use this calibration please make sure you have the proper flight times entered then choose Save & Recalculate. Please note that by activating this calibration you will be locking the settings on the Profile tab.</p>
							<br><p> <strong>  Performance last calibrated on:</strong>	N/A</p>
						</div>
						<div class="col-12">
							<table class="table  table-hover general-table">
								<thead>
									<tr>
										<th style="width:15%;" class="first_th">From</th>
										<th style="width:15%;" class="second_th">To</th>
										<th style="width:15%;" class="third_th">December</th>
										<th style="width:15%;" class="fourth_th">March</th>
										<th style="width:15%;" class="fourth_th">June</th>
										<th style="width:15%;" class="fourth_th">September</th>
										<th >Distance</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><a href="">KOPF,OPF</a><br/><a href="">KBCT,BCT</a></td>
										<td><a href="">KBCT,BCT </a><br><a href="">KOPF,OPF</a></td>
										<td><input style="width: 25%" type="text" name="">   00:25 <br><input style="width: 25%" type="text" name="">   00:25	</td>
			                            <td><input style="width: 25%" type="text" name="">   00:25 <br><input style="width: 25%" type="text" name="">   00:25	</td>
			                            <td><input style="width: 25%" type="text" name="">   00:25 <br><input style="width: 25%" type="text" name="">   00:25	</td>
			                            <td><input style="width: 25%" type="text" name="">   00:25 <br><input style="width: 25%" type="text" name="">   00:25	</td>
			                            <td >
			                            	30NM <i title="Default legs Cannot be removed" class="flaticon-locked"></i>
			                            </td>
									</tr>
									<tr>
										<td><a href="">KOPF,OPF</a><br/><a href="">KBCT,BCT</a></td>
										<td><a href="">KBCT,BCT </a><br><a href="">KOPF,OPF</a></td>
										<td><input style="width: 25%" type="text" name="">   00:25 <br><input style="width: 25%" type="text" name="">   00:25	</td>
			                            <td><input style="width: 25%" type="text" name="">   00:25 <br><input style="width: 25%" type="text" name="">   00:25	</td>
			                            <td><input style="width: 25%" type="text" name="">   00:25 <br><input style="width: 25%" type="text" name="">   00:25	</td>
			                            <td><input style="width: 25%" type="text" name="">   00:25 <br><input style="width: 25%" type="text" name="">   00:25	</td>
			                            <td >
			                            	30NM <i title="Default legs Cannot be removed" class="flaticon-locked"></i>
			                            </td>
									</tr>
									<tr>
										<td><a href="">KOPF,OPF</a><br/><a href="">KBCT,BCT</a></td>
										<td><a href="">KBCT,BCT </a><br><a href="">KOPF,OPF</a></td>
										<td><input style="width: 25%" type="text" name="">   00:25 <br><input style="width: 25%" type="text" name="">   00:25	</td>
			                            <td><input style="width: 25%" type="text" name="">   00:25 <br><input style="width: 25%" type="text" name="">   00:25	</td>
			                            <td><input style="width: 25%" type="text" name="">   00:25 <br><input style="width: 25%" type="text" name="">   00:25	</td>
			                            <td><input style="width: 25%" type="text" name="">   00:25 <br><input style="width: 25%" type="text" name="">   00:25	</td>
			                            <td >
			                            	30NM <i title="Default legs Cannot be removed" class="flaticon-locked"></i>
			                            </td>
									</tr>
								</tbody>
							</table> <!-- AAAAAAAAAAAAAAAAAA -->
						</div>
					</div>
					<div> 
						<label>Add Leg</label>  
						<label>From:</label> 
						<input type="text" name=""   value="name,ICAO,IATA"><i class="flaticon-search" title="Airport Search"></i> 
						<label>To</label>
						<input type="text" name="" value="name,ICAO, IATA"><i class="flaticon-search" title="Airport Search"> </i>
						<button type="button" class="btn btn-success">Save & Recalculate</button> 
					</div>
					<div class="row form_buttons">
						<button type="button" class="btn btn-info">Save</button>
						<button type="button" class="btn btn-success">Save & Recalculate</button>
						<button type="button" class="btn btn-danger">Cancel</button>
					</div>	
				</div>
		</div>
	</div>
</div>