<div class="container-main" data-id="fleet">
			<div class="row">
				<div class="col-11">
					<h4 class="title-bold">Fleet Overview</h4>
				</div>
				<div class="col-1 text-right">
					<a class="active" data-toggle="modal" data-target="#ModalAddFleet"><i class="collection-flaticon-customer-support text-info icon-separator" data-toggle="tooltip" data-placement="left" title="Help"></i></a>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<p>If you find any discrepancies please contact us by email or phone.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-12 text-right">
					<a class="active" data-toggle="modal" data-target="#ModalAddFleet"><i class="flaticon-add-2 text-success icon-separator" data-toggle="tooltip" data-placement="left" title="Create New"></i></a>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<table class="table table-hover general-table">
						<thead>
							<tr>
								<th>Reg. Nr.</th>
								<th>Type</th>
								<th>Status</th>
								<th>Homebase</th>
								<th>AOC</th>
								<th>Pictures</th>
								<th>Options</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let aircraft of this.aircraftsList">
								<td >{{aircraft.registration}}</td>
								<td>{{aircraft.name}}</td>
								<td></td>
								<!-- <td><i class="flaticon-success text-success" data-toggle="tooltip" data-html="true" title="<p>SchedAero</p><ul><li>Aircraft missing basic information.</li><li>No Performance profile assigned.</li></ul>"></i></td> -->
								<td></td>
								<td></td>
								<td><i class="flaticon-picture-1 text-warning" data-toggle="tooltip" data-placement="left" title="Show Pictures"></i></td>
								<td>
									<a class="routerLink" [routerLink]="['../../../fleet_edit/', aircraft.id]"><i class="flaticon--basic-edit text-primary" data-toggle="tooltip" data-placement="left" title="Edit Fleet"></i></a>
									<i class="flaticon--basic-garbage text-danger" data-toggle="tooltip" data-placement="left" title="Delete Fleet" (click)="deleteAircraft(aircraft.id)"></i>		
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>
		<!-- content end -->
	<!-- Modals -->
		<!-- ModalAddFleet -->
			<div class="modal fade" id="ModalAddFleet">
			  <div class="modal-dialog modal-lg">
			    <div class="modal-content">

			      <!-- Modal Header -->
			      <div class="modal-header">
			        <h4 class="modal-title">Create new Aircraft</h4>
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			      </div>

			      <!-- Modal body -->
			      <div class="modal-body">
							
				      	<div class="md-form">
							<input type="text" name="" [(ngModel)]="regNum">	
							<label>Registration Number*</label>
						</div> 
						<div class="row">
								<div class="col-11">
										<div class="md-form ">
											<ngx-select [allowClear]="true"
												[items]="aircraftType"
												[(ngModel)]="type"
												placeholder="Type*"
												>
											</ngx-select> 
										</div> 
								</div>
							</div>
						<div class="md-form">
							<input type="text" name="" [(ngModel)]="serial">	
							<label>Serial Number</label>
						</div>  
						<div class="md-form">
							<input type="text" name="" data-daterange="year"  id="manufacturingYear" >	
							<label>Manufacturing Year</label>
						</div>       
			      </div>

			      <!-- Modal footer -->
			      <div class="modal-footer">
			        <button type="button" class="btn btn-success" (click)="createAircraft()">Create</button>
			        <button type="button" class="btn btn-danger" data-dismiss="modal" >Cancel</button>
			      </div>

			    </div>
			  </div>
			</div>
		<!-- End ModalAddFleet -->