.switch-toggly {
  position: relative;
  display: inline-block;
  width: 47px;
  height: 24px;
  margin-bottom: 0;
  vertical-align: middle;
  margin-left: 5px;
}

.switch-toggly input {display:none;}

.slider-toggly {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-toggly:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider-toggly {
  background-color: #2196F3;
}

input:focus + .slider-toggly {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider-toggly:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

/* Rounded slider-togglys */
.slider-toggly.round {
  border-radius: 34px;
}

.slider-toggly.round:before {
  border-radius: 50%;
}

label.label_toggly{
	margin-bottom: 0;
	display: inline-block;
	vertical-align: middle;
}
.md-form.input-form{
	margin-bottom: 0;
}
.input-form{
	margin-bottom: 1.5rem;
}
.pad-none{
	padding: 0;
}
.label_container{
	display: inline-block;
}
.sel{
  margin: 0 0 3em 0;
}

.md-form.prefix-icon i{
  position: absolute;
  right: 0;
  top: -4px;
  color: #757575;
}