	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:32
  	*/

@font-face {
  font-family: "Flaticon-basic";
  src: url("../fonts/Flaticon-basic.eot");
  src: url("../fonts/Flaticon-basic.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon-basic.woff") format("woff"),
       url("../fonts/Flaticon-basic.ttf") format("truetype"),
       url("../fonts/Flaticon-basic.svg#Flaticon-basic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon-basic";
    src: url("../fonts/Flaticon-basic.svg#Flaticon") format("svg");
  }
}

[class^="flaticon--basic-"]:before, [class*=" flaticon--basic-"]:before,
[class^="flaticon--basic-"]:after, [class*=" flaticon--basic-"]:after {   
  font-family: Flaticon-basic;
  font-size: 20px;
  font-style: normal;
  vertical-align: middle;
  cursor: pointer;
}

.flaticon--basic-add:before { content: "\f100"; }
.flaticon--basic-bag:before { content: "\f101"; }
.flaticon--basic-battery:before { content: "\f102"; }
.flaticon--basic-bell:before { content: "\f103"; }
.flaticon--basic-bluetooth:before { content: "\f104"; }
.flaticon--basic-bookmark:before { content: "\f105"; }
.flaticon--basic-briefcase:before { content: "\f106"; }
.flaticon--basic-calendar:before { content: "\f107"; }
.flaticon--basic-cancel:before { content: "\f108"; }
.flaticon--basic-cancel-1:before { content: "\f109"; }
.flaticon--basic-clip:before { content: "\f10a"; }
.flaticon--basic-clock:before { content: "\f10b"; }
.flaticon--basic-clock-1:before { content: "\f10c"; }
.flaticon--basic-cloud:before { content: "\f10d"; }
.flaticon--basic-correct:before { content: "\f10e"; }
.flaticon--basic-credit-card:before { content: "\f10f"; }
.flaticon--basic-cursor:before { content: "\f110"; }
.flaticon--basic-cursor-1:before { content: "\f111"; }
.flaticon--basic-cut:before { content: "\f112"; }
.flaticon--basic-cutlery:before { content: "\f113"; }
.flaticon--basic-down-arrow:before { content: "\f114"; }
.flaticon--basic-download:before { content: "\f115"; }
.flaticon--basic-edit:before { content: "\f116"; }
.flaticon--basic-envelope:before { content: "\f117"; }
.flaticon--basic-export:before { content: "\f118"; }
.flaticon--basic-favorite:before { content: "\f119"; }
.flaticon--basic-file:before { content: "\f11a"; }
.flaticon--basic-folder:before { content: "\f11b"; }
.flaticon--basic-forward:before { content: "\f11c"; }
.flaticon--basic-gallery:before { content: "\f11d"; }
.flaticon--basic-gamepad:before { content: "\f11e"; }
.flaticon--basic-garbage:before { content: "\f11f"; }
.flaticon--basic-headphones:before { content: "\f120"; }
.flaticon--basic-heart:before { content: "\f121"; }
.flaticon--basic-help:before { content: "\f122"; }
.flaticon--basic-home:before { content: "\f123"; }
.flaticon--basic-hourglass:before { content: "\f124"; }
.flaticon--basic-info:before { content: "\f125"; }
.flaticon--basic-layer:before { content: "\f126"; }
.flaticon--basic-layout:before { content: "\f127"; }
.flaticon--basic-left-arrow:before { content: "\f128"; }
.flaticon--basic-left-arrow-1:before { content: "\f129"; }
.flaticon--basic-lightning:before { content: "\f12a"; }
.flaticon--basic-link:before { content: "\f12b"; }
.flaticon--basic-logout:before { content: "\f12c"; }
.flaticon--basic-magnet:before { content: "\f12d"; }
.flaticon--basic-map:before { content: "\f12e"; }
.flaticon--basic-menu:before { content: "\f12f"; }
.flaticon--basic-monitor:before { content: "\f130"; }
.flaticon--basic-moon:before { content: "\f131"; }
.flaticon--basic-padnote:before { content: "\f132"; }
.flaticon--basic-paint:before { content: "\f133"; }
.flaticon--basic-pause:before { content: "\f134"; }
.flaticon--basic-photo-camera:before { content: "\f135"; }
.flaticon--basic-placeholder:before { content: "\f136"; }
.flaticon--basic-play-button:before { content: "\f137"; }
.flaticon--basic-power:before { content: "\f138"; }
.flaticon--basic-presentation:before { content: "\f139"; }
.flaticon--basic-printer:before { content: "\f13a"; }
.flaticon--basic-profile:before { content: "\f13b"; }
.flaticon--basic-prohibition:before { content: "\f13c"; }
.flaticon--basic-push-pin:before { content: "\f13d"; }
.flaticon--basic-puzzle:before { content: "\f13e"; }
.flaticon--basic-refresh:before { content: "\f13f"; }
.flaticon--basic-remove:before { content: "\f140"; }
.flaticon--basic-rewind:before { content: "\f141"; }
.flaticon--basic-right-arrow:before { content: "\f142"; }
.flaticon--basic-right-arrow-1:before { content: "\f143"; }
.flaticon--basic-rocket-launch:before { content: "\f144"; }
.flaticon--basic-screen:before { content: "\f145"; }
.flaticon--basic-search:before { content: "\f146"; }
.flaticon--basic-settings:before { content: "\f147"; }
.flaticon--basic-settings-1:before { content: "\f148"; }
.flaticon--basic-settings-2:before { content: "\f149"; }
.flaticon--basic-share:before { content: "\f14a"; }
.flaticon--basic-shield:before { content: "\f14b"; }
.flaticon--basic-shopping-cart:before { content: "\f14c"; }
.flaticon--basic-shutter:before { content: "\f14d"; }
.flaticon--basic-smartphone:before { content: "\f14e"; }
.flaticon--basic-speech-bubble:before { content: "\f14f"; }
.flaticon--basic-speedometer:before { content: "\f150"; }
.flaticon--basic-stats:before { content: "\f151"; }
.flaticon--basic-store:before { content: "\f152"; }
.flaticon--basic-sun:before { content: "\f153"; }
.flaticon--basic-switch:before { content: "\f154"; }
.flaticon--basic-tag:before { content: "\f155"; }
.flaticon--basic-target:before { content: "\f156"; }
.flaticon--basic-timer:before { content: "\f157"; }
.flaticon--basic-unlock:before { content: "\f158"; }
.flaticon--basic-up-arrow:before { content: "\f159"; }
.flaticon--basic-upload:before { content: "\f15a"; }
.flaticon--basic-video:before { content: "\f15b"; }
.flaticon--basic-video-camera:before { content: "\f15c"; }
.flaticon--basic-visible:before { content: "\f15d"; }
.flaticon--basic-voice-recorder:before { content: "\f15e"; }
.flaticon--basic-volume:before { content: "\f15f"; }
.flaticon--basic-waiting:before { content: "\f160"; }
.flaticon--basic-wifi:before { content: "\f161"; }
.flaticon--basic-zoom:before { content: "\f162"; }
.flaticon--basic-zoom-out:before { content: "\f163"; }