	/*
  	Flaticon icon font: Flaticon
  	Creation date: 03/01/2018 21:10
  	*/

@font-face {
  font-family: "Flaticon-collection";
  src: url("../fonts/Flaticon-collection.eot");
  src: url("../fonts/Flaticon-collection.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon-collection.woff") format("woff"),
       url("../fonts/Flaticon-collection.ttf") format("truetype"),
       url("../fonts/Flaticon-collection.svg#Flaticon-collection") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon-collection";
    src: url("../fonts/Flaticon-collection.svg#Flaticon-collection") format("svg");
  }
}

[class^="collection-flaticon-"]:before, [class*=" collection-flaticon-"]:before,
[class^="collection-flaticon-"]:after, [class*=" collection-flaticon-"]:after {   
  font-family: Flaticon-collection;
  font-size: 25px;
  font-style: normal;
  vertical-align: middle;
  cursor: pointer;
}

.collection-flaticon-customer-support:before { content: "\f100"; }
.collection-flaticon-truck:before { content: "\f101"; }
.collection-flaticon-money:before { content: "\f102"; }
.collection-flaticon-bars:before { content: "\f103"; }
.collection-flaticon-support:before { content: "\f104"; }
.collection-flaticon-team-1:before { content: "\f105"; }
.collection-flaticon-employee:before { content: "\f106"; }
.collection-flaticon-team:before { content: "\f107"; }
.collection-flaticon-conversation:before { content: "\f108"; }
.collection-flaticon-exchange:before { content: "\f109"; }
.collection-flaticon-operator:before { content: "\f10a"; }
.collection-flaticon-transport:before { content: "\f10b"; }
.collection-flaticon-shuffle-1:before { content: "\f10c"; }
.collection-flaticon-profile-3:before { content: "\f10d"; }
.collection-flaticon-profile-2:before { content: "\f10e"; }
.collection-flaticon-profile-1:before { content: "\f10f"; }
.collection-flaticon-profile:before { content: "\f110"; }
.collection-flaticon-coins:before { content: "\f111"; }
.collection-flaticon-mail:before { content: "\f112"; }
.collection-flaticon-copy:before { content: "\f113"; }
.collection-flaticon-speech-bubble:before { content: "\f114"; }
.collection-flaticon-rotate:before { content: "\f115"; }
.collection-flaticon-change:before { content: "\f116"; }
.collection-flaticon-email:before { content: "\f117"; }
.collection-flaticon-refresh-page-action:before { content: "\f118"; }
.collection-flaticon-refresh-arrow:before { content: "\f119"; }
.collection-flaticon-copy-two-paper-sheets-stroke-symbol-of-interface:before { content: "\f11a"; }