@font-face {
    font-family: "HelveticaNeue";
    src: url("../fonts/HelveticaNeue.otf") format("opentype");
}
@font-face {
    font-family: "HelveticaNeueLTPro BlkCnO";
    src: url("../fonts/HelveticaNeueLTPro-BlkCnO.otf") format("opentype");
}

@font-face {
    font-family: "HelveticaNeueLTPro MdCn";
    src: url("../fonts/HelveticaNeueLTPro-MdCn.otf") format("opentype");
}
@font-face {
    font-family: "HelveticaNeueLTPro MdCnO";
    src: url("../fonts/HelveticaNeueLTPro-MdCnO.otf") format("opentype");
}

@font-face {
    font-family: "HelveticaNeueLTPro LtCnO";
    src: url("../fonts/HelveticaNeueLTPro-LtCnO.otf") format("opentype");
}

/*@font-face {
    font-family: "HelveticaNeueLTPro CnO";
    src: url("./fonts/HelveticaNeueLTPro-CnO.otf") format("opentype");
}*/

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.ttf") format("opentype");
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("../fonts/OpenSans-Bold.ttf") format("opentype");
}
@font-face {
    font-family: "OpenSans-Semibold";
    src: url("../fonts/OpenSans-Semibold.ttf") format("opentype");
}
@font-face {
    font-family: "OpenSans-Light";
    src: url("../fonts/OpenSans-Light.ttf") format("opentype");
}
@font-face {
    font-family: "OpenSans-CondBold";
    src: url("../fonts/OpenSans-CondBold.ttf") format("opentype");
}
@font-face {
    font-family: "OpenSans-CondLight";
    src: url("../fonts/OpenSans-CondLight.ttf") format("opentype");
}