body{
	font-size: 13px;
	font-family: "OpenSans";
	 /* color: #74777b ; */
  background: white !important;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

a:hover, a:active, a:focus{
  text-decoration: none;
}

h5{
  margin-bottom: 20px;
}
.title-bold{
  font-family: "HelveticaNeueLTPro BlkCnO";
}
.nav-tabs a.nav-link{
	padding: 1px 15px;
	border-bottom: 1px solid #ddd;
	color: #74777b;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "HelveticaNeueLTPro MdCn";
  text-align: center;
  transition: color .3s ease-in-out;
}
.nav-tabs a.nav-link.active{
		border-right: 1px solid #ddd;
		border-left: 1px solid #ddd;
		border-bottom: 0;
		border-top: 2px solid #47c9af;
		color: #47c9af;
		/*background: #47c9af;*/
		transition: border 0.7s ease;
		transition-property: border-top, border-left, border-right;
}
.nav-tabs a.nav-link:hover{
  color: #47c9af;
}

.nav-link.icon-tab i:before{
  font-size: 25px;
}
.nav-tabs li a{
	color: #333;
	text-decoration: none;
	
}
.tab-content{
  padding: 15px;
  padding-top: 15px;
}

.table th{
	border-top: 0;
	color: #767676;
}
.table td{
	padding: 10px;
	color: #767676;
}
/*.table tr td:first-child{
	color: #000;
}*/
.first_th{
	width: 40%;
}

.second_th{
	width: 40%;
}

.options-table i{
	font-size: 1.6em;
	cursor: pointer;
}
.checkbox_col{
	border-right: 1px solid;
}

.form_buttons button{
	margin: 5px;
}
.form_buttons{
	float: right;
}

button{
cursor: pointer;
}

/* Input checkbox toggle*/

label.label_toggly {
  display: block;
  width: 47px;
  height: 24px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  background-color: #E6E9EC;
}

input.toggly {
  display: none;
}


/* The toggle */

label.label_toggly i {
  height: 21px;
  width: 21px;
  background: #ffffff;
  display: inline-block;
  border-radius: 100px;
  margin-top: 2px;
  margin-left: 2px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  pointer-events: none;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

label.label_toggly:hover>i {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.20);
  transform: scale(1.01);
}

input.toggly:checked+label.label_toggly>i {
  margin-left: 24px;
}

label.label_toggly:active {
  background-color: #A6B9CB;
}

label.label_toggly:active>i {
  width: 34px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20);
}

input.toggly:checked+label.label_toggly:active>i {
  margin-left: 18px;
}

input.toggly:checked+label.label_toggly {
  background-color: #008FFF;
}


/*Special Checkbox*/

.label_container {
	/*padding-top: 8px;*/
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 1rem;
    margin-right: 11px;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */
.label_container input {
    position: absolute;
    opacity: 0;
    left: 0;
    z-index: 9999;
    width: 20px;
    height: 20px;
    cursor: pointer;
    top: 0;
}
[class^="col-"].label_container{
  margin-right: 0;
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius:2px;
}

/* On mouse-over, add a grey background color */
.label_container input:hover ~ .checkmark {
    background-color: #ccc;
}

.background-section .label_container input ~ .checkmark {
  background-color: #ccc; 
}

/* When the checkbox is checked, add a blue background */
.label_container input:checked ~ .checkmark {
    background-color: #47c9af;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {

    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.label_container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.label_container .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.radio_button{
	border-radius: 50%;
}
.calendar-trip{
	font-size: 12px;
	width: 265px;
	margin: auto;
	margin-bottom: 10px;
}
.square{
	margin-top: 34px;
}
.form-control{
	    height: 32px;
    font-size: 13px;
}



.md-form{
	position: relative;
	margin-bottom: 1.5rem;
	/*margin-left: 14px;*/
}
.md-form input, .md-form textarea{
	  padding-bottom: .2rem;
    padding-top: .2rem;
    font-size: .8rem;
    line-height: .5;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    border-radius: 0;
    outline: 0;
    height: 1.1rem;
    width: 100%;
    font-size: 1rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: all .3s;
    transition: all .3s;
    color: #676a6d;

}
.md-form textarea{
  /*overflow-y: hidden;*/
  padding: 10px 0 25px;
  resize: none;
  min-height: 3.5rem;
  line-height: 16px;
}
.md-form label{
	font-size: .9rem;
	-webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    color: #757575;
    position: absolute;
    top: 0;
    
    cursor: text;
    display: inline-block;
        touch-action: manipulation;
        margin-bottom: .5rem;
}

.md-form label.active{
	-webkit-transform: translateY(-80%);
    -ms-transform: translateY(-80%);
    transform: translateY(-80%);
    font-size: .8rem;
    color: #47c9af;
}
.md-form input[type=text]:focus,.md-form textarea:focus{
	color: #74777b;
	border-bottom: 1px solid #47c9af;
	box-shadow: 0 1px 0 0 #47c9af;
}
.md-form input[type=text]:focus + label + i,.md-form textarea:focus + label + i{
  color: #47c9af;
}

.basic{
	margin-bottom: 15px;
}

/*ngx Selects*/
.ngx-select__selected.empty{
  border: 5px solid red !important;
}
.ngx-select__search{
  margin-right: 50px;
}
.ngx-select input{
  margin-right: 20px;
}
td .ngx-select__selected-single,.md .ngx-select__placeholder,.ngx-select__toggle{
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ngx-select__item-group{
  font-size: 12px;
}
.ngx-select__toggle{
  border:0px;
  outline:0px;
  width: 100%;
  margin: 0 0 6px 0 !important;
  display: inline-block;
  cursor: pointer;
  color: #676a6d;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

/*Selects*/
.sel select {
  border:0px;
  outline:0px;
  width: 100%;
  margin: 6px 0 6px 0 !important;
  display: inline-block;
  cursor: pointer;
  color: #676a6d
 }

/*.sel::before {
  position: absolute;
  font-family: 'Flaticon-basic';
  content: '\f114';
  font-size: 1em;
  color: #47c9af;
  right: 4px;
  top: calc(50% - 0.5em);
  transition: transform .4s ease-out;
}
.sel.active::before {
  transform: rotateX(-180deg);
}*/
.sel__placeholder {
  display: block;
  font-family: 'OpenSans';
  font-size: 14px;
  color: #676a6d;
  padding: 0.2em 0;
  text-align: left;
  pointer-events: none;
  user-select: none;
  visibility: visible;
  line-height: 1.3;
  font-size: .9rem;
}
.table td, .table th{
  vertical-align: middle;
}

.sel.active .sel__placeholder {
  visibility: hidden;
}

.sel__placeholder::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.2em 0;
  content: attr(data-placeholder);
  visibility: hidden;
}

.sel.active .sel__placeholder::before {
  visibility: visible;
}

.sel__box {
  position: absolute;
  top: calc(100% + 4px);
  left: -4px;
  display: none;
  list-style-type: none;
  text-align: left;
  font-size: 13px;
  background-color: #FFF;
  width: calc(100% + 8px);
  box-sizing: border-box;
}

.sel.active .sel__box {
  display: block;
  animation: fadeInUp 500ms;
}

.sel__box__options {
  display: list-item;
  font-family: 'Quicksand';
  font-size: 13px;
  color: #838e95;
  padding: 0.5em 1em;
  user-select: none;
}

.sel__box__options::after {
  content: '\f00c';
  font-family: 'FontAwesome';
  font-size: 0.5em;
  margin-left: 5px;
  display: none;
}

.sel__box__options.selected::after {
  display: inline;
}

.sel__box__options:hover {
  background-color: #ebedef;
}

/* ----- Select Box Black Panther ----- */
.sel {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.sel--black-panther {
  z-index: 3;
}
.sel--black-panther.top {
  z-index: 4;
}
.sel--black-panther.top1 {
  z-index: 5;
}
.sel--black-panther.top2 {
  z-index: 6;
}
.sel--black-panther.top3 {
  z-index: 7;
}
/* ----- Select Box Superman ----- */
.sel--superman {
/*   display: none; */
  z-index: 2;
}

/* ===== Keyframes ===== */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
.list-group-item{
  display: block;
  padding: .75rem 15px;
}

/*================================ SIDEBAR =================================*/

.sidebar-menu , .container-main, nav.navigation, nav.sidebar-submenu{
	float: left;
	position: relative;
}
.sidebar-menu{
	width: 294px;
	max-width: 294px;

}
.container-main{
	width: calc(100% - 294px);
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 30px;
}
nav.navigation{
	width: 64px;
	max-width: 64px;
	background-color: #fff;
	padding-right: 8px;
	padding-left: 8px;
}
nav.sidebar-submenu{
	width: 230px;
	max-width: 230px;
	margin-left: 64px;
	background-color: #F4F5F7;
	padding-right: 5px;
	padding-left: 5px;
	
}
nav.navigation, nav.sidebar-submenu{
	height: 100%;
	position: fixed;
	padding-top: 30px;
}
.tabs-menu{
	border-bottom: 0;
	padding:0;
	display: block;

}
nav.navigation .tabs-menu .tabs-menu-item .nav-link.active{
	color: #47c9af;
	background-color: transparent;
	border-color: transparent;
}
nav.navigation .tabs-menu .tabs-menu-item{
	text-align: center;
}
nav.navigation .tabs-menu .tabs-menu-item .nav-link{
	color: #74777b;
	padding: 1.1em 0;
}
nav.navigation .tabs-menu .tabs-menu-item .nav-link:focus, .tabs-menu .tabs-menu-item .nav-link:hover{
	border-color: transparent;
}
.tabs-sub-menu{
	list-style: none;
	padding:0;
	margin-top: 25px;
}
.tabs-sub-menu .tabs-sub-menu-item a{
	padding: .4em 0;
	display: block;
	color: #696969;
	margin-bottom: 3px;
	padding-left: 12px;

}
.tabs-sub-menu .tabs-sub-menu-item a.active{
	background-color: #EAECF0;
	color: #47c9af;
	transform: all 2s ease;
}
.tabs-sub-menu .tabs-sub-menu-item a:hover{
	text-decoration: none;
	color: #47c9af;
}

.divider_la{
	margin-bottom: 11px;
}

table.sort-order td,
table.sort-order tbody  td, 
table.sort-order thead  th{
	vertical-align: middle;
}

.table-hover tbody tr:hover{
	background-color: rgba(0,0,0,0.015);
}

.request_trips{
	padding-left: 20px;
}
.i-img{
	font-size: 25px;
  cursor: pointer;
}
.overview{
	margin-top: 20px;
  margin-bottom: 20px;
}
.overview_i i{
	cursor: pointer;
	font-size: 18px;
}

 .container-main .nav-item{
	background: rgba(40,44,42,0.05);
} 

/*=================================================*/
.icon-separator{
  margin-right: 10px;
}
/*.icon-separator:last-child{
  margin-right: 0;
}*/

/*Modals */
.row-margin{
	margin-bottom: 20px;
} 
.checkbox-download{
	margin-left: 10px;
}
/*End Modal*/

/* ----------- */
.inline-label{
  display: inline-block;
}
.textarea-margin{
  margin-top: 10px;
}

.text-labelless{
  margin-left: 0;
  margin-bottom: 0; 
}
.checked-logistic{
  align-items: center;
}
.checked-logistic i{
  padding: 5px;
}

.form-group{
  padding-left: 20px;
  border-bottom: 1px solid;
}
.enlarge-icon:before{
  transition: all .4s ease-out;

}
.enlarge-icon:hover:before{
  font-size: 30px;
  cursor: pointer;
}
.tabbable .tab-content{
  padding: 15px 0;
}
.inside-content{
  padding: 15px 20px;
}

.items-alignment{
  align-items: center;
}




.label-world{
  padding-right: 100px;
}
.label-world i{
  padding-right: 5px;
}

/* Aircraft css */
.switch-toggly {
  position: relative;
  display: inline-block;
  width: 47px;
  height: 24px;
  margin-bottom: 0;
  vertical-align: middle;
  margin-left: 5px;
}

.switch-toggly input {display:none;}

.slider-toggly {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-toggly:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider-toggly {
  background-color: #2196F3;
}

input:focus + .slider-toggly {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider-toggly:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

/* Rounded slider-togglys */
.slider-toggly.round {
  border-radius: 34px;
}

.slider-toggly.round:before {
  border-radius: 50%;
}

label.label_toggly{
  margin-bottom: 0;
  display: inline-block;
  vertical-align: middle;
}
.md-form.input-form{
  margin-bottom: 0;
}
.input-form{
  margin-bottom: 1.5rem;
}
.pad-none{
  padding: 0;
}

.background-section{
  background: rgba(40,44,42,0.05);
}

h5{
  margin-bottom: 25px;
}

.md-form.prefix-icon i{
  position: absolute;
  right: 0;
  top: -4px;
}

/* ------------- Upload File -------------*/ 

.receipt {
    margin-bottom: 48px;
    margin-right: 15px;
    margin-left: 10px;
}

.special-col {
    max-width: 45%;
}

.input-file-container {
  position: relative;
 /* background-image: linear-gradient(to bottom, #34495E 50%, #39D2B4 50%);*/
  background-size: 100% 200%;
  transition: all 1s;
} 

.js .input-file-trigger {
  display: block;
  padding: 8px 45px;
  background: #39D2B4;
  color: #fff;
  font-size: 1em;
  transition: all .4s;
  cursor: pointer;
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom,  #39D2B4 50%, #34495E 50%);
  -webkit-transition: background-position 1s;
  -moz-transition: background-position 1s;
  transition: background-position 1s;
}
.js .input-file {
  position: absolute;
  top: 0; left: 0;
  width: 170px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
  color: #39D2B4;
  background-position: 0 -100%;
}

.file-return {
  margin: 0;
}
.file-return:not(:empty) {
  margin: 1em 0;
}
.js .file-return {
  font-style: italic;
  font-size: .9em;
  font-weight: bold;
}
.js .file-return:not(:empty):before {
  content: "Selected file: ";
  font-style: normal;
  font-weight: normal;
}
/*Upload File End*/
/*=================== DATEPICKER ==============================*/
/*month*/

.datepicker{
  padding: 0;
}
.datepicker .datepicker-days{
  font-size: 14px;
  padding: 0 18px 7px;
}
.datepicker .datepicker-days table thead tr:nth-child(2){
  border-bottom: 1px solid #efefef;
}
.datepicker .datepicker-days table thead tr:nth-child(2) th{
  min-height: 20px;
  padding: 10px;
}
.datepicker .datepicker-days table thead tr:nth-child(2) th i:before{
  font-size: 14px;
}
/*days*/
.datepicker .datepicker-days table thead tr:nth-child(3){
  font-size: 13px;
}
.datepicker .datepicker-days table thead tr:nth-child(3) th{
  color: #47c9af;
  text-transform: uppercase;
  padding: 3px;
  padding-top: 10px;
}
/*number day*/
.datepicker .datepicker-days table tbody tr td{
  /*color: #333;*/
  padding: 5px 8px;
}
.datepicker table tr td.today, .datepicker table tr td.today.disabled, 
.datepicker table tr td.today.disabled:hover, 
.datepicker table tr td.today:hover{
  background-color: transparent;
  background-image: none;
  color: #47c9af;
}
.datepicker table tr td.active.active, 
.datepicker table tr td.active.disabled, 
.datepicker table tr td.active.disabled.active, 
.datepicker table tr td.active.disabled.disabled, 
.datepicker table tr td.active.disabled:active, 
.datepicker table tr td.active.disabled:hover, 
.datepicker table tr td.active.disabled:hover.active, 
.datepicker table tr td.active.disabled:hover.disabled, 
.datepicker table tr td.active.disabled:hover:active, 
.datepicker table tr td.active.disabled:hover:hover, 
.datepicker table tr td.active.disabled:hover[disabled], 
.datepicker table tr td.active.disabled[disabled], 
.datepicker table tr td.active:active, 
.datepicker table tr td.active:hover, 
.datepicker table tr td.active:hover.active, 
.datepicker table tr td.active:hover.disabled, 
.datepicker table tr td.active:hover:active, 
.datepicker table tr td.active:hover:hover, 
.datepicker table tr td.active:hover[disabled], 
.datepicker table tr td.active[disabled]{
  background-color: #47c9af;
  color: #FFF;
  background-image: none;
}

/*==================== END DATEPICKER =============================*/
/*===================== MEDIA  QUERIES ======================*/
/** Mobile - Tablet **/
@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}
/*===================== END MEDIA  QUERIES ======================*/

.btn-jet {
    color: #fff;
    background-color: #47c9af;
    border-color: #47c9af;
}

.btn-jet:hover{    
    color: #fff;
    background-color: #3fb49d;
    border-color: #3fb49d;
}

.btn-jet.focus, .btn-jet:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(71,201,175,.5);
    box-shadow: 0 0 0 2px rgba(71,201,175,.5);
}

.subtitle{
  font-size: 9.5px;
}

.sel.sel--black-panther.active{
  z-index: 4;
}

.mdform-table{
  margin-bottom: 0rem;
}

a{
  color: #47c9af;
}

a:focus, a:hover{
  color: #38a08c;
}

.clicktext{
  color: #47c9af;
  cursor: pointer;
}

.clicktext:focus, .clicktext:hover{
  color: #38a08c;
}