
<div class="container-main pr-4" data-id="createtrip">
      <div class="row">
         <div class="col-12 mb-4">
            <h4 class="title-bold">Create Scheduled Trip</h4>
         </div>
         <div class="md-form col-4">
            <input type="text" id="">
            <label for="" class="">Requester</label>
         </div>
         <div class="col-4">
                  <ngx-select [allowClear]="true"
                        [items]="aircrafts"
                        [(ngModel)]="ngxValueAircraft"
                        placeholder="No aircraft selected"
                        [noAutoComplete]="true"
                        >
                  </ngx-select> 
         </div>
         <div class="col-4">
            <div class="sel sel--black-panther">
               <select >
                  <option selected disabled>Flight Reg</option>
                  <option>Charter (US Part 135)</option>
                  <option>Commercial (US Part 121)</option>
                  <option>General (US Part 91)</option>
               </select>
            </div>
         </div>
         <div class="col-4">
            <div class="sel sel--black-panther">
               <select >
                  <option selected disabled>Pilot in command</option>
                  <option>Cooley, Michael Wesley</option>
                  <option>Yost, Charlie</option>
                  <option>Yost, Edwin Stievert</option>
               </select>
            </div>
         </div>
         <div class="col-4">
            <div class="sel sel--black-panther">
               <select >
                  <option selected disabled>Second in command</option>
                  <option>Cooley, Michael Wesley</option>
                  <option>Yost, Charlie</option>
                  <option>Yost, Edwin Stievert</option>
               </select>
            </div>
         </div>
      </div>
   <div class="">
      <div class="row">
         <div class="col-12 mt-3">
            <h5>Itinerary</h5>
         </div>
         <div class="col-2">
            <div class="sel sel--black-panther">
               <select name="" id="">
                  <option value="" disabled="">New Leg Default</option>
               </select>
            </div>
         </div>
         <div class="col-2">
            <div class="sel sel--black-panther">
               <select name="" id="">
                  <option value="" disabled="">Add position legs</option>
               </select>
            </div>
         </div>
         <label for="" class="col-8 pr-0 text-right label-world">
	         <i class="flaticon-worldwide text-default icon-separator" data-toggle="tooltip" data-placement="top" title="View Map" (click)="getMapModal()"></i>
	         <i class="flaticon--basic-refresh text-default icon-separator" data-toggle="tooltip" data-placement="top" title="Regenerate flight times"></i>
         </label>
      </div>
      <div class="row mt-4">
         <div class="col-12">
            <div class="table-responsive">
               <table class="table table-sm table-hover">
                  <thead>
                     <tr>
                        <th>Alerts</th>
                        <th style="width: 15%">From</th>
                        <th style="width: 15%">To</th>
                        <th>Depart Local (24h)</th>
                        <th></th>
                        <th style="width: 5%" >Stops</th>
                        <th style="width: 6%">Block time</th>
                        <th>Arrivel local (24h)</th>
                        <th style="width: 5%">Pax</th>
                        <th></th>
                        <th style="width: 10%">Distance</th>
                        <th style="width: 8%">Options</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor='let item of forArray; let i = index'>
                           <td></td>
                              <td>
                                    <div class="col-10 md-form p-0 mdform-table">
                                          <ngx-select [allowClear]="true"
                                                      [items]="itemsOut[2*i]"
                                                      [(ngModel)]="ngxValue[2*i]"
                                                      [placeholder]="placeholder[i]"
                                                      (typed)='updateAirports($event,2*i)'
                                                      (remove)='clearArray(2*i)'
                                                      
                                                      >
                                          </ngx-select>                                      
                                    </div>
                              </td>
                              <td>
                                    <div class="col-10 md-form p-0 mdform-table">
                                          <ngx-select [allowClear]="true"
                                                      [items]="itemsOut[2*i+1]"
                                                      [(ngModel)]="ngxValue[2*i+1]"
                                                      placeholder="No airport selected"
                                                      (typed)='updateAirports($event,2*i+1)'
                                                      (remove)='clearArray(2*i+1)'
                                                      >
                                          </ngx-select> 
                                    </div>
                              </td>
                              <td>
                                    <div class="md-form prefix-icon mdform-table" >
                                          <input type="text" name="" data-datetimerange="true"  class="departDate"  readonly>
                                          <label></label>
                                          <i class="flaticon--basic-calendar"></i>
                                    </div>
                              </td>
                              <td>
                                    <label for="" class="label_container"><input type="checkbox"><span class="checkmark"></span>
                                          TBD
                                    </label>
                              </td>
                              <td>
                                    <div class="md-form col-6 p-0 text-left ml-0 mdform-table">
                                          <input type="text" id="form1" value="0">
                                    </div>
                              </td>
                              <td>
                                    <div class="md-form col-6 p-0 mdform-table">
                                          <input type="text" id="form1" value="4:16">
                                    </div>
                              </td>
                              <td>
                                    <div class="md-form prefix-icon mdform-table" ngDefaultControl>
                                          <input type="text" name="" data-datetimerange="true" class="arrivalDate" readonly   >
                                          <label></label>
                                          <i class="flaticon--basic-calendar"></i>
                                    </div>
                              </td>
                              <td>
                                    <div class="md-form mdform-table">
                                          <input type="text" id="form1" value="KGGG">
                                    </div>
                              </td>
                              <td>
                                    <label for="" class="label_container"><input type="checkbox"><span class="checkmark"></span>
                                          TBD
                                    </label>
                              </td>
                              <td class="pt-0">
                                    <div class="col-10 md-form p-0 mdform-table">
                                          <input type="text" id="form1" value="">
                                    </div>
                              </td>
                              <td>
                                    <i class="flaticon-add-2 text-success icon-separator" data-toggle="tooltip" data-placement="top" title="Add" (click)="addNewRow()"></i>
                                    <i class="flaticon--basic-garbage text-danger icon-separator" data-toggle="tooltip" data-placement="top" title="Delete" *ngIf="forArray.length > 1" (click)="deleteRow(i)"></i>

                              </td>    
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
      <div class="row" style="padding-bottom: 15px;">
         <div id="accordion" class="col-12" role="tablist" aria-multiselectable="true">
            <div class="card">
               <div class="card-header" role="tab" id="headingOne">
                  <p class="mb-0">
                     <a data-toggle="collapse" data-parent="#accordion" aria-expanded="true" href="#collapseModalOne"  ari-controls="collapseModalOne">
                     Add Notes &#9660;
                     </a>
                  </p>
               </div>
               <div id="collapseModalOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="card-block">
                     <div class="row">
                        <div class="col-6 md-form">
                           <textarea class="form-control"></textarea>
                           <label for="" class="">Internal Note</label>
                        </div>
                        <div class="col-6 md-form">
                           <textarea class="form-control"></textarea>
                           <label for="" class="">PDF Message</label>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row form_buttons">
      	<div class="col-12">
      		<button type="button" class="btn btn-jet" (click)="createTrip(ngxValueAircraft,ngxValue)">Schedule Trip</button>
      	</div>
      </div>
   </div>

</div>
<div class="modal fade" id="airportDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
               <div class="modal-content">
                  <div class="modal-header">
                     <h5 class="modal-title">Map View</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <div class="modal-body">
                     <div class="row">
                           
                        <div class="col-12">
                           <div id="map"></div>
                        </div>
                     </div>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
               </div>
            </div>
         </div>