<div class="container-main" data-id="scheduledtrips">
   <div class="row">
      <div class="col-12 mb-3">
         <h4 class="title-bold">Search Scheduled Trips</h4>
      </div>
   </div>
   <div class="row">
      <div class="md-form col-4">
            <ngx-select [allowClear]="true"
            [items]="trips"
            [(ngModel)]="tripId"
            placeholder="No aircraft selected"
            [noAutoComplete]="true"
            >
            </ngx-select> 
         <p class="subtitle">Jump directly to trip number</p>
      </div>
      <div class="col-1">
         <i class="flaticon-play-button-1" data-toggle="tooltip" data-placement="top" title="Jump to" [routerLink]="['../../../edit_trip',tripId]"></i>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <ul class="nav nav-tabs">
            <li class="nav-item" (click)="Changetrips(0)">
               <a class="nav-link icon-tab active" data-toggle="tab" href="#current" role="tab" > 
               <i class="flaticon--basic-clock" aria-hidden="true"></i><br>Current trips
               </a>
            </li>
            <li class="nav-item" (click)="Changetrips(1)">
               <a class="nav-link icon-tab" data-toggle="tab" href="#past" role="tab" >
               <i class="flaticon-hourglass" aria-hidden="true"></i><br>Past trips
               </a>
            </li>
            <li class="nav-item ml-auto" >
               <a class="nav-link icon-tab " data-toggle="tab" href="#search" role="tab" >
               <i class="flaticon-search-1" aria-hidden="true"></i><br>Search trips</a>
            </li>
         </ul>
         <div class="tab-content">
            <div id="current" class="tab-pane active" role="tabpanel">
               <div class="row">
                  <div class="col-12">
                     <table class="table table-hover general-table">
                        <thead>
                           <tr>
                              <th>Status</th>
                              <th>Customer</th>
                              <th>Last activity</th>
                              <th>Itinerary</th>
                              <th>Aircraft</th>
                              <th>Pilots</th>
                              <th>N° Passengers</th>
                              <th>Options</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr *ngFor = "let trip of currentTrips">
                              <td>Active</td>
                              <td>Licentia LLC</td>
                              <td>12:00 PM</td>
                              <td>
                                 <p *ngFor="let leg of trip.legs" class="mb-0"> 
                                    <strong class="clicktext" (click) = "getAirportDetailModal( trip.id, leg.from_airport[0].airport_entry_id, 0, 1 )">{{ leg.from_airport[0].code | uppercase }} </strong>  -  
                                    <strong class="clicktext" (click) = "getAirportDetailModal( trip.id, leg.to_airport[0].airport_entry_id, 1, 1 )"> {{ leg.to_airport[0].code | uppercase }} </strong> 
                                    {{ leg.depart_date | date:'yyyy-MM-dd HH:mm':'+0000' }} 
                                 </p>
                              </td>
                              <td>
                                 <strong class="clicktext" (click) = "getAircraftDetailModal( trip.id, trip.aircraft_id, 1 )">{{trip.aircraft.registration + ' (' + trip.aircraft.name + ')' }}</strong>
                              </td>
                              <td>(Yost,Charlie)</td>
                              <td> {{ trip.passengers.length }} </td>
                              <td>
                                 <div></div>
                                 <a class="routerLink" [routerLink]="['../../../edit_trip',trip.id]">
                                 <i class="flaticon--basic-edit text-primary mr-2" data-toggle="tooltip" data-placement="top" title="Edit"></i>
                                 </a> 
                                 <i class="collection-flaticon-copy text-success" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Copy"></i>
                                 
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
            <div id="past" class="tab-pane" role="tabpanel">
               <div class="row">
                  <div class="col-12">
                     <table class="table table-hover general-table">
                        <thead>
                           <tr>
                              <th>Status</th>
                              <th>Customer</th>
                              <th>Last activity</th>
                              <th>Itinerary</th>
                              <th>Aircraft</th>
                              <th>Pilots</th>
                              <th>N° Passengers</th>
                              <th>Options</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr *ngFor = "let trip of pastTrips">
                              <td>Active</td>
                              <td>Licentia LLC</td>
                              <td>12:00 PM</td>
                              <td>
                                 <p *ngFor="let leg of trip.legs" class="mb-0"> 
                                    <strong class="clicktext" (click) = "getAirportDetailModal( trip.id, leg.from_airport[0].airport_entry_id, 0, 2 )">{{ leg.from_airport[0].code | uppercase }} </strong>  -  
                                    <strong class="clicktext" (click) = "getAirportDetailModal( trip.id, leg.to_airport[0].airport_entry_id, 1, 2 )"> {{ leg.to_airport[0].code | uppercase }} </strong> 
                                    {{ leg.depart_date | date:'yyyy-MM-dd HH:mm':'+0000' }} 
                                 </p>
                              </td>
                              <td>
                                 <strong class="clicktext" (click) = "getAircraftDetailModal( trip.id, trip.aircraft_id, 2 )">{{trip.aircraft.registration + ' (' + trip.aircraft.name + ')' }}</strong>
                              </td>
                              <td>(Yost,Charlie)</td>
                              <td> {{ trip.passengers.length }} </td>
                              <td>
                                 <a class="routerLink" [routerLink]="['../../../edit_trip',trip.id]">
                                 <i class="flaticon--basic-edit text-primary mr-2" data-toggle="tooltip" data-placement="top" title="Edit"></i>
                                 </a> 
                                 <i class="collection-flaticon-copy text-success" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Copy"></i>
                                 
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
            <div id="search" class="tab-pane " role="tabpanel">
               <div class="col-12">
                  <div class="row">
                     <div class="col-12">
                        <h5>Filters</h5>
                     </div>
                     <div class="col-4">
                        <div class="sel sel--black-panther top">
                           <select name="select-profession" id="select-profession">
                              <option value="" disabled>Date Received</option>
                              <option value="">All Dates</option>
                              <option value="">Last 7 Days</option>
                              <option value="">Last 30 Days</option>
                              <option value="">Yesterday</option>
                              <option value="">Today</option>
                              <option value="">This Month</option>
                              <option value="">Last Month</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-4">
                        <div class="md-form prefix-icon">
                           <input type="text" name="" data-daterange="true">
                           <label>From</label>
                           <i class="flaticon--basic-calendar"></i>
                        </div>
                     </div>
                     <div class="col-4">
                        <div class="md-form prefix-icon">
                           <input type="text" name="" data-daterange="true">
                           <label>From</label>
                           <i class="flaticon--basic-calendar"></i>
                        </div>
                     </div>
                     <div class="col-4">
                        <div class="sel sel--black-panther">
                           <select name="select-profession" id="select-profession">
                              <option value="" disabled>Trip dates</option>
                              <option value="">All Dates</option>
                              <option value="">Last 7 Days</option>
                              <option value="">Last 30 Days</option>
                              <option value="">Yesterday</option>
                              <option value="">Today</option>
                              <option value="">This Month</option>
                              <option value="">Last Month</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-4">
                        <div class="md-form prefix-icon">
                           <input type="text" name="" data-daterange="true">
                           <label>From</label>
                           <i class="flaticon--basic-calendar"></i>
                        </div>
                     </div>
                     <div class="col-4">
                        <div class="md-form prefix-icon">
                           <input type="text" name="" data-daterange="true">
                           <label>From</label>
                           <i class="flaticon--basic-calendar"></i>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-12">
                  <h5>Aditional Information</h5>
                  <div class="row">
                     <div class="md-form col-3">
                        <input type="text" name="">
                        <label>First Departure Airport</label>
                     </div>
                     <div class="md-form col-3">
                        <input type="text" name="">
                        <label>Customer First Name</label>
                     </div>
                     <div class="md-form col-3">
                        <input type="text" name="">
                        <label>Customer Last Name</label>
                     </div>
                     <div class="md-form col-3">
                        <input type="text" name="">
                        <label>Customer Company</label>
                     </div>
                  </div>
               </div>
               <div class="row form_buttons">
                  <div class="col-12">
                     <button type="button" class="btn btn-jet">Search</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- <div class="modal fade" id="airportDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{ airportDetail.name }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <table class="table table-hover general-table">
               <thead>
                  <tr>
                     <th>ICAO</th>
                     <th>IATA</th>
                     <th>FAA</th>
                     <th>Latitude</th>
                     <th>Longitude</th>
                  </tr>
               </thead>
               <tbody>
                  <tr >
                     <td> {{ (airportDetail.icao != null) ? airportDetail.icao : "-" }} </td>
                     <td> {{ (airportDetail.iata != null) ? airportDetail.iata : "-" }} </td>
                     <td> {{ airportDetail.faaCode }} </td>
                     <td> {{ airportDetail.latitude }} </td>
                     <td> {{ airportDetail.longitude }} </td>
                  </tr>
               </tbody>
            </table>
            <div class="row">
               <div class="col-8">
                  <ul class="nav nav-tabs" role="tablist">
                     <li class="nav-item">
                        <a class="nav-link active" href="#general" role="tab" data-toggle="tab">General</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#runway" role="tab" data-toggle="tab">Long. Runway</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#fuel" role="tab" data-toggle="tab">Fuel types</a>
                     </li>
                  </ul>
                  <div class="tab-content">
                     <div role="tabpanel" class="tab-pane fade in active show" id="general">
                        <table class="table table-hover general-table">
                           <tbody>
                              <tr>
                                 <td>Airport Type</td>
                                 <td><strong>{{ airportDetail.type }}</strong></td>
                              </tr>
                              <tr>
                                 <td>Elevation</td>
                                 <td><strong>{{ airportDetail.elevationFt }}</strong></td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                     <div role="tabpanel" class="tab-pane fade" id="runway">
                        <table class="table table-hover general-table">
                           <tbody>
                              <tr>
                                 <td>Length</td>
                                 <td><strong>{{ airportDetail.longestRunwayLength }}</strong></td>
                              </tr>
                              <tr>
                                 <td>Surface</td>
                                 <td><strong>{{ airportDetail.longestRunwaySurfaceType }}</strong></td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                     <div role="tabpanel" class="tab-pane fade" id="fuel">
                        <table class="table table-hover general-table">
                           <tbody>
                              <tr>
                                 <td>Jet Fuel Available</td>
                                 <td><strong>{{ (airportDetail.hasFuel) ? "Yes" : "No" }}</strong></td>
                              </tr>
                              <tr>
                                 <td>Towered</td>
                                 <td><strong>{{ (airportDetail.towered) ? "Yes" : "No" }}</strong></td>
                              </tr>
                              <tr>
                                 <td>typicallyHasMetar</td>
                                 <td><strong>{{ (airportDetail.typicallyHasMetar) ? "Yes" : "No" }}</strong></td>
                              </tr>
                              <tr>
                                 <td>typicallyHasTaf</td>
                                 <td><strong>{{ (airportDetail.typicallyHasTaf) ? "Yes" : "No" }}</strong></td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
               <div class="col-4">
                  <br/>
                  <div id="map_airport"></div>
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div> -->
<!-- <div class="modal fade" id="aircraftDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"> {{ this.aircraftDetail.name }} </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <table class="table table-hover general-table">
               <thead>
                  <tr>
                     <th>Registration</th>
                     <th>Type</th>
                     <th>serial_number</th>
                  </tr>
               </thead>
               <tbody>
                  <tr >
                     <td> {{ this.aircraftDetail.registration }} </td>
                     <td> {{ (this.aircraftDetail.type_id != null) ? "Jet" : "Plane" }} </td>
                     <td> {{ this.aircraftDetail.serial_number }} </td>
                  </tr>
               </tbody>
            </table>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div> -->