<div class="container-main" data-id="customers">
    <!-- Container-main -->
    <div class="row">
      <div class="col-11">
        <h4 class="title-bold">Customers</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>Customers can be created by you as part of a trip</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs">
          <li class="nav-item" >
            <a class="nav-link icon-tab active" data-toggle="tab" href="#search" role="tab" (click)="getIndividuals()" id="searchTab">
              <i class="flaticon-search" aria-hidden="true"></i><br>Search
            </a>
          </li>
          <li class="nav-item" >
            <a class="nav-link icon-tab" data-toggle="tab" href="#upload" role="tab" >
              <i class="flaticon-upload" aria-hidden="true"></i><br>Upload
            </a>
          </li>
          <li class="nav-item ml-auto" >
            <a class="nav-link icon-tab" data-toggle="tab" href="#addPerson" role="tab" id="createTab">
              <i class="collection-flaticon-employee" aria-hidden="true"></i><br>Create Person
            </a>
          </li>
          <li class="nav-item ml-0" >
            <a class="nav-link icon-tab" data-toggle="tab" href="#addCompany" role="tab" >
              <i class="collection-flaticon-team-1" aria-hidden="true"></i><br>Create Company
            </a>
          </li>
        </ul>
        
        <div class="tab-content" id="my-tab-content">
          <div id="search" class="tab-pane active" role="tabpanel">
            <div class="row mt-3">
              <div class="col-1 mb-2 ">
                <h5 class="title-bold">Search</h5>
              </div>
              <div class="md-form col-2 pr-5">
                <input type="text" id="" class="form-control">
                <label for="" class="">First name, last name or company</label>
              </div>
              <div class="col-1">
                <i class="flaticon-search" data-toggle="tooltip" data-placement="right" title="Search"></i>
              </div>
              <div id="accordion" class="col-12  mb-4" role="tablist" aria-multiselectable="true">
                <div class="card">
                  <div class="card-header" role="tab" id="headingOne">
                    <h5 class="mb-0">
                      <a data-toggle="collapse" data-parent="#accordion" aria-expanded="true" href="#collapseModalOne"  ari-controls="collapseModalOne">
                        Optional filters &#9660;
                      </a>
                    </h5>
                  </div>  
                  <div id="collapseModalOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-block">
                      <div class="row">
                        <label class="col-12">Has trip departing between</label>
                        <div class="col-1 md-form prefix-icon">
                          <input type="text" name="" data-daterange="true">
                          <label>from</label>
                          <i class="flaticon--basic-calendar"></i>
                        </div>  
                        <div class="col-1 md-form prefix-icon">
                          <input type="text" name="" data-daterange="true">
                          <label>to</label>
                          <i class="flaticon--basic-calendar"></i>
                        </div>
                        <label class="col-12">Has account activity between </label>
                        <div class="col-1 md-form prefix-icon">
                          <input type="text" name="" data-daterange="true">
                          <label>from</label>
                          <i class="flaticon--basic-calendar"></i>
                        </div>  
                        <div class="col-1 md-form prefix-icon">
                          <input type="text" name="" data-daterange="true">
                          <label>to</label>
                          <i class="flaticon--basic-calendar"></i>
                        </div>
                        <div class="col-12">
                          <label class="label_container">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                            Has an active trip
                          </label>
                        </div>
                        <div class="col-2">
                          <div class="sel sel--black-panther">
                            <select name="select-profession" id="select-profession">
                              <option disabled>Vendor</option>
                              <option>Charlie Yost</option>
                              <option>Jesse Vengermeren</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>      
            </div>
            <div class="col-12">
              <label class="label_container">
                <input type="checkbox">
                <span class="checkmark"></span>
                Shared passengers
              </label>
              <label class="label_container">
                <input type="checkbox" checked>
                <span class="checkmark"></span>
                Shared customers
              </label>
              <label class="label_container">
                <input type="checkbox">
                <span class="checkmark"></span>
                Non-shared contacts 
              </label>
              <label class="label_container">
                <input type="checkbox">
                <span class="checkmark"></span>
                Companies
              </label>
            </div>
            <div class="col-12">
                <label>Search results: <b>{{customerData.length}}</b></label>
              </div>
            <table class="table  table-hover general-table">
              <thead>
                <tr>
                  <th>Customer</th>
                  <th>Company</th>
                  <th>Flight portal</th>
                  <th>Salesperson</th>
                  <th>Trips</th>
                  <th>Last Activity</th>
                  <th>Options</th>
                  <th>Select</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let customer of customerData">
                  <td>{{customer.last_name +", "+customer.first_name +" " }} {{customer.middle_name=="Null" && " " || customer.middle_name}}</td>
                  <td>Jetmanage</td>
                  <td></td>
                  <td>Charlie Yost</td>
                  <td>1</td>
                  <td>2017-11-15 12:12</td>
                  <td >
                    <div class="row options-table">
                      <div class="col-3 text-primary"><a class="routerLink" [routerLink]="['../../../edit_customer/', customer.id]" ><i class="flaticon--basic-edit" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Edit Customer"></i></a></div>
                      <div class="col-3 text-danger"> <i class="fa fa-trash-o" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Delete Customer" (click)="deleteCustomer(customer.id)"></i> </div>
                    </div>
                  </td>
                  <td>
                    <label class="label_container">
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id="upload" class="tab-pane" role="tabpanel">
            <div class="col-12">
              <p>You can add to your list of customers from a spreadsheet.<a href="">Click here to download </a>the template to fill in</p>
            </div>
            <div class="col-12 mb-4">
              <div class="col-6 pl-0">
                <label for=""><b>Upload Spreadsheet</b></label>
                <div class="input-file-container mx-auto">  
                  <input class="input-file" data-id="0" type="file">
                  <label tabindex="0" for="my-file" class="input-file-trigger"><span class="file-return" id="return2"><i class="flaticon-cloud-computing"></i>     Select a file...</span></label>
                </div>
              </div>
            </div>
            <div class="row form_buttons">
              <button type="button" class="btn btn-success">Upload</button>
            </div> 
          </div>
          <div id="addPerson" class="tab-pane" role="tabpanel">
            <div class="row">
              <div class="col-12">
                <p>Additional contact fields are available on the full record once the contact has been created</p>
              </div>
              <div class="col-6">
                <div class="col-12">
                  <div class="sel sel--black-panther top2">
                    <select name="select-profession" id="select-profession">
                      <option disabled>Pricing</option>
                      <option >Cost</option>
                      <option >Discount</option>
                      <option >Retail</option>
                      <option >Wholesale</option>
                    </select>
                  </div>
                </div>
                <div class="col-12">
                  <label><b>Show in</b></label>
                  <label class="label_container ml-2">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    Customers
                  </label>
                  <label class="label_container">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    Passengers
                  </label>
                </div>
                <div class="col-12 md-form">
                    <input type="text" id="" class="form-control" [(ngModel)]="firstName">
                    <label for="" class="">First Name*</label>
                </div>
                <div class="col-12 md-form">
                    <input type="text" id="" class="form-control" [(ngModel)]="middleName">
                    <label for="" class="">Middle Name</label>
                </div>
                <div class="col-12 md-form">
                    <input type="text" id="" class="form-control" [(ngModel)]="lastName">
                    <label for="" class="">Last Name*</label>
                </div>
                <div class="col-12 md-form">
                    <input type="text" id="" class="form-control">
                    <label for="" class="">Company name</label>
                </div>
                <div class="col-12 md-form">
                    <input type="text" id="" class="form-control">
                    <label for="" class="">Phone</label>
                </div>
                <div class="col-12 md-form">
                    <input type="text" id="" class="form-control">
                    <label for="" class="">Email</label>
                </div>
                <div class="col-12 md-form">
                    <input type="text" id="" class="form-control">
                    <label for="" class="">Fax</label>
                </div>
                <div class="col-12">
                  <div class="row">
                    <div class="col-8 md-form">
                      <input type="number" id="" class="form-control" [(ngModel)]="weight" min="0" step="1">
                      <label for="" class="" >Weight</label>
                    </div>
                    <div class="col-4">
                      <ngx-select [allowClear]="true"
                      [items]="weightUnits"
                      [(ngModel)]="weightUnit"
                      placeholder="Units"    
                      [noAutoComplete]="true"           
                        >
                      </ngx-select> 
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="row">
                    <div class="col-8 md-form">
                      <input type="number" id="" class="form-control" [(ngModel)]="height" min="0" step="1">
                      <label for="" class="">Height</label>
                    </div>
                    <div class="col-4">
                      <ngx-select [allowClear]="true"
                      [items]="heightUnits"
                      [(ngModel)]="heightUnit"
                      placeholder="Units"    
                      [noAutoComplete]="true"   
                         
                        >
                      </ngx-select> 
                    </div>
                  </div>
                </div>
                <div class="col-12 md-form prefix-icon">
                  <input type="text" name="" data-daterange="past" id="dob">
                  <label>Date of birth</label>
                  <i class="flaticon--basic-calendar"></i>
                </div> 
                <div class="col-12">
                  <ngx-select [allowClear]="true"
                  [items]="Genders"
                  [(ngModel)]="gender"
                  placeholder="gender"    
                  [noAutoComplete]="true"  
                          
                    >
                  </ngx-select> 
                </div>
                <div class="col-12">
                  <ngx-select [allowClear]="true"
                  [items]="Countries"
                  [(ngModel)]="birCountry"
                  placeholder="Country of Origin"           
                  >
                  </ngx-select>
                </div>
                <div class="col-12">
                  <ngx-select [allowClear]="true"
                  [items]="Countries"
                  [(ngModel)]="resCountry"
                  placeholder="Country of Residence"         
                  >
                  </ngx-select >
                </div>
                <div class="col-12 md-form mt-3">
                  <input type="text" id="" class="form-control">
                  <label for="" class="">Primary Passport #</label>
              </div>
                <div class="col-12 md-form prefix-icon">
                  <input type="text" name="" data-daterange="true">
                  <label>Expiration date</label>
                  <i class="flaticon--basic-calendar"></i>
                </div>      
              </div>              
              <div class="col-6">
                <div class="col-12 md-form">
                  <textarea class=""></textarea>
                  <label for="" class="">General notes</label>
                </div>
                <div class="col-12 md-form">
                  <textarea class=""></textarea>
                  <label for="" class="">Pilot trip sheet</label>
                </div>
                <div class="col-12 md-form">
                  <textarea class=""></textarea>
                  <label for="" class="">Catering</label>
                </div>
                <div class="col-12 md-form">
                  <textarea class=""></textarea>
                  <label for="" class="">Transportation</label>
                </div>
                <div class="col-12 md-form">
                  <textarea class=""></textarea>
                  <label for="" class="">Lodging</label>
                </div>
                <div class="col-12 md-form">
                  <textarea class=""></textarea>
                  <label for="" class="">Aircraft</label>
                </div>
                <div class="col-12 md-form">
                  <textarea class=""></textarea>
                  <label for="" class="">Handling</label>
                </div>
              </div>
            </div>
            <div class="row form_buttons">
              <button type="button" class="btn btn-info" (click)="createCustomer()">Save</button>
              <button type="button" class="btn btn-danger">Cancel</button>
            </div>  
          </div> <!-- tab 2 -->
          <div id="addCompany" class="tab-pane" role="tabpanel">
            <div class="row">
              <div class="col-12">
                <p>Additional contact fields are available on the full record once the contact has been created</p>
              </div>
              <div class="col-6">
                <div class="col-12">
                  <div class="sel sel--black-panther top2">
                    <select name="select-profession" id="select-profession">
                      <option disabled>Create record as</option>
                      <option >Cost</option>
                      <option >Discount</option>
                      <option >Retail</option>
                      <option >Wholesale</option>
                    </select>
                  </div>
                </div>
                <div class="col-12 md-form">
                  <input type="text" id="" class="form-control">
                  <label for="" class="">Name*</label>
                </div>
                <div class="col-12 md-form">
                  <input type="text" id="" class="form-control">
                  <label for="" class="">Phone</label>
                </div>
                <div class="col-12 md-form">
                  <input type="text" id="" class="form-control">
                  <label for="" class="">Email</label>
                </div>
                <div class="col-12 md-form">
                  <input type="text" id="" class="form-control">
                  <label for="" class="">Fax</label>
                </div>   
              </div>              
              <div class="col-6">
                <div class="col-12 md-form">
                  <textarea class=""></textarea>
                  <label for="" class="">General notes</label>
                </div>
                <div class="col-12 md-form">
                  <textarea class=""></textarea>
                  <label for="" class="">Catering</label>
                </div>
                <div class="col-12 md-form">
                  <textarea class=""></textarea>
                  <label for="" class="">Transportation</label>
                </div>
                <div class="col-12 md-form">
                  <textarea class=""></textarea>
                  <label for="" class="">Lodging</label>
                </div>
                <div class="col-12 md-form">
                  <textarea class=""></textarea>
                  <label for="" class="">Aircraft</label>
                </div>
                <div class="col-12 md-form">
                  <textarea class=""></textarea>
                  <label for="" class="">Handling</label>
                </div>
              </div>
            </div>
            <div class="row form_buttons">
              <button type="button" class="btn btn-info" >Save</button>
              <button type="button" class="btn btn-danger">Cancel</button>
            </div>  
          </div> <!-- tab 2 -->
        </div>
      </div>
    </div>

    <!-- Container-main End -->
  </div>
  