<div class="container-main" data-id="edit_customer">
	<div class="row">
      <div class="col-12 mb-4">
      	<span class="col-8 title-bold h5">{{customerData.first_name + " " + (customerData.middle_name=="Null" && " " || customerData.middle_name) + " " +customerData.last_name}}&nbsp;<i class="flaticon--basic-garbage text-danger"></i></span>
      </div>
    </div>
    <div class="row">
    	<div class="col-12">
    		<ul class="nav nav-tabs" id="tabs">
    			<li class="nav-item" >
    				<a id="Tab1" class="nav-link icon-tab active" data-toggle="tab" href="#Basics" role="tab" >
    					<i class="collection-flaticon-profile"></i><br>Basics
    				</a>
    			</li>
    			<li class="nav-item" >
    				<a id="Tab2" class="nav-link icon-tab" data-toggle="tab" href="#Docs" role="tab" >
    					<i class="flaticon-id-card-5"></i><br>Documents &amp; addresses
    				</a>
    			</li>
    			<li class="nav-item" >
    				<a id="Tab3" class="nav-link icon-tab" data-toggle="tab" href="#Connections" role="tab" >
    					<i class="flaticon-users"></i><br>Connections
    				</a>
    			</li>
    			<li class="nav-item" >
    				<a id="Tab4" class="nav-link icon-tab" data-toggle="tab" href="#Trips_tab" role="tab" >
    					<i class="collection-flaticon-transport"></i><br>Trips
    				</a>
    			</li>
    			<li class="nav-item" >
    				<a id="Tab6" class="nav-link icon-tab" data-toggle="tab" href="#Tasks" role="tab" >
    					<i class="flaticon-notepad-2"></i><br>Tasks
    				</a>
    			</li>
    		</ul>
    		<div class="tab-content" id="my-tab-content">
    			<div id="Basics" class="tab-pane active" role="tabpanel">
    				<div class="form-group">
    					<div class="col-12">
    						<h5>Basics</h5>
    					</div>
    					<div class="col-6">
    						<div class="sel sel--black-panther top">
    							<select name="select-profession" id="select-profession">
    								<option disabled>Salesperson</option>
    								<option>Charlie Yost</option>
    								<option>Jesse Vengermeren</option>
    							</select>
    						</div>
    					</div>
    					<div class="col-6">
    						<div class="sel sel--black-panther">
    							<select name="select-profession" id="select-profession">
    								<option disabled>Pricing</option>
    								<option >Cost</option>
    								<option >Discount</option>
    								<option >Retail</option>
    								<option >Wholesale</option>
    							</select>
    						</div>
    					</div>
    				</div>
    				<div class="form-group">
    					<div class="row">
    						<span class="col-12 h5">Customer&nbsp;
    							<a class="active" data-toggle="modal" data-target="#ModalEditCustomer"><i class="flaticon--basic-edit text-info"></i></a>
    						</span>
    						<span class="col-1 mb-2"><b>Show in</b></span>
    						<span class="col-11" ><span *ngFor="let tag of customerData.tag">{{tag.name + " "}}</span></span>
    						<span class="col-1 mb-2"><b>Name</b></span>
    						<span class="col-11">{{customerData.first_name + " " + (customerData.middle_name=="Null" && " " || customerData.middle_name) + " " +customerData.last_name}}</span>
    						<span class="col-1 mb-2"><b>Company/Title</b></span>
    						<span class="col-11">{{customerData.company_id}}</span>
    						<span class="col-1 mb-2"><b>Phone</b></span>
    						<span class="col-11">{{customerPhone.phone}}</span>
    						<span class="col-1 mb-2"><b>Alternate Phone</b></span>
    						<span class="col-11"></span>
    						<span class="col-1 mb-2"><b>Fax</b></span>
    						<span class="col-11"></span>
    						<span class="col-1 mb-2"><b>Email</b></span>
    						<span class="col-11">{{customerMail.email}}</span>
    						<span class="col-1 mb-2"><b>Alternate Email</b></span>
    						<span class="col-11"></span>
    						<span class="col-1 mb-2"><b>VAT#</b></span>
    						<span class="col-11"></span>
    						<span class="col-1 mb-2"><b>Country of citizenship</b></span>
    						<span class="col-11">{{birthCountryData.full_name}}</span>
    						<span class="col-1 mb-2"><b>Country of Residence</b></span>
    						<span class="col-11">{{birthCountryData.full_name}}</span>
    						<span class="col-1 mb-2"><b>City of birth</b></span>
    						<span class="col-11"></span>
    						<span class="col-1 mb-2"><b>Weight</b></span>
    						<span class="col-11">{{customerData.weight==0 && " " || customerData.weight+" Pounds" }}</span>
    						<span class="col-1 mb-2"><b>Height</b></span>
    						<span class="col-11">{{customerData.height==0 && " " || customerData.height+" Inches" }}</span>
    						<span class="col-1 mb-2"><b>Gender</b></span>
    						<span class="col-11">{{customerData.gender && "male" || "female"}}</span>
    					</div>
    				</div>
    				<div class="form-group">
    					<div class="row">
    						<span class="col-12 h5">Customer Notes&nbsp;
    							<a class="active" data-toggle="modal" data-target="#ModalEditNotes"><i class="flaticon--basic-edit text-info"></i></a>
    						</span>
    						<span class="col-1 mb-2"><b>General notes</b></span>
    						<span class="col-11"></span>
    						<span class="col-1 mb-2"><b>Pilot trip sheet</b></span>
    						<span class="col-11"></span>
    						<span class="col-1 mb-2"><b>Catering</b></span>
    						<span class="col-11"></span>
    						<span class="col-1 mb-2"><b>Transportation</b></span>
    						<span class="col-11"></span>
    						<span class="col-1 mb-2"><b>Lodging</b></span>
    						<span class="col-11"></span>
    						<span class="col-1 mb-2"><b>Aircraft</b></span>
    						<span class="col-11"></span>
    						<span class="col-1 mb-2"><b>Handling</b></span>
    						<span class="col-11"></span>
    					</div>
    				</div>
    			</div>
    			<div id="Docs" class="tab-pane" role="tabpanel">
    				<div class="row">
    					<div class="col-6">
    						<h5 >Documents</h5>
    					</div>
    					<div class="col-6 text-right">
    						<i class="flaticon--basic-add enlarge-icon" data-toggle="modal" data-target="#ModalAddDocument"></i><small> Add Document</small>
    					</div>
    					<table class="table table-hover general-table">
    						<thead>
    							<tr>
    								<th>Document</th>
    								<th>Country</th>
    								<th>Number</th>
    								<th>Expiration</th>
    								<th>Notes</th>
    								<th>Options</th>

    							</tr>
    						</thead>
    						<tbody>
    							<tr>
    								<td>Passport(Primary)</td>
    								<td>Peru</td>
    								<td>C371090</td>
    								<td>12/25/69</td>
    								<td>
    								</td>
    								<td>
    									<i class="flaticon--basic-edit text-primary i-img" aria-hidden="true" data-toggle="modal" data-target="#ModalEditDocument"></i>
    									<i class="flaticon--basic-garbage text-danger i-img" aria-hidden="true"></i>  
    								</td>
    							</tr>													
    						</tbody>
    					</table>
    					<div class="col-6">
    						<h5 >Addresses</h5>
    					</div>
    					<div class="col-6 text-right">
    						<i class="flaticon--basic-add enlarge-icon" data-toggle="modal" data-target="#ModalAddAddress"></i><small> Add Address</small>
    					</div>
    					<table class="table table-hover general-table">
    						<thead>
    							<tr>
    								<th>Type</th>
    								<th>Address</th>
    								<th>Contact</th>
    								<th>Options</th>

    							</tr>
    						</thead>
    						<tbody>
    							<tr>
    								<td>Primary</td>
    								<td>1023 NW 33 AVE<br/>MIAMI, FL 33125 United States</td>
    								<td></td>
    								<td>
    									<i class="flaticon--basic-edit text-primary i-img" aria-hidden="true" data-toggle="modal" data-target="#ModalEditAddress"></i>
    									<i class="flaticon--basic-garbage text-danger i-img" aria-hidden="true"></i>  
    								</td>
    							</tr>													
    						</tbody>
    					</table>
    				</div>
    			</div>
    			<div id="Connections" class="tab-pane" role="tabpanel">
    				<div class="row">
    					<div class="col-12">
    						<h5>Passengers and Contacts</h5>
    					</div>
    					<div class="col-12">
    						<p>Passengers &amp; Contacts connections are people who have trips where this customer was the requester or added directly on this page</p>
    					</div>
    					<div class="col-1 mb-2 ">
    						<h5 class="title-bold">Add person</h5>
    					</div>
    					<div class="md-form col-2 pr-5">
    						<input type="text" id="" class="form-control">
    						<label for="" class="">First name, last name or company</label>
    					</div>
    					<div class="col-1">
    						<i class="flaticon-search" data-toggle="tooltip" data-placement="right" title="Search"></i>
    					</div>
    					<div class="col-12">
    						<label class="label_container">
    							<input type="checkbox">
    							<span class="checkmark"></span>
    							Shared passengers
    						</label>
    						<label class="label_container">
    							<input type="checkbox" checked>
    							<span class="checkmark"></span>
    							Shared customers
    						</label>
    						<label class="label_container">
    							<input type="checkbox">
    							<span class="checkmark"></span>
    							Non-shared contacts 
    						</label>
    						<label class="label_container">
    							<input type="checkbox">
    							<span class="checkmark"></span>
    							Companies
    						</label>
    					</div>
    					<div class="col-12">
    						<label>Search results: <b>3</b></label>
    					</div>
    					<table class="table  table-hover general-table">
    						<thead>
    							<tr>
    								<th>Passenger</th>
    								<th>Company</th>
    								<th>Phone</th>
    								<th>Email</th>
    								<th>Gender/Weight/DOB</th>
    								<th>Passport</th>
    								<th>Options</th>
    							</tr>
    						</thead>
    						<tbody>
    							<tr>
    								<td>DI LEO, ALEXANDER VINCENZO</td>
    								<td></td>
    								<td></td>
    								<td></td>
    								<td></td>
    								<td>US 482158986</td>
    								<td >
    									<div class="row options-table">
    										<div class="col-3 text-danger"> <i class="fa fa-trash-o" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Delete Connection"></i> </div>
    									</div>
    								</td>
    							</tr>
    						</tbody>
    					</table>
    				</div>
    			</div>
    			<div id="Trips_tab" class="tab-pane" role="tabpanel">
    				<div class="row">
    					<div class="col-12">
    						<h5>Trips</h5>
    					</div>
    					<div class="col-6">
    						<div class="sel sel--black-panther top">
    							<select name="select-profession" id="select-profession">
    								<option disabled>Filter results</option>
    								<option >Today</option>
    								<option >Last week</option>
    								<option >Last Month</option>
    								<option >All dates</option>
    							</select>
    						</div>
    					</div>
    					<table class="table  table-hover general-table">
    						<thead>
    							<tr>
    								<th>Status</th>
    								<th>Customers</th>
    								<th>Last activity</th>
    								<th>Itinerary</th>
    								<th>Aircraft</th>
    								<th>Pilots</th>
    								<th>Options</th>
    							</tr>
    						</thead>
    						<tbody>
    							<tr>
    								<td><i class="flaticon-warning text-danger"></i></td>
    								<td>Licentia LLC</td>
    								<td>08/21/17 12:24 PM<br/>Sales: Yost, C</td>
    								<td>
    									KOPF-K1A5 08/18/17 2:00 PM<br/>
    									K1A5-KOPF 08/18/17 5:45 PM<br/>
    								</td>
    								<td><a class="routerLink" routerLink="../../../aircraft/fleet_edit">N859PL(Pilatus PC-12)</a></td>
    								<td>Yost, Charlie</td>
    								<td >
    									<div class="row options-table">
    										<div class="col-3 text-info"><a class="routerLink" routerLink="../../../trips/edit_trip"><i class="flaticon--basic-edit" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Edit Trip"></i></a></div>
    										<div class="col-3 text-success"> <i class="collection-flaticon-copy" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Copy trip"></i> </div>
    									</div>
    								</td>
    							</tr>
    						</tbody>
    					</table>
    					<div class="col-12">
    						<h5>Trips as Pax</h5>
    					</div>
    					<div class="col-6">
    						<div class="sel sel--black-panther">
    							<select name="select-profession" id="select-profession">
    								<option disabled>Filter results</option>
    								<option >Today</option>
    								<option >Last week</option>
    								<option >Last Month</option>
    								<option >All dates</option>
    							</select>
    						</div>
    					</div>
    					<table class="table  table-hover general-table">
    						<thead>
    							<tr>
    								<th>Status</th>
    								<th>Customers</th>
    								<th>Last activity</th>
    								<th>Itinerary</th>
    								<th>Aircraft</th>
    								<th>Pilots</th>
    								<th>Options</th>
    							</tr>
    						</thead>
    						<tbody>
    							<tr>
    								<td><i class="flaticon-warning text-danger"></i></td>
    								<td>Licentia LLC</td>
    								<td>08/21/17 12:24 PM<br/>Sales: Yost, C</td>
    								<td>
    									KOPF-K1A5 08/18/17 2:00 PM<br/>
    									K1A5-KOPF 08/18/17 5:45 PM<br/>
    								</td>
    								<td><a class="routerLink" routerLink="../../../aircraft/fleet_edit">N859PL(Pilatus PC-12)</a></td>
    								<td>Yost, Charlie</td>
    								<td >
    									<div class="row options-table">
    										<div class="col-3 text-info"><a class="routerLink" routerLink="../../../trips/edit_trip"><i class="flaticon--basic-edit" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Edit Trip"></i></a></div>
    										<div class="col-3 text-success"> <i class="collection-flaticon-copy" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Copy trip"></i> </div>
    									</div>
    								</td>
    							</tr>
    							<tr>
    								<td><i class="flaticon-checked-1 text-success"></i></td>
    								<td>Licentia LLC</td>
    								<td>08/21/17 12:24 PM<br/>Sales: Yost, C</td>
    								<td>
    									KOPF-K1A5 08/18/17 2:00 PM<br/>
    									K1A5-KOPF 08/18/17 5:45 PM<br/>
    								</td>
    								<td><a class="routerLink" routerLink="../../../aircraft/fleet_edit">N859PL(Pilatus PC-12)</a></td>
    								<td>Yost, Charlie</td>
    								<td >
    									<div class="row options-table">
    										<div class="col-3 text-info"><a class="routerLink" routerLink="../../../trips/edit_trip"><i class="flaticon--basic-edit" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Edit Trip"></i></a></div>
    										<div class="col-3 text-success"> <i class="collection-flaticon-copy" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Copy trip"></i> </div>
    									</div>
    								</td>
    							</tr>
    						</tbody>
    					</table>
    				</div>
    			</div>
    			<div id="Tasks" class="tab-pane" role="tabpanel">
    				<div class="form-group">
    					<div class="row text-right">
    						<span class="col-12">
    							<i class="flaticon--basic-add enlarge-icon" data-toggle="modal" data-target="#ModalAddTask"></i><small> Add Task</small> 
    						</span>
    					</div>

    					<div class="row">
    						<table class="table table-hover general-table">
    							<thead>
    								<tr>
    									<th>Task</th>
    									<th>Assigned to</th>
    									<th>Created</th>
    									<th>Due</th>
    									<th>Done</th>
    									<th>Options</th>
    								</tr>
    							</thead>
    							<tbody>
    								<tr>
    									<td>Task1</td>
    									<td>Jesse Vangemeren</td>
    									<td>12/17/69</td>
    									<td>12/25/69</td>
    									<td>
    										<label for="" class="label_container">
    												<input type="checkbox"><span class="checkmark"></span>
    										</label>
    									</td>
    									<td>
    										<i class="flaticon--basic-edit text-primary" data-toggle="modal" data-target="#ModalEditTask"></i>
    										<i class="flaticon--basic-garbage text-danger" aria-hidden="true"></i>
    									</td>
    								</tr>													
    							</tbody>
    						</table>
    					</div>
    				</div>	
    			</div>
    		</div>
    	</div>
    </div>
</div>
<!-- Modals -->
	<!-- ModalEditCustomer -->
	<div class="modal fade" id="ModalEditCustomer">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Edit Customer</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="row">
						<div class="col-6">
							
							<div class="col-12 md-form">
								<input type="text" id="" class="form-control" [(ngModel)]="first_name" >
								<label for="" class="" *ngIf="!customerData.first_name">First Name*</label>
							</div>
							<div class="col-12 md-form">
								<input type="text" id="" class="form-control" [(ngModel)]="middle_name" >
								<label for="" class="" *ngIf="!customerData.middle_name">Middle Name</label>
							</div>
							<div class="col-12 md-form">
								<input type="text" id="" class="form-control" [(ngModel)]="last_name" >
								<label for="" class="active" *ngIf="!customerData.last_name">Last Name*</label>
							</div>
							<div class="col-12 md-form">
								<input type="text" id="" class="form-control">
								<label for="" class="">Company name</label>
							</div>
							<div class="col-12 md-form">
								<input type="text" id="" class="form-control">
								<label for="" class="">Title</label>
							</div>
							<div class="col-12">
										<ngx-select [allowClear]="true"
										[items]="Countries"
										[(ngModel)]="birCountry"
										placeholder="Country of Origin"           
										>
										</ngx-select>
							</div>
							<div class="col-12  mb-3" >
										<ngx-select [allowClear]="true"
										[items]="Countries"
										[(ngModel)]="resCountry"
										placeholder="Country of residence"           
										>
										</ngx-select>
							</div>
							<div class="col-12 md-form">
								<input type="text" id="" class="form-control">
								<label for="" class="">City of Birth</label>
							</div>
							<div class="col-12">
								<div class="row">
									<div class="col-6 md-form">
									<input type="number" id="" class="form-control" [(ngModel)]="weight" min="0" step="1">
									<label for="" class="" *ngIf="!weight">Weight</label>
									</div>
									<div class="col-6">
									<ngx-select [allowClear]="true"
									[items]="weightUnits"
									[(ngModel)]="weightUnit"
									placeholder="Units"    
									[noAutoComplete]="true"           
										>
									</ngx-select> 
									</div>
								</div>
								</div>
								<div class="col-12">
								<div class="row">
									<div class="col-6 md-form">
									<input type="number" id="" class="form-control" [(ngModel)]="height" min="0" step="1">
									<label for="" class="" *ngIf="!height">Height</label>
									</div>
									<div class="col-6">
									<ngx-select [allowClear]="true"
									[items]="heightUnits"
									[(ngModel)]="heightUnit"
									placeholder="Units"    
									[noAutoComplete]="true"   										
										>
									</ngx-select> 
									</div>
								</div>
							</div>  
						</div>
						<div class="col-6">
							<div class="col-12">
								<label><b>Show in</b></label>
								<label class="label_container ml-2">
									<input type="checkbox" checked>
									<span class="checkmark" ></span>
									Customers
								</label>
								<label class="label_container">
									<input type="checkbox" checked>
									<span class="checkmark" ></span>
									Passengers
								</label>
							</div>
							<div class="col-12 md-form">
								<input type="text" id="" class="form-control" [(ngModel)]="phone">
								<label for="" class="" *ngIf="!phone">Phone</label>
							</div>
							<div class="col-12 md-form">
								<input type="text" id="" class="form-control">
								<label for="" class="">Alternate Phone</label>
							</div>
							<div class="col-12 md-form">
								<input type="text" id="" class="form-control">
								<label for="" class="">Fax</label>
							</div>
							<div class="col-12 md-form">
								<input type="text" id="" class="form-control" [(ngModel)]="email">
								<label for="" class="" *ngIf="!email">Email</label>
							</div>
							<div class="col-12 md-form">
								<input type="text" id="" class="form-control">
								<label for="" class="">Alternate Email</label>
							</div>
							<div class="col-12 md-form">
								<input type="text" id="" class="form-control">
								<label for="" class="">Vat#</label>
							</div>
							<div class="col-12 md-form prefix-icon">
								<input type="text" name="" data-daterange="past" id="dob" [value]="customerData.dob | date:'yyyy-MM-dd'">
								<label class="active">Date of birth</label>
								<i class="flaticon--basic-calendar"></i>
							</div> 
							<div class="col-12">
									<ngx-select [allowClear]="true"
									[items]="Genders"
									[(ngModel)]="gender"
									placeholder="gender"    
									[noAutoComplete]="true"  
											
									  >
									</ngx-select> 
							</div>
						</div>
					</div>
						
					
				</div>
				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-info"(click)="updateCustomer()" >Save</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal" >Cancel</button>
				</div>

			</div>
		</div>
	</div>
	<!-- End ModalEditCustomer -->
	<!-- ModalEditNotes -->
	<div class="modal fade" id="ModalEditNotes">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Edit Notes</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="col-12 md-form">
						<textarea class=""></textarea>
						<label for="" class="">General notes</label>
					</div>
					<div class="col-12 md-form">
						<textarea class=""></textarea>
						<label for="" class="">Pilot trip sheet</label>
					</div>
					<div class="col-12 md-form">
						<textarea class=""></textarea>
						<label for="" class="">Catering</label>
					</div>
					<div class="col-12 md-form">
						<textarea class=""></textarea>
						<label for="" class="">Transportation</label>
					</div>
					<div class="col-12 md-form">
						<textarea class=""></textarea>
						<label for="" class="">Lodging</label>
					</div>
					<div class="col-12 md-form">
						<textarea class=""></textarea>
						<label for="" class="">Aircraft</label>
					</div>
					<div class="col-12 md-form">
						<textarea class=""></textarea>
						<label for="" class="">Handling</label>
					</div> 
				</div>
				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-info" >Save</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal" >Cancel</button>
				</div>

			</div>
		</div>
	</div>
	<!-- End ModalEditNotes -->
	<!-- ModalAddDocument -->
	<div class="modal fade" id="ModalAddDocument">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Add Document</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="row">
						<div class="col-6">
							<div class="col-12">
								<div class="sel sel--black-panther top">
									<select name="select-profession" id="select-profession">
										<option disabled>Document type</option>
										<option >Passport</option>
										<option >ID</option>
									</select>
								</div>
							</div>
							<div class="col-12 md-form">
								<input type="text" id="" class="form-control">
								<label for="" class="">Number*</label>
							</div>
							<div class="col-12">
								<div class="sel sel--black-panther top">
									<select name="select-profession" id="select-profession">
										<option disabled>Issuing Country</option>
										<option >Peru</option>
										<option >USA</option>
										<option >Canada</option>
									</select>
								</div>
							</div>
							<div class="col-12 md-form">
								<input type="text" id="" class="form-control">
								<label for="" class="">Authority</label>
							</div>
							<div class="col-12 mb-4">
								<label for=""><b>Document</b></label>
								<div class="input-file-container mx-auto">  
									<input class="input-file" data-id="1" type="file">
									<label tabindex="0" for="my-file" class="input-file-trigger"><span class="file-return" id="return2"><i class="flaticon-cloud-computing"></i>     Select a file...</span></label>
								</div>
							</div>
						</div>
						<div class="col-6">
							<div class="col-12 md-form prefix-icon">
								<input type="text" name="" data-daterange="true">
								<label>Issue Date</label>
								<i class="flaticon--basic-calendar"></i>
							</div>
							<div class="col-12 md-form prefix-icon">
								<input type="text" name="" data-daterange="true">
								<label>Expiration Date*</label>
								<i class="flaticon--basic-calendar"></i>
							</div>
							<div class="col-12">
								<label class="label_container ml-2">
									<input type="checkbox" checked>
									<span class="checkmark" ></span>
									Primary
								</label>
							</div>  
							<div class="col-12">
								<label class="label_container ml-2">
									<input type="checkbox" checked>
									<span class="checkmark" ></span>
									Active
								</label>
							</div>
							<div class="col-12 md-form">
								<textarea class=""></textarea>
								<label for="" class="">Notes</label>
							</div> 
						</div>
					</div>
				</div>
				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-info" >Save</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal" >Cancel</button>
				</div>

			</div>
		</div>
	</div>
	<!-- End ModalAddDocument -->
	<!-- ModalEditDocument -->
	<div class="modal fade" id="ModalEditDocument">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Edit Document</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="row">
						<div class="col-6">
							<div class="col-12">
								<div class="sel sel--black-panther top">
									<select name="select-profession" id="select-profession">
										<option disabled>Document type</option>
										<option >Passport</option>
										<option >ID</option>
									</select>
								</div>
							</div>
							<div class="col-12 md-form">
								<input type="text" id="" class="form-control" value="C371090">
								<label for="" class="active">Number*</label>
							</div>
							<div class="col-12">
								<div class="sel sel--black-panther top">
									<select name="select-profession" id="select-profession">
										<option disabled>Issuing Country</option>
										<option >Peru</option>
										<option >USA</option>
										<option >Canada</option>
									</select>
								</div>
							</div>
							<div class="col-12 md-form">
								<input type="text" id="" class="form-control">
								<label for="" class="">Authority</label>
							</div>
							<div class="col-12 mb-4">
								<label for=""><b>Document</b></label>
								<div class="input-file-container mx-auto">  
									<input class="input-file" data-id="1" type="file">
									<label tabindex="0" for="my-file" class="input-file-trigger"><span class="file-return" id="return2"><i class="flaticon-cloud-computing"></i>     Select a file...</span></label>
								</div>
							</div>
						</div>
						<div class="col-6">
							<div class="col-12 md-form prefix-icon">
								<input type="text" name="" data-daterange="true">
								<label>Issue Date</label>
								<i class="flaticon--basic-calendar"></i>
							</div>
							<div class="col-12 md-form prefix-icon">
								<input type="text" name="" data-daterange="true">
								<label>Expiration Date*</label>
								<i class="flaticon--basic-calendar"></i>
							</div>
							<div class="col-12">
								<label class="label_container ml-2">
									<input type="checkbox" checked>
									<span class="checkmark" ></span>
									Primary
								</label>
							</div>  
							<div class="col-12">
								<label class="label_container ml-2">
									<input type="checkbox" checked>
									<span class="checkmark" ></span>
									Active
								</label>
							</div>
							<div class="col-12 md-form">
								<textarea class=""></textarea>
								<label for="" class="">Notes</label>
							</div> 
						</div>
					</div>
				</div>
				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-info" >Save</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal" >Cancel</button>
				</div>

			</div>
		</div>
	</div>
	<!-- End ModalEditDocument -->
	<!-- ModalAddAddress -->
	<div class="modal fade" id="ModalAddAddress">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Add Address</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="row">
						<div class="col-6">
							<div class="col-12 md-form">
								<input type="text" id="" class="form-control">
								<label for="" class="">Location Name</label>
							</div>
							<div class="col-12 md-form">
								<input type="text" id="" class="form-control">
								<label for="" class="">Address</label>
							</div>
							<div class="col-12 md-form">
								<input type="text" id="" class="form-control">
								<label for="" class="">Post Box</label>
							</div>
							<div class="col-12 md-form">
								<input type="text" id="" class="form-control">
								<label for="" class="">City</label>
							</div>
							<div class="col-12">
								<div class="sel sel--black-panther top">
									<select name="select-profession" id="select-profession">
										<option disabled>Country</option>
										<option >Peru</option>
										<option >USA</option>
										<option >Canada</option>
									</select>
								</div>
							</div>
							<div class="col-12">
								<div class="sel sel--black-panther top">
									<select name="select-profession" id="select-profession">
										<option disabled>State/Province</option>
										<option >Florida</option>
										<option >Washington</option>
										<option >Utah</option>
									</select>
								</div>
							</div>
							<div class="col-12 md-form">
								<input type="text" id="" class="form-control">
								<label for="" class="">Postal Code</label>
							</div>
						</div>
						<div class="col-6">
							<div class="col-12">
								<label><b>Type</b></label>
								<label class="label_container ml-2">
									<input type="checkbox" checked>
									<span class="checkmark" ></span>
									Primary
								</label>
								<label class="label_container">
									<input type="checkbox" checked>
									<span class="checkmark" ></span>
									Permanent Address
								</label>
								<label class="label_container">
									<input type="checkbox" checked>
									<span class="checkmark" ></span>
									Default eAPIS address in the US
								</label>
							</div>
							<div class="col-12 md-form">
								<input type="text" id="" class="form-control" >
								<label for="" class="">Phone</label>
							</div>
							<div class="col-12 md-form">
								<input type="text" id="" class="form-control" >
								<label for="" class="">Alternate Phone</label>
							</div>
							<div class="col-12 md-form">
								<input type="text" id="" class="form-control" >
								<label for="" class="">Fax</label>
							</div>
							<div class="col-12 md-form">
								<input type="text" id="" class="form-control" >
								<label for="" class="">Email</label>
							</div>
							<div class="col-12 md-form">
								<input type="text" id="" class="form-control" >
								<label for="" class="">Alternate Email</label>
							</div>
						</div>
					</div>
				</div>
				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-info" >Save</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal" >Cancel</button>
				</div>

			</div>
		</div>
	</div>
	<!-- End ModalAddAddress -->
	<!-- ModalEditAddress -->
	<div class="modal fade" id="ModalEditAddress">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Edit Address</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="row">
						<div class="col-6">
							<div class="col-12 md-form">
								<input type="text" id="" class="form-control">
								<label for="" class="">Location Name</label>
							</div>
							<div class="col-12 md-form">
								<input type="text" id="" class="form-control">
								<label for="" class="">Address</label>
							</div>
							<div class="col-12 md-form">
								<input type="text" id="" class="form-control">
								<label for="" class="">Post Box</label>
							</div>
							<div class="col-12 md-form">
								<input type="text" id="" class="form-control">
								<label for="" class="">City</label>
							</div>
							<div class="col-12">
								<div class="sel sel--black-panther top">
									<select name="select-profession" id="select-profession">
										<option disabled>Country</option>
										<option >Peru</option>
										<option >USA</option>
										<option >Canada</option>
									</select>
								</div>
							</div>
							<div class="col-12">
								<div class="sel sel--black-panther top">
									<select name="select-profession" id="select-profession">
										<option disabled>State/Province</option>
										<option >Florida</option>
										<option >Washington</option>
										<option >Utah</option>
									</select>
								</div>
							</div>
							<div class="col-12 md-form">
								<input type="text" id="" class="form-control">
								<label for="" class="">Postal Code</label>
							</div>
						</div>
						<div class="col-6">
							<div class="col-12">
								<label><b>Type</b></label>
								<label class="label_container ml-2">
									<input type="checkbox" checked>
									<span class="checkmark" ></span>
									Primary
								</label>
								<label class="label_container">
									<input type="checkbox" checked>
									<span class="checkmark" ></span>
									Permanent Address
								</label>
								<label class="label_container">
									<input type="checkbox" checked>
									<span class="checkmark" ></span>
									Default eAPIS address in the US
								</label>
							</div>
							<div class="col-12 md-form">
								<input type="text" id="" class="form-control">
								<label for="" class="">Phone</label>
							</div>
							<div class="col-12 md-form">
								<input type="text" id="" class="form-control">
								<label for="" class="">Alternate Phone</label>
							</div>
							<div class="col-12 md-form">
								<input type="text" id="" class="form-control">
								<label for="" class="">Fax</label>
							</div>
							<div class="col-12 md-form">
								<input type="text" id="" class="form-control">
								<label for="" class="">Email</label>
							</div>
							<div class="col-12 md-form">
								<input type="text" id="" class="form-control">
								<label for="" class="">Alternate Email</label>
							</div>
						</div>
					</div>
				</div>
				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-info" >Save</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal" >Cancel</button>
				</div>

			</div>
		</div>
	</div>
	<!-- End ModalEditAddress -->
	<!--  ModalAddTask -->
	<div class="modal fade" id="ModalAddTask">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title"></h4>
					<h5 class="mb-0">Add Task</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<form action="">

						<div class="row mb-2">
							<div class="col-12">
								<span>Task in regards to <a href="">Customer IRMA LILIANA OCHICUA ANCCO</a> </span>
							</div>
						</div>

						<div class="row mb-2">
							<div class="col-1 pt-1">
								<span><b>For</b></span>
							</div>

							<div class="col-8">
								<span>
									<div class="md-form">
										<input type="text" name="">
									</div>
								</span>
							</div>

						</div>

						<div class="row">
							<div class="md-form col-7">
								<input type="text" id="form40" class="form-control">
								<label for="form40" class="">Task *</label>
							</div>
							<div class="md-form prefix-icon">
								<input type="text" name="" data-daterange="true">
								<label>Due</label>
								<i class="flaticon--basic-calendar"></i>
							</div>
						</div>
						<div class="row">
							<div class="col-2">
								<label for="" class="label_container">
									<input type="checkbox" >
									<span class="checkmark"></span>
									Email Reminder
								</label>
							</div>
							<div class="md-form prefix-icon">
								<input type="text" name="" data-daterange="true">
								<label>mm/dd/yy</label>
								<i class="flaticon--basic-calendar"></i>
							</div>

							<div class="col-2">
								<div class="sel sel--black-panther">
									<select name="select-profession" id="select-profession">
										<option value="" disabled>PST</option>
										<option value="">00:00</option>
										<option value="">00:30</option>			    
									</select>
								</div>
							</div>
						</div>
					</form>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<div>
						<button type="button" class="btn btn-info float-right" >Save</button>
					</div>
					<div>
						<button type="button" class="btn btn-danger float-right" data-dismiss="modal">Cancel</button>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- End ModalAddTask -->
	<!--  ModalEditTask -->
	<div class="modal fade" id="ModalEditTask">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title"></h4>
					<h5 class="mb-0">Edit Task</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<form action="">

						<div class="row mb-2">
							<div class="col-12">
								<span>Task in regards to <a href="">Customer IRMA LILIANA OCHICUA ANCCO</a> </span>
							</div>
						</div>

						<div class="row mb-2">
							<div class="col-1 pt-1">
								<span><b>For</b></span>
							</div>

							<div class="col-8">
								<span>Jesse Vangemeren (jesse.vangemeren@gmail.com)</span><span><i class="flaticon--basic-garbage text-danger" aria-hidden="true"></i></span>
							</div>

						</div>

						<div class="row">
							<div class="md-form col-7">
								<input type="text" id="form40" class="form-control">
								<label for="form40" class="">Task *</label>
							</div>
							<div class="md-form prefix-icon">
								<input type="text" name="" data-daterange="true">
								<label>Due</label>
								<i class="flaticon--basic-calendar"></i>
							</div>
						</div>
						<div class="row">
							<div class="col-2">
								<label for="" class="label_container">
									<input type="checkbox" >
									<span class="checkmark"></span>
									Email Reminder
								</label>
							</div>
							<div class="md-form prefix-icon">
								<input type="text" name="" data-daterange="true">
								<label>mm/dd/yy</label>
								<i class="flaticon--basic-calendar"></i>
							</div>

							<div class="col-2">
								<div class="sel sel--black-panther">
									<select name="select-profession" id="select-profession">
										<option value="" disabled>PST</option>
										<option value="">00:00</option>
										<option value="">00:30</option>			    
									</select>
								</div>
							</div>
						</div>
					</form>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<div>
						<button type="button" class="btn btn-warning float-right" >Delete</button>
					</div>
					<div>
						<button type="button" class="btn btn-success float-right" >Mark As Done</button>
					</div>
					<div>
						<button type="button" class="btn btn-info float-right" >Save</button>
					</div>
					<div>
						<button type="button" class="btn btn-danger float-right" data-dismiss="modal">Cancel</button>
					</div>
				</div>

			</div>
		</div>
	</div>
		<!-- End ModalEditTask -->