<div class="container-main">  
      <div class="row">
        <div class="col-7">
          <h4 class="title-bold">My company user overview</h4>      
        </div>
      </div>
      <div class="row">   
        <div class="col-12">  
          <ul class="nav nav-tabs">
              <li class="nav-item" >
                <a class="nav-link icon-tab active" data-toggle="tab" href="#Users" role="tab" > 
                <i class="flaticon-user" aria-hidden="true"></i><br>Users With Logins</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link icon-tab" data-toggle="tab" href="#Guesses" role="tab" >
                <i class="flaticon-user-3" aria-hidden="true"></i><br>Users Without Logins</a>
              </li>
               <li class="nav-item ml-auto" >
                <a class="nav-link icon-tab" data-toggle="tab" href="#Create" role="tab" >
              <i class="flaticon-add-2" aria-hidden="true"></i><br>Create</a>
             </li>
          </ul>
          <div class="tab-content"> 
            <div id="Users" class="tab-pane active" role="tabpanel"> 
              <div class="row">
                <div class="col-12">  
                  <div class="row">  
                    <div class="col-2 mb-2 ">
                      <h5 class="title-bold">Search All Users</h5>
                    </div>
                    <div class="md-form col-2 pr-5">
                      <input type="text" id="" class="form-control">
                      <label for="" class="">First name, last name or company</label>
                    </div>
                    <div class="col-1">
                      <i class="flaticon-search" data-toggle="tooltip" data-placement="right" title="Search"></i>
                    </div>
                  </div>
                </div>              
                  <div class="col-12">        
                  <table class="table  table-hover general-table">
                    <thead>
                      <tr>
                        <th  style="width:10%;" class="first_th">Name</th>
                        <th style="width:20%;" class="second_th">Contact</th>
                        <th style="width:15%;" class="third_th">Last login</th>
                        <th style="width:20%;" class="fourth_th">Position</th>
                        <th style="width:10%;" class="fourth_th">Access To</th>
                        <th style="width:20%;" class="fourth_th">Permissions</th>
                              <th style="width:20%;" class="fourth_th">Options</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td> Charlie Yost</td>
                        <td> <a href=" "> charlie@jetmanage.com</a> <br> 305-788-5223</td>
                                          <td>01/15/18 <br> Last 30/365 days: 11/115</td>
                                          <td>Dispatch, Maintenance, Management, Pilot, Salesperson</td>
                                          <td> S-F</td>
                                          <td >Administrator, Operations, Sales & Scheduling   </td>
                          <td>
                            <a routerLink="../../../company/edit_user"><i class="flaticon--basic-edit" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Edit"></i></a><i class="flaticon--basic-garbage text-danger" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Delete"></i>
                          </td>
                      </tr>
                      <tr>
                        <td> Charlie Yost</td>
                        <td> <a href=" "> charlie@jetmanage.com</a> <br/> 305-788-5223</td>
                                          <td>01/15/18 <br/> Last 30/365 days: 11/115</td>
                                          <td>Dispatch, Maintenance, Management, Pilot, Salesperson</td>
                                          <td> S-F</td>
                                          <td >Administrator, Operations, Sales & Scheduling </td>
                                        <td>  <a routerLink="../../../company/edit_user">      <i class="flaticon--basic-edit" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Edit"></i></a> <i class="flaticon--basic-garbage text-danger" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Delete"></i></td>
                      </tr>
                      <tr>
                        <td> Charlie Yost</td>
                        <td> <a href=" "> charlie@jetmanage.com</a> <br> 305-788-5223</td>
                                          <td>01/15/18 <br> Last 30/365 days: 11/115</td>
                                          <td>Dispatch, Maintenance, Management, Pilot, Salesperson</td>
                                          <td> S-F</td>
                                          <td >Administrator, Operations, Sales & Scheduling  </td>
                                       <td>  <a routerLink="../../../company/edit_user">      <i class="flaticon--basic-edit" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Edit"></i></a> <i class="flaticon--basic-garbage text-danger" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Delete"></i></td>
                      </tr>
                      <tr>
                        <td> Charlie Yost</td>
                        <td> <a href=" "> charlie@jetmanage.com</a> <br> 305-788-5223</td>
                                          <td>01/15/18 <br> Last 30/365 days: 11/115</td>
                                          <td>Dispatch, Maintenance, Management, Pilot, Salesperson</td>
                                          <td> S-F</td>
                                          <td >Administrator, Operations, Sales & Scheduling  </td>
                                          <td>  <a routerLink="../../../company/edit_user">      <i class="flaticon--basic-edit" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Edit"></i></a> <i class="flaticon--basic-garbage text-danger" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Delete"></i></td>
                      </tr>
                    </tbody>
                  </table>  
                  </div>   
              </div>
            </div>        
            <div id="Create" class="tab-pane" role="tabpanel">
              <div class="row">
                <div class="col-12">
                <h5>Basic Information</h5>  
                </div>
                <div class="col-12">
                  <p>Employee Position determines what the user can be assigned to, EX: Salespeople to Quotes, Flight attendant to Trips.</p>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-6">
                        <div class="md-form">
                          <input type="text" name="">
                          <label>First Name*</label>
                        </div>
                        <div class="md-form">
                          <input type="text" name="">
                          <label>Last Name*</label>
                        </div>
                        <div class="md-form">
                          <input type="text" name="">
                          <label>Middle Name</label>
                        </div>
                        <div class="md-form">
                          <input type="text" name="">
                          <label>Suffix*</label>
                        </div>
                          </div>
                           <div class="col-6">
                            </div>
                                                  <div class="">
                          <label><strong> Employee Position</strong></label>
                          <label for="" class="label_container">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                            Flight attendant
                              </label>
                                <label for="" class="label_container">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                            Dispatch
                              </label>
                             <label for="" class="label_container">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                            Flight engineer
                             </label>
                              <label for="" class="label_container">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                            Management
                             </label>
                              <label for="" class="label_container">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                            Salesperson
                              </label>
                               <label for="" class="label_container">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                            Maintenance
                            </label> <br>
                            <label><strong> Pilot</strong></label>
                          <label for="" class="label_container">
                            You must save the page before you can add a pilot record to this user.
                              </label> <br>
                            </div>
                        </div>
                      </div>
                    </div>
                <div class="col-12">
                  <h5>Contact Information</h5>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-6">
                        <div class="md-form">
                          <input type="text" name="">
                          <label>Email*</label>
                        </div>
                        <div class="md-form">
                          <input type="text" name="">
                          <label>Phone*</label>
                        </div>
                        <div class="sel sel--black-panther">
                          <select name="select-profession" id="select-profession">
                            <option value="Jet Manage LLC" disabled>Office</option>
                            <option value="hacker">Jet Manage LLC</option>
                          </select>
                        </div>                        
                      </div>
                      <div class="col-6">
                        <div class="md-form">
                          <input type="text" name="">
                          <label>Fax*</label>
                        </div>
                        <div class="md-form">
                          <input type="text" name="">
                          <label>Mobile Phone</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <h5>Internationalization</h5>
                  <div class="row">
                    <div class="col-6">
                      <div class="sel sel--black-panther top2">
                                 <select name="select-profession" id="select-profession">
                                     <option value="United States (English)" disabled>Locale</option>
                                     <option value="hacker">United States (English)</option>
                                     <option value="gamer">Other</option>
                                  </select>
                                </div>
                    <div class="sel sel--black-panther top1">
                      <select name="select-profession" id="select-profession">
                        <option value="" disabled>Date/Time Format</option>
                        <option value="hacker">American(24h)</option>
                            <option value="hacker">European(24h)</option>
                        <option value="hacker">American(AM-PM)</option>
                      </select>
                    </div>
                <div class="row">
                  <label for="" class="col-6 col-form-label">Edit Date Format</label>
                  <div class="col-6">
                    <label for="" class="label_container">
                      <input type="radio" name="radio" value="Details" ><span class="checkmark radio_button"></span>None (010110)
                    </label>
                    <label for="" class="label_container">
                      <input type="radio" name="radio" value="Ongoing Bars" checked><span class="checkmark radio_button"></span>/ (01/01/10)
                    </label>
                  </div>
                </div>
                <div class="sel sel--black-panther top">
                  <select name="select-profession" id="select-profession">
                    <option value="" disabled>Time Zone</option>
                    <option value="hacker">(UCT-05:00) New York, US Eastern</option>
                        <option value="hacker">(UCT-05:00) New York, US Eastern</option>
                    <option value="hacker">(UCT-05:00) New York, US Eastern</option>
                  </select>
                </div>
                <div class="sel sel--black-panther">
                  <select name="select-profession" id="select-profession">
                    <option value="" disabled>Currency</option>
                    <option value="hacker">US Dollar</option>
                        <option value="hacker">Turkish Lira</option>
                    <option value="hacker">Euro</option>
                  </select>
                </div>
                <div class="row">
                  <label for="" class="col-6 col-form-label">Currency Format</label>
                  <div class="col-6">
                    <label for="" class="label_container">
                      <input type="radio" name="radio1" value="Code" ><span class="checkmark radio_button"></span>Code
                    </label>
                    <label for="" class="label_container">
                      <input type="radio" name="radio1" value="Symbol" checked><span class="checkmark radio_button"></span>Symbol
                    </label>
                  </div>
                </div>
                     </div>
                       <div class="col-6" style="font-size: 15px">
                        <div class="row-3"> 
                         <strong >Date </strong> <br>
                                            011918 <br>
                                            01/19/18 <br>
                                            Fri Jan 19 18 <br>
                                            Fri Jan 19 2018
                                    </div> <br><br><br>
                                <div class="row-3"> 
                                  <strong >Calendar </strong> <br>
                                        Sun, Mon, Tue, Wed, Thu, Fri, Sat <br>
                                        01/19/18 <br>
                                        Fri Jan 19 18 <br>
                                        Fri Jan 19 2018
                                </div> 
                                    </div>
                                   </div>
                </div> <br><br>

                <div class="col-12"><br>
                  <h5>Other Information</h5>
                <p>For new features and where available, airports will show with your preferred airport code.</p> <br>
                <div class="sel sel--black-panther">
                  <select name="select-profession" id="select-profession" style="width: 10%">
                        <option value="" disabled>Airport code Preference</option>
                        <option value="hacker">--None--</option>
                        <option value="hacker">ICAO</option>
                        <option value="hacker">IATA</option>
                        <option value="hacker">FAA</option>
                  </select>
                </div>
                </div>

              </div>
              <div class="row form_buttons">
                <button type="button" class="btn btn-info">Save & Continue</button>
                <button type="button" class="btn btn-danger">Cancel</button>
              </div>  
            </div>       
            <div id="Guesses" class="tab-pane" role="tabpanel">  
              <div class="col-12">  
                <div class="row">  
                  <div class="col-2 mb-2 ">
                    <h5 class="title-bold">Search All Users</h5>
                  </div>
                  <div class="md-form col-2 pr-5">
                    <input type="text" id="" class="form-control">
                    <label for="" class="">First name, last name or company</label>
                  </div>
                  <div class="col-1">
                    <i class="flaticon-search" data-toggle="tooltip" data-placement="right" title="Search"></i>
                  </div>
                </div>
              </div>
              <table class="table  table-hover general-table">
                <thead>
                <tr>
                  <th  style="width:10%;" class="first_th">Name</th>
                  <th style="width:20%;" class="second_th">Contact</th>
                  <th style="width:15%;" class="third_th">Last login</th>
                  <th style="width:20%;" class="fourth_th">Position</th>
                  <th style="width:10%;" class="fourth_th">Access To</th>
                  <th style="width:20%;" class="fourth_th">Permissions</th>
                  <th style="width:20%;" class="fourth_th">Options</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td> Charlie Yost</td>
                  <td> <a href=" "> charlie@jetmanage.com</a> <br> 305-788-5223</td>
                                    <td>01/15/18 <br> Last 30/365 days: 11/115</td>
                                    <td>Dispatch, Maintenance, Management, Pilot, Salesperson</td>
                                    <td> S-F</td>
                                     <td >Administrator, Operations, Sales & Scheduling  </td>
                  <td>  <a routerLink="../../../company/edit_user">      <i class="flaticon--basic-edit" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Edit"></i></a> <i class="flaticon--basic-garbage text-danger" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Delete"></i></td>

                  
                  
                </tr>
                <tr>
                  <td> Charlie Yost</td>
                  
                  <td> <a href=" "> charlie@jetmanage.com</a> <br> 305-788-5223</td>
                                    <td>01/15/18 <br> Last 30/365 days: 11/115</td>
                                    <td>Dispatch, Maintenance, Management, Pilot, Salesperson</td>
                                    <td> S-F</td>
                                     <td >Administrator, Operations, Sales & Scheduling  </td>
                <td>  <a routerLink="../../../company/edit_user">      <i class="flaticon--basic-edit" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Edit"></i></a> <i class="flaticon--basic-garbage text-danger" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Delete"></i></td>

                
                </tr></tbody>
                    </table>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- container main -->