<div class="container-main" data-id="company_details">
	<div class="row">
		<div class="col-4 mb-2">
			<h4 class="title-bold">Company information for Jet Manage LLC</h4>
		</div>
		<div class="col-1 text-right">
			<a class="active" data-toggle="modal" data-target="#ModalEditInformation"><i class="flaticon--basic-edit text-primary" data-toggle="tooltip" data-placement="left" title="Edit Information"></i></a>
		</div>
	</div>
	<div class="form-group">
		<div class="row">
			<h5 class="col-12 mb-2" >Membership</h5>
			<span class="col-1 mb-2"><b>Marketplace</b></span>
            <span class="col-11">None</span>
            <span class="col-1 mb-2"><b>Wyvern</b></span>
            <span class="col-11">None</span>
            <span class="col-1 mb-2"><b>SchedAero</b></span>
            <span class="col-11">SchedAero, Calendar Export, Flight and Duty Logs, Flight Portal, Member since Mon Jul 31 2017</span>
            <span class="col-1 mb-2"><b>Paynode</b></span>
            <span class="col-11">No</span>
		</div>
	</div>
	<div class="form-group">
		<div class="row">
			<h5 class="col-12 mb-2" >Integration</h5>
			<span class="col-1 mb-2"><b>Software</b></span>
            <span class="col-11">SchedAero</span>
            <p class="col-12 text-secondary">No data received during the last ten days.</p>
		</div>
	</div>
	<div class="form-group">
		<div class="row">
			<h5 class="col-12 mb-2" >Contact Information</h5>
			<span class="col-1 mb-2"><b>Phone</b></span>
            <span class="col-11">305-788-5223</span>
            <span class="col-1 mb-2"><b>Email</b></span>
            <span class="col-11"><a routerLink="../../../company/company_details">charlie@jetmanage.com</a></span>
            <span class="col-1 mb-2"><b>URL</b></span>
            <span class="col-11"><a routerLink="../../../company/company_details">http://www.jetmanage.com/</a></span>
		</div>
	</div>
	<div class="form-group">
		<div class="row">
			<h5 class="col-12 mb-2" >Marketing</h5>
			<span class="col-1 mb-2"><b>Logo</b></span>
			<span class="col-11"><img src="assets/landing/images/logo.jpg"></span>
			<span class="col-1 mb-2"><b>LinkedIn</b></span>
			<span class="col-11"><a routerLink="../../../company/company_details">http://www.linkedin.com/company/jetmanage</a></span>
			<span class="col-1 mb-2"><b>Twitter</b></span>
			<span class="col-11"><a routerLink="../../../company/company_details">http://www.twitter.com/jetmanage</a></span>
			<span class="col-1 mb-2"><b>Facebook</b></span>
			<span class="col-11"><a routerLink="../../../company/company_details">http://www.facebook.com/jetmanage</a></span>
		</div>
	</div>
	<div class="form-group">
		<div class="row">
			<h5 class="col-12 mb-2" >Office</h5>
			<div class="col-3 text-center">
				<span class="col-12 mb-0">
					<p>Jet Manage LLC<sup>HQ</sup><a class="active" data-toggle="modal" data-target="#ModalEditOffice"><i class="flaticon--basic-edit text-primary" data-toggle="tooltip" data-placement="top" title="Edit Office"></i></a></p>
					<p>115 N Airport Rd<br/>Tavernier FL 33070<br/>United States<br/>Business Hours (9am-6pm)</p>
				</span>
				<label class="col-12 mb-0"><b>Phone</b></label>
				<label class="col-12">305-788-5223</label>
				<label class="col-12 mb-0"><b>Email</b></label>
				<label class="col-12"><a routerLink="../../../company/company_details">charlie@jetmanage.com</a></label>
				<label class="col-12 mb-0"><b>URL</b></label>
				<label class="col-12"><a routerLink="../../../company/company_details">http://www.jetmanage.com/</a></label>
			</div>
			<div class="col-3 text-center">
				<span class="col-12 mb-0">
					<p>Jet Manage LLC<i class="flaticon--basic-edit text-primary" data-toggle="tooltip" data-placement="top" title="Edit Office"></i></p>
					<p>115 N Airport Rd<br/>Tavernier FL 33070<br/>United States<br/>Business Hours (9am-6pm)</p>
				</span>
				<label class="col-12 mb-0"><b>Phone</b></label>
				<label class="col-12">305-788-5223</label>
				<label class="col-12 mb-0"><b>Email</b></label>
				<label class="col-12"><a routerLink="../../../company/company_details">charlie@jetmanage.com</a></label>
				<label class="col-12 mb-0"><b>URL</b></label>
				<label class="col-12"><a routerLink="../../../company/company_details">http://www.jetmanage.com/</a></label>
			</div>
		</div>
	</div>
</div>

<!-- Modals -->
	<!-- ModalEditInformation -->
		<div class="modal fade" id="ModalEditInformation">
		  <div class="modal-dialog modal-lg">
		    <div class="modal-content">

		      <!-- Modal Header -->
		      <div class="modal-header">
		        <h4 class="modal-title">Edit Company Information</h4>
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		      </div>

		      <!-- Modal body -->
		      <div class="modal-body">
		      	<div class="form-group">
		      		<div class="row">
		      			<h5 class="col-12 mb-4">Contact Information</h5>
		      			<div class="col-6 md-form">
		      				<input type="text" name="" value="305-788-5223">	
		      				<label style="display: none;">Phone*</label>
		      			</div> 
		      			<div class="col-6 md-form">
		      				<input type="text" name="" value="charlie@jetmanage.com">	
		      				<label style="display: none;">Email*</label>
		      			</div>
		      			<div class="col-6 md-form">
		      				<input type="text" name="">	
		      				<label>Mobile Phone</label>
		      			</div> 
		      			<div class="col-6 md-form">
		      				<input type="text" name="">	
		      				<label>Secondary Email</label>
		      			</div> 
		      			<div class="col-6 md-form">
		      				<input type="text" name="">	
		      				<label>Fax</label>
		      			</div> 
		      			<div class="col-6 md-form">
		      				<input type="text" name="" value="http://www.jetmanage.com/">	
		      				<label style="display: none;">URL</label>
		      			</div>  
		      		</div>
		      	</div>
		      	<div class="form-group">
		      		<div class="row">
		      			<h5 class="col-12 mb-4">Marketing</h5>
		      			<div class="col-6 mb-4">
		      					<label for=""><b>Upload Logo</b></label>
		      					<div class="input-file-container mx-auto">  
		      						<input class="input-file" data-id="0" type="file">
		      						<label tabindex="0" for="my-file" class="input-file-trigger"><span class="file-return" id="return1"><i class="flaticon-cloud-computing"></i>     Select a file...</span></label>
		      					</div>
		      			</div>
		      			<div class="col-6 md-form">
		      				<textarea class=""></textarea>	
		      				<label>Company Description</label>
		      			</div> 
		      			<div class="col-6 md-form">
		      				<input type="text" name="" >	
		      				<label style="display: none;">Company Tag Line</label>
		      			</div>
		      			<div class="col-6 md-form">
		      				<input type="text" name="">	
		      				<label>Year Stablished</label>
		      			</div> 
		      			<div class="col-6 md-form">
		      				<input type="text" name="">	
		      				<label>Memberships</label>
		      			</div> 
		      			
		      			<div class="col-6 md-form">
		      				<input type="text" name="" value="http://www.linkedin.com/company/jetmanage">	
		      				<label style="display: none;">LinkedIn URL</label>
		      			</div> 
		      			<div class="col-6 md-form">
		      				<input type="text" name="" value="http://www.twitter.com/jetmanage">	
		      				<label style="display: none;">Twitter URL</label>
		      			</div>  
		      			<div class="col-6 md-form">
		      				<input type="text" name="" value="http://www.facebook.com/jetmanage">	
		      				<label style="display: none;"> Facebook URL</label>
		      			</div>    
		      		</div>
		      	</div>      
		      </div>
		      <!-- Modal footer -->
		      <div class="modal-footer">
		        <button type="button" class="btn btn-info" >Save</button>
		        <button type="button" class="btn btn-danger" data-dismiss="modal" >Cancel</button>
		      </div>

		    </div>
		  </div>
		</div>
	<!-- End ModalEditInformation -->
	<!-- ModalEditOffice -->
	<div class="modal fade" id="ModalEditOffice">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Edit Office Information</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="form-group">
						<div class="row">
							<h5 class="col-12 mb-4">General Information</h5>
							<div class="col-6 md-form">
								<input type="text" name="" value="Jet Manage LLC">	
								<label style="display: none;">name*</label>
							</div>
							<div class="col-6">
								<label for="" class=" col-form-label"><b>Type</b></label>
									<label for="" class="label_container">
										<input type="radio" name="radioGroup" value="Date" checked><span class="checkmark radio_button"></span>Primary Operations
									</label>
									<label for="" class="label_container">
										<input type="radio" name="radioGroup" value="Tails"><span class="checkmark radio_button"></span>Primary Quarter
									</label>
							</div> 
							<div class="col-6 md-form">
								<input type="text" name="" value="KOPF">	
								<label style="display: none;">Airport</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<h5 class="col-12 mb-4">Address</h5>
							<div class="col-6 md-form">
								<input type="text" name="" value="115 N Airport Rd">	
								<label style="display: none;">Address1*</label>
							</div> 
							<div class="col-6 md-form">
								<input type="text" name="" value="Tavernier">	
								<label style="display: none;">City*</label>
							</div>
							<div class="col-6 md-form">
								<input type="text" name="">	
								<label>Address2</label>
							</div> 
							<div class="col-6 md-form">
								<div class="sel sel--black-panther">
									<select>
										<option disabled>Nation*</option>
										<option>United States</option>
										<option>Canada</option>
									</select>
								</div>
							</div>
							<div class="col-6 md-form">
								<input type="text" name="">	
								<label>Post Box</label>
							</div> 
							<div class="col-6 md-form">
								<input type="text" name="">	
								<label>State</label>
							</div>  
							<div class="col-6 md-form">
								<input type="text" name="">	
								<label>Postal Code</label>
							</div>  
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<h5 class="col-12 mb-4">Contact Information</h5>
							<div class="col-6 md-form">
								<input type="text" name="" value="305-788-5223">	
								<label style="display: none;">Phone*</label>
							</div> 
							<div class="col-6 md-form">
								<input type="text" name="" value="charlie@jetmanage.com">	
								<label style="display: none;">Email*</label>
							</div>
							<div class="col-6 md-form">
								<input type="text" name="">	
								<label>Mobile Phone</label>
							</div> 
							<div class="col-6 md-form">
								<input type="text" name="">	
								<label>Secondary Email</label>
							</div> 
							<div class="col-6 md-form">
								<input type="text" name="">	
								<label>Fax</label>
							</div> 
							<div class="col-6 md-form">
								<input type="text" name="" value="http://www.jetmanage.com/">	
								<label style="display: none;">URL</label>
							</div>  
						</div>
					</div>      
				</div>
				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-info" >Save</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal" >Cancel</button>
				</div>

			</div>
		</div>
	</div>
	<!-- End ModalEditOffice -->