<div class="container-main" data-id="fuel">
		<div class="row">
			
				<div class="col-12 mb-2">
					<h4 class="title-bold">Fuel</h4>
				</div>
				<div class="col-12">
					<p>The fuel page will always show legs that have vendors, notes or requested fuel on them regardless of the show fuel by setting</p>
				</div>
				<div class="row col-12">
					<div class="col-2">
						<label for="" class="col-form-label">Group By</label>
						<div class="">
							<label for="" class="label_container">
								<input type="radio" name="radioGroup" value="Date" checked><span class="checkmark radio_button"></span>Date
							</label>
							<label for="" class="label_container">
								<input type="radio" name="radioGroup" value="Tails"><span class="checkmark radio_button"></span>Tails
							</label>
						</div>
					</div>
					<div class="col-3">
						<label for="" class="col-form-label">Show Fuel By</label>
						<div class="">
							<label for="" class="label_container">
								<input type="radio" name="radioFuel" value="Date" checked><span class="checkmark radio_button"></span>Departure Date
							</label>
							<label for="" class="label_container">
								<input type="radio" name="radioFuel" value="Tails"><span class="checkmark radio_button"></span>Arrival Date
							</label>
						</div>
					</div>
				</div>
			</div>

			<div class="">
				<div class="row">
					<div class="col-12">
						<table class="table  table-hover general-table sort-order">
							<thead>
								<tr>
									<th style="width: 5%" class="first_th">Aircraft</th>
									<th class="second_th">Airport  arrival &amp; departure (all times local) </th>
									<th >Vendor</th>
									<th >Notes</th>
									<th >Required</th>
									<th ><i class="flaticon-checked"></i></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>N807D</td>
									<td>01/17/18 - 11:45 MYAT - KOPF 12:45</td>
									<td>
										<div class="sel sel--black-panther">
										  <select name="select-profession" id="select-profession">
										    <option value="" disabled>Vendor</option>
										    <option value="">ASIG</option>
											<option value="">ATRANTIC AVIATION SERVICES</option>	
										  </select>
										</div>
									</td>
									<td>
										<div class="md-form">
						       				<label for=""></label>
						       				<input type="text" value="">
						       			</div>
									</td>
									<td > 
										<label for="" class="label_container">
											<input type="radio" name="radioYN1" value="Yes" checked><span class="checkmark radio_button"></span>Yes
										</label>
										<label for="" class="label_container">
											<input type="radio" name="radioYN1" value="No"><span class="checkmark radio_button"></span>No
										</label>	
									</td>
									<td>
										<label for="" class="label_container">
											<input type="checkbox" checked>
											<span class="checkmark"></span> 
										</label>
									</td>
								</tr>
								<tr>
									<td>N807D</td>
									<td>01/17/18 - 11:45 MYAT - KOPF 12:45</td>
									<td>
										
									</td>
									<td>
										
									</td>
									<td > 
										<label for="" class="label_container">
											<input type="radio" name="radioYN2" value="Yes" ><span class="checkmark radio_button"></span>Yes
										</label>
										<label for="" class="label_container">
											<input type="radio" name="radioYN2" value="No" checked><span class="checkmark radio_button"></span>No
										</label>	
									</td>
									<td>
										<label for="" class="label_container">
											<input type="checkbox" disabled>
											<span class="checkmark" ></span> 
										</label>
									</td>
								</tr>

								
							</tbody>
						</table>
					</div>
				</div>
				
			</div> <!-- form group 2 -->
			
		</div>