.site-menubar-body {
	height: 100%;
	overflow:auto;
}
.icondemo .icon{
	cursor:pointer;
}
.ls_div {
    position: absolute;
    background-color: #fff;
    font-size: 12px;
    display: none;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border: 1px solid #DDD;
    z-index: 1001;
    width: 100%;
}
.ls_div .btn-round {
    cursor: pointer;
}
.ls_div table tbody tr:hover{
    background-color: #e4eaec;
    /*color:white;*/
    cursor: pointer;
}
.border-round-grey{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; /* future proofing */
    border: 1px solid #CCD5DB;
}
