    <div class="container-main">
      <div class="row">
        <div class="col-7">
          <h4 class="title-bold">Edit User Charlie Yost</h4>          
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <ul class="nav nav-tabs">
              <li class="nav-item" >
                <a class="nav-link icon-tab active" data-toggle="tab" href="#Info" role="tab" > 
                  <i class="flaticon-user" aria-hidden="true"></i><br>Personal Info</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link icon-tab" data-toggle="tab" href="#Permissions" role="tab" >
                  <i class="collection-flaticon-email" aria-hidden="true"></i><br>Permissions & Email</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link icon-tab" data-toggle="tab" href="#Photos" role="tab" >
                  <i class="flaticon-photo-camera" aria-hidden="true"></i><br>Profile Photo</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link icon-tab" data-toggle="tab" href="#Basics" role="tab" >
                  <i class="flaticon-worldwide" aria-hidden="true"></i><br>Basics</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link icon-tab" data-toggle="tab" href="#Documents" role="tab" >
                  <i class="flaticon-file" aria-hidden="true"></i><br>Documents & Addresses</a>
              </li>
                <li class="nav-item" >
                <a class="nav-link icon-tab" data-toggle="tab" href="#Tasks" role="tab" >
                  <i class="flaticon-agenda" aria-hidden="true"></i><br>Tasks</a>
              </li>
              <!-- <li class="nav-item" >
                <a class="nav-link icon-tab" data-toggle="tab" href="#fleetPricing" role="tab" >
                  <i class="flaticon-minus" aria-hidden="true"></i><br>One way Pricing</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link icon-tab" data-toggle="tab" href="#fleetProfile" role="tab" >
                  <i class="flaticon-minus" aria-hidden="true"></i><br>Profiles</a>
              </li> -->
              
          </ul>
          <div class="tab-content">
            <div id="Info" class="tab-pane active" role="tabpanel">
              <div class="row">
                <div class="col-12">
                  <p><b>Modified:</b> Tue Jan 09 18 by Jesse Vangemeren <b>Created:</b> Mon Nov 20 17 by Heidrich Vicci</p>
                </div>
                <div class="col-12">
                  <h5>Basic Information</h5>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-6">
                        <div class="md-form">
                          <input type="text" name="">
                          <label>First Name*</label>
                        </div>
                        <div class="md-form">
                          <input type="text" name="">
                          <label>Last Name*</label>
                        </div>
                        <div class="md-form">
                          <input type="text" name="">
                          <label>Middle Name</label>
                        </div>
                        <div class="md-form">
                          <input type="text" name="">
                          <label>Suffix*</label>
                        </div>
                          </div>
                           <div class="col-6">
                            </div>
                                                  <div class="">
                          <label><strong> Employee Position</strong></label>
                          <label for="" class="label_container">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                            Flight attendant
                              </label>
                                <label for="" class="label_container">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                            Dispatch
                              </label>
                             <label for="" class="label_container">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                            Flight engineer
                             </label>
                              <label for="" class="label_container">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                            Management
                             </label>
                              <label for="" class="label_container">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                            Salesperson
                              </label>
                               <label for="" class="label_container">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                            Maintenance
                            </label> <br>
                            <label><strong> Pilot</strong></label>
                          <label for="" class="label_container">
                            Yes - <a href="">View Pilot record</a>
                              </label> <br>

                                <label><strong> API Connection</strong></label>
                          <label for="" class="label_container">
                            Yes - <a href="">View</a>
                              </label>
                             
                              
                             
                               
                            </div>

                        </div>
                      </div>
                    </div>
                <div class="col-12">
                  <h5>Contact Information</h5>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-6">
                        <div class="md-form">
                          <input type="text" name="">
                          <label>Email*</label>
                        </div>
                        <div class="md-form">
                          <input type="text" name="">
                          <label>Phone*</label>
                        </div>
                        <div class="sel sel--black-panther">
                  <select name="select-profession" id="select-profession">
                    <option value="Jet Manage LLC" disabled>Office</option>
                    <option value="">Jet Manage LLC</option>
                    
                  </select>
                </div>
                        
                      </div>
                      <div class="col-6">
                        <div class="md-form">
                          <input type="text" name="">
                          <label>Fax*</label>
                        </div>
                        <div class="md-form">
                          <input type="text" name="">
                          <label>Mobile Phone</label>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <h5>Social Settings</h5>
                  <div class="form-group">
                <p><strong> LinkedIn URL</strong></p>
                  </div>
                </div>
                <div class="col-12">
                  <h5>Login</h5>
                      <div class="form-group">
                    <div class="row">
                                                  <div class="">
                          <label><strong> Access To</strong></label>
                          <label for="" class="label_container">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                            SchedAero <i class="schedaero-logo-white.svg"></i>
                          </label>
                          <label for="" class="label_container">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                            Flight Portal
                          </label>  
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <h5>Internationalization</h5>
                      <div class="row">
              <div class="col-6">
                        <div class="sel sel--black-panther top2">
                                   <select name="select-profession" id="select-profession">
                                       <option value="United States (English)" disabled>Locale</option>
                                       <option value="">United States (English)</option>
                                       <option value="gamer">Other</option>
                    
                                        </select>
                                  </div>
                        <div class="sel sel--black-panther top1">
                  <select name="select-profession" id="select-profession">
                    <option value="" disabled>Date/Time Format</option>
                    <option value="">American(24h)</option>
                        <option value="">European(24h)</option>
                    <option value="">American(AM-PM)</option>
                  </select>
                </div>
                <div class="row">
                  <label for="" class="col-6 col-form-label">Edit Date Format</label>
                  <div class="col-6">
                    <label for="" class="label_container">
                      <input type="radio" name="radio" value="Details" ><span class="checkmark radio_button"></span>None (010110)
                    </label>
                    <label for="" class="label_container">
                      <input type="radio" name="radio" value="Ongoing Bars" checked><span class="checkmark radio_button"></span>/ (01/01/10)
                    </label>
                  </div>
                </div>
                        <div class="sel sel--black-panther top">
                  <select name="select-profession" id="select-profession">
                    <option value="" disabled>Time Zone</option>
                    <option value="">(UCT-05:00) New York, US Eastern</option>
                        <option value="">(UCT-05:00) New York, US Eastern</option>
                    <option value="">(UCT-05:00) New York, US Eastern</option>
                  </select>
                </div>
                        <div class="sel sel--black-panther">
                  <select name="select-profession" id="select-profession">
                    <option value="" disabled>Currency</option>
                    <option value="">US Dollar</option>
                        <option value="">Turkish Lira</option>
                    <option value="">Euro</option>
                  </select>
                </div>
                        <div class="row">
                  <label for="" class="col-6 col-form-label">Currency Format</label>
                  <div class="col-6">
                    <label for="" class="label_container">
                      <input type="radio" name="radio1" value="Code" ><span class="checkmark radio_button"></span>Code
                    </label>
                    <label for="" class="label_container">
                      <input type="radio" name="radio1" value="Symbol" checked><span class="checkmark radio_button"></span>Symbol
                    </label>

                  </div>

                </div>

                     </div>
                       <div class="col-6" style="font-size: 15px">
                        <div class="row-3"> <strong >Date </strong> <br>
                                            011918 <br>
                                            01/19/18 <br>
                                            Fri Jan 19 18 <br>
                                            Fri Jan 19 2018



                                        </div> <br><br><br>
                                       <div class="row-3"> <strong >Calendar </strong> <br>
                                            Sun, Mon, Tue, Wed, Thu, Fri, Sat <br>
                                            01/19/18 <br>
                                            Fri Jan 19 18 <br>
                                            Fri Jan 19 2018</div> 
                                      </div>
                                   </div>
                </div> <br><br>

                <div class="col-12"><br>
                  <h5>Other Information</h5>
                <p>For new features and where available, airports will show with your preferred airport code.</p> <br>
                <div class="sel sel--black-panther">
                  <select name="select-profession" id="select-profession" style="width: 10%">
                        <option value="" disabled>Airport code Preference</option>
                        <option value="">--None--</option>
                        <option value="">ICAO</option>
                        <option value="">IATA</option>
                        <option value="">FAA</option>
                  </select>
                </div>
                </div>

              </div>
              <div class="row form_buttons">
                <button type="button" class="btn btn-info">Save & Continue</button>
                <button type="button" class="btn btn-danger">Cancel</button>
              </div>  
            </div>

            <div id="Permissions" class="tab-pane" role="tabpanel">
              <div class="row">
                
                
                <div class="col-12">
                  
                  <div class="form-group">
                    <div class="row">
                      <p style="background-color: #F3F781"> <strong> Please note:</strong> Edwin Yost has not been granted access to any products. A user must have access to at least one product before permissions can be configured. <br> <a href=""><u> Configure product access</u></a></p>
                      

                    </div>
                  </div>
                </div>


              </div>
              <div class="row form_buttons">
          
                <button type="button" class="btn btn-danger">Cancel</button>
              </div>  
            </div> 






            <div id="Tasks" class="tab-pane" role="tabpanel">
              <div class="row">
                
                
                <div class="col-12">
                  
                  <div class="form-group">
                  <div class="row text-right">
                  <span class="col-12">
                    <i class="flaticon--basic-add enlarge-icon" aria-hidden="true" data-toggle="modal" data-target="#ModalAddTaskGroup"></i>
                    <small> Load Task Group</small> 
                    <i class="flaticon--basic-add enlarge-icon" aria-hidden="true" data-toggle="modal" data-target="#ModalAddTask"></i>
                    <small> Task</small> 
                  </span>
                </div>
                                <h5>  Addresses</h5>  
                <div class="row">
                  
              
                  
                  <table class="table table-hover general-table">
                    <thead>
                      <tr>
                        <th>Task</th>
                        <th>Assigned To</th>
                        <th>Created</th>
                        <th>Due</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td></td>
                        <td></td>
                        
                        <td></td>
                        
                        <td></td>
                      </tr>                         
                    </tbody>
                  </table>
                </div>
                  </div>
                </div>


              </div>
              
            </div>
            <div id="Photos" class="tab-pane" role="tabpanel">
              
            <div class="col-12">
                  <p><b>Modified:</b> Tue Jan 09 18 by Jesse Vangemeren <b>Created:</b> Mon Nov 20 17 by Heidrich Vicci</p>
              </div>
              <div class="row">
                <div class="col-4">
                  <div class="col-12 ml-5">
                    <h5> <STRONG> Profile Photo</STRONG></h5>
                    <img width="25%" height="50%" src="assets/admin/img/avatar-1-256.png">
                  </div>
                </div> 
                <div class="col-8">
                  <h5>Edit Photo</h5>
                  <div class="col-12 mb-2">
                    <div class="col-6 pl-0">
                      <label for=""><b>Upload Photo</b></label>
                      <div class="input-file-container mx-auto">
                        <input class="input-file" data-id="2" type="file">
                        <label tabindex="0" for="my-file" class="input-file-trigger"><span class="file-return" id="return3"><i class="flaticon-cloud-computing"></i>     Select a file...</span></label>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="sel sel--black-panther">
                      <select >
                        <option selected>Visibility</option>
                        <option>Public</option>
                        <option>Private</option>
                      </select>
                    </div>
                  </div>
                  <div class="row form_buttons">

                    <button type="button" class="btn btn-success" >Upload</button>
                  </div> 
                  
                </div>
              </div>
                
            </div>
            <!-- basics -->
            <div id="Basics" class="tab-pane" role="tabpanel">
              
                <div class="row">
                  
                       <div class="col-12">
                  
                  <div class="form-group">
                    <div class="row">
                      <div class="col-6">
                        <div class="md-form">
                          <div class="md-form prefix-icon">
                                     <input type="text" name="" data-daterange="true">
                                      <label>Date of Birth (mm/dd/yy)</label>
                                      <i class="flaticon--basic-calendar"></i>
                                  </div>
                        </div>
                        <div class="sel sel--black-panther">
                                      <select name="select-profession" id="select-profession">
                                        <option value="Jet Manage LLC" disabled>Gender</option>
                                        <option value="">Unknown</option>
                                        <option value="">Male</option>
                                        <option value="">Female</option> 
                                    </select>
                                </div>
                                <div class="row">
                                  <div class="col-8 md-form">
                                    <input type="text" id="" class="form-control">
                                    <label for="" class="">Weight</label>
                                  </div>
                                  <div class="col-4">
                                    <div class="sel sel--black-panther top1">
                                      <select name="select-profession" id="select-profession">
                                        <option disabled>Units</option>
                                        <option >Kg</option>
                                        <option >Pounds</option>
                                      </select>
                                    </div>
                                  </div>
                                </div>
                                
                      </div>
                      <div class="col-6">
                          <div class="sel sel--black-panther top2">
                                      <select name="select-profession" id="select-profession">
                                        <option value="Jet Manage LLC" disabled>Country of Residence</option>
                                        <option value="">None</option>
                                        <option value="">United States</option>
                                        <option value="">Other</option>
                    
                                      </select>
                                </div>
                          <div class="sel sel--black-panther top1">
                                      <select name="select-profession" id="select-profession">
                                        <option value="Jet Manage LLC" disabled>Country of Citizenship</option>
                                        <option value="">None</option>
                                        <option value="">United States</option>
                                        <option value="">Other</option>
                    
                                      </select>
                                </div>
                          
                        
                      </div>
                    </div>
                  </div>
                </div>
                </div>
            
              
              <div class="row form_buttons">
                <button type="button" class="btn btn-info">Save</button>
                <button type="button" class="btn btn-danger">Cancel</button>
              </div>  
            </div>
            <!-- photos -->
            <div id="Documents" class="tab-pane" role="tabpanel">
              <div class="form-group">
                <div class="row text-right">
                  <span class="col-12">
                    <i class="flaticon--basic-add enlarge-icon" aria-hidden="true" data-toggle="modal" data-target="#ModalAddDocument"></i>
                    <small> Add Document</small> 
                  </span>
                </div>
                                <h5>  Documents</h5>  
                <div class="row">
                  
              
                  <p>    Only the primary passport is shown on Trip sheets or Gendec documents. If you would like to use a different passport on a trip you must change the primary passport. All other documents on this page are only for internal reference.</p> <br>
                  <table class="table table-hover general-table">
                    <thead>
                      <tr>
                        <th>Document</th>
                        <th>Country</th>
                        <th>Number</th>
                        <th>Expiration</th>
                        <th>Notes</th>
                        <th>Options</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Passport (primary)</td>
                        <td>United States</td>
                        <td>478798210</td>
                        <td>5/17/2021</td>
                        <td> </td>
                        <td>
                          <i class="flaticon--basic-edit text-primary" data-toggle="modal" data-target="#ModalEditDocument"></i>
                          <i class="flaticon--basic-garbage text-danger" aria-hidden="true"></i>
                        </td>
                      </tr>                         
                    </tbody>
                  </table>
                </div>
              </div>






                      <div class="form-group">
                <div class="row text-right">
                  <span class="col-12">
                    <i class="flaticon--basic-add enlarge-icon" aria-hidden="true" data-toggle="modal" data-target="#ModalAddAddress"></i>
                    <small> Add an Address</small> 
                  </span>
                </div>
                                <h5>  Addresses</h5>  
                <div class="row">
                  
              
                  <p>    Only the primary passport is shown on Trip sheets or Gendec documents. If you would like to use a different passport on a trip you must change the primary passport. All other documents on this page are only for internal reference.</p> <br>
                  <table class="table table-hover general-table">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Contact</th>
                        <th>Options</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td></td>
                        <td></td>
                        
                        <td></td>
                        
                        <td>
                          <i class="flaticon--basic-edit text-primary" data-toggle="modal" data-target="#ModalEditAddress"></i>
                          <i class="flaticon--basic-garbage text-danger" aria-hidden="true"></i>
                        </td>
                      </tr>                         
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div> 

<!-- Modals -->
  <div class="modal fade" id="ModalAddDocument">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add Document</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="row">
            <div class="col-6">
              <div class="col-12">
                <div class="sel sel--black-panther top">
                  <select name="select-profession" id="select-profession">
                    <option disabled>Document type</option>
                    <option >Passport</option>
                    <option >ID</option>
                  </select>
                </div>
              </div>
              <div class="col-12 md-form">
                <input type="text" id="" class="form-control">
                <label for="" class="">Number*</label>
              </div>
              <div class="col-12">
                <div class="sel sel--black-panther top">
                  <select name="select-profession" id="select-profession">
                    <option disabled>Issuing Country</option>
                    <option >Peru</option>
                    <option >USA</option>
                    <option >Canada</option>
                  </select>
                </div>
              </div>
              <div class="col-12 md-form">
                <input type="text" id="" class="form-control">
                <label for="" class="">Authority</label>
              </div>
              <div class="col-12 mb-4">
                <label for=""><b>Document</b></label>
                <div class="input-file-container mx-auto">  
                  <input class="input-file" data-id="1" type="file">
                  <label tabindex="0" for="my-file" class="input-file-trigger"><span class="file-return" id="return2"><i class="flaticon-cloud-computing"></i>     Select a file...</span></label>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="col-12 md-form prefix-icon">
                <input type="text" name="" data-daterange="true">
                <label>Issue Date</label>
                <i class="flaticon--basic-calendar"></i>
              </div>
              <div class="col-12 md-form prefix-icon">
                <input type="text" name="" data-daterange="true">
                <label>Expiration Date*</label>
                <i class="flaticon--basic-calendar"></i>
              </div>
              <div class="col-12">
                <label class="label_container ml-2">
                  <input type="checkbox" checked>
                  <span class="checkmark" ></span>
                  Primary
                </label>
              </div>  
              <div class="col-12">
                <label class="label_container ml-2">
                  <input type="checkbox" checked>
                  <span class="checkmark" ></span>
                  Active
                </label>
              </div>
              <div class="col-12 md-form">
                <textarea class=""></textarea>
                <label for="" class="">Notes</label>
              </div> 
            </div>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-info" >Save</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" >Cancel</button>
        </div>

      </div>
    </div>
  </div>


    <!-- ModalAddAddress -->
  <div class="modal fade" id="ModalAddAddress">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add Address</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="row">
            <div class="col-6">
              <div class="col-12 md-form">
                <input type="text" id="" class="form-control">
                <label for="" class="">Location Name</label>
              </div>
              <div class="col-12 md-form">
                <input type="text" id="" class="form-control">
                <label for="" class="">Address</label>
              </div>
              <div class="col-12 md-form">
                <input type="text" id="" class="form-control">
                <label for="" class="">Post Box</label>
              </div>
              <div class="col-12 md-form">
                <input type="text" id="" class="form-control">
                <label for="" class="">City</label>
              </div>
              <div class="col-12">
                <div class="sel sel--black-panther top">
                  <select name="select-profession" id="select-profession">
                    <option disabled>Country</option>
                    <option >Peru</option>
                    <option >USA</option>
                    <option >Canada</option>
                  </select>
                </div>
              </div>
              <div class="col-12">
                <div class="sel sel--black-panther top">
                  <select name="select-profession" id="select-profession">
                    <option disabled>State/Province</option>
                    <option >Florida</option>
                    <option >Washington</option>
                    <option >Utah</option>
                  </select>
                </div>
              </div>
              <div class="col-12 md-form">
                <input type="text" id="" class="form-control">
                <label for="" class="">Postal Code</label>
              </div>
            </div>
            <div class="col-6">
              <div class="col-12">
                <label><b>Type</b></label>
                <label class="label_container ml-2">
                  <input type="checkbox" checked>
                  <span class="checkmark" ></span>
                  Primary
                </label>
                <label class="label_container">
                  <input type="checkbox" checked>
                  <span class="checkmark" ></span>
                  Permanent Address
                </label>
                <label class="label_container">
                  <input type="checkbox" checked>
                  <span class="checkmark" ></span>
                  Default eAPIS address in the US
                </label>
              </div>
              <div class="col-12 md-form">
                <input type="text" id="" class="form-control" >
                <label for="" class="">Phone</label>
              </div>
              <div class="col-12 md-form">
                <input type="text" id="" class="form-control" >
                <label for="" class="">Alternate Phone</label>
              </div>
              <div class="col-12 md-form">
                <input type="text" id="" class="form-control" >
                <label for="" class="">Fax</label>
              </div>
              <div class="col-12 md-form">
                <input type="text" id="" class="form-control" >
                <label for="" class="">Email</label>
              </div>
              <div class="col-12 md-form">
                <input type="text" id="" class="form-control" >
                <label for="" class="">Alternate Email</label>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-info" >Save</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" >Cancel</button>
        </div>

      </div>
    </div>
  </div>
  <!-- End ModalAddAddress -->
    <!-- ModalEditAddress -->
  <div class="modal fade" id="ModalEditAddress">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Edit Address</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="row">
            <div class="col-6">
              <div class="col-12 md-form">
                <input type="text" id="" class="form-control">
                <label for="" class="">Location Name</label>
              </div>
              <div class="col-12 md-form">
                <input type="text" id="" class="form-control">
                <label for="" class="">Address</label>
              </div>
              <div class="col-12 md-form">
                <input type="text" id="" class="form-control">
                <label for="" class="">Post Box</label>
              </div>
              <div class="col-12 md-form">
                <input type="text" id="" class="form-control">
                <label for="" class="">City</label>
              </div>
              <div class="col-12">
                <div class="sel sel--black-panther top">
                  <select name="select-profession" id="select-profession">
                    <option disabled>Country</option>
                    <option >Peru</option>
                    <option >USA</option>
                    <option >Canada</option>
                  </select>
                </div>
              </div>
              <div class="col-12">
                <div class="sel sel--black-panther top">
                  <select name="select-profession" id="select-profession">
                    <option disabled>State/Province</option>
                    <option >Florida</option>
                    <option >Washington</option>
                    <option >Utah</option>
                  </select>
                </div>
              </div>
              <div class="col-12 md-form">
                <input type="text" id="" class="form-control">
                <label for="" class="">Postal Code</label>
              </div>
            </div>
            <div class="col-6">
              <div class="col-12">
                <label><b>Type</b></label>
                <label class="label_container ml-2">
                  <input type="checkbox" checked>
                  <span class="checkmark" ></span>
                  Primary
                </label>
                <label class="label_container">
                  <input type="checkbox" checked>
                  <span class="checkmark" ></span>
                  Permanent Address
                </label>
                <label class="label_container">
                  <input type="checkbox" checked>
                  <span class="checkmark" ></span>
                  Default eAPIS address in the US
                </label>
              </div>
              <div class="col-12 md-form">
                <input type="text" id="" class="form-control">
                <label for="" class="">Phone</label>
              </div>
              <div class="col-12 md-form">
                <input type="text" id="" class="form-control">
                <label for="" class="">Alternate Phone</label>
              </div>
              <div class="col-12 md-form">
                <input type="text" id="" class="form-control">
                <label for="" class="">Fax</label>
              </div>
              <div class="col-12 md-form">
                <input type="text" id="" class="form-control">
                <label for="" class="">Email</label>
              </div>
              <div class="col-12 md-form">
                <input type="text" id="" class="form-control">
                <label for="" class="">Alternate Email</label>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-info" >Save</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" >Cancel</button>
        </div>

      </div>
    </div>
  </div>
  <!-- End ModalEditAddress -->
    <!--  ModalAddTask -->
      <div class="modal fade" id="ModalAddTask">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title"></h4>
              <h5 class="mb-0">Add Task</h5>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              <form action="">
                
                <div class="row mb-2">
                  <div class="col-12">
                    <span>Task in regards to <a href="">Trip 12703653</a> </span>
                  </div>
                </div>

                <div class="row mb-2">
                  <div class="col-1 pt-1">
                    <span><b>For</b></span>
                  </div>
                  
                  <div class="col-8">
                    <span>Jesse Vangemeren (jesse.vangemeren@gmail.com)</span><span><i class="flaticon--basic-garbage text-danger" aria-hidden="true"></i></span>
                  </div>
                    
                </div>

                <div class="row">
                  <div class="md-form col-7">
                <input type="text" id="form40" class="form-control">
                <label for="form40" class="">Task *</label>
              </div>
              <div class="md-form col-4">
                <input type="text" id="form41" class="form-control">
                <label for="form41" class="">Date Calendar Goes here</label>
              </div>
                </div>
                <div class="row">
                  <div class="col-2">
                    <label for="" class="label_container">
                  <input type="checkbox" >
                    <span class="checkmark"></span>
                      Email Reminder
                </label>
                  </div>
                  <div class="md-form prefix-icon">
                <input type="text" name="" data-daterange="true">
                <label>mm/dd/yy</label>
                <i class="flaticon--basic-calendar"></i>
              </div>
                  
                  <div class="col-2">
                    <div class="sel sel--black-panther">
                  <select name="select-profession" id="select-profession">
                      <option value="" disabled>PST</option>
                      <option value="">00:00</option>
                      <option value="gamer">00:30</option>          
                  </select>
                </div>
                  </div>
                </div>
              </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div>
                  <button type="button" class="btn btn-info float-right" >Save</button>
                </div>
                <div>
                  <button type="button" class="btn btn-danger float-right" data-dismiss="modal">Cancel</button>
                </div>
            </div>

          </div>
        </div>
      </div>
    <!-- End ModalAddTask -->
    <!--  ModalEditTask -->
      <div class="modal fade" id="ModalEditTask">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title"></h4>
              <h5 class="mb-0">Edit Task</h5>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              <form action="">
                
                <div class="row mb-2">
                  <div class="col-12">
                    <span>Task in regards to <a href="">Trip 12703653</a> </span>
                  </div>
                </div>

                <div class="row mb-2">
                  <div class="col-1 pt-1">
                    <span><b>For</b></span>
                  </div>
                  
                  <div class="col-8">
                    <span>Jesse Vangemeren (jesse.vangemeren@gmail.com)</span><span><i class="flaticon--basic-garbage text-danger" aria-hidden="true"></i></span>
                  </div>
                    
                </div>

                <div class="row">
                  <div class="md-form col-7">
                <input type="text" id="form40" class="form-control">
                <label for="form40" class="">Task *</label>
              </div>
              <div class="md-form col-4">
                <input type="text" id="form41" class="form-control">
                <label for="form41" class="">Date Calendar Goes here</label>
              </div>
                </div>
                <div class="row">
                  <div class="col-2">
                    <label for="" class="label_container">
                  <input type="checkbox" >
                    <span class="checkmark"></span>
                      Email Reminder
                </label>
                  </div>
                  <div class="md-form prefix-icon">
                <input type="text" name="" data-daterange="true">
                <label>mm/dd/yy</label>
                <i class="flaticon--basic-calendar"></i>
              </div>
                  
                  <div class="col-2">
                    <div class="sel sel--black-panther">
                  <select name="select-profession" id="select-profession">
                      <option value="" disabled>PST</option>
                      <option value="">00:00</option>
                      <option value="gamer">00:30</option>          
                  </select>
                </div>
                  </div>
                </div>
              </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div>
                  <button type="button" class="btn btn-warning float-right" >Delete</button>
                </div>
                <div>
                  <button type="button" class="btn btn-success float-right" >Mark As Done</button>
                </div>
                <div>
                  <button type="button" class="btn btn-info float-right" >Save & Continue</button>
                </div>
                <div>
                  <button type="button" class="btn btn-danger float-right" data-dismiss="modal">Cancel</button>
                </div>
            </div>

          </div>
        </div>
      </div>
    <!-- End ModalEditTask -->


<!--  ModalAddTaskGroup -->
      <div class="modal fade" id="ModalAddTaskGroup">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title"></h4>
              <h5 class="mb-0">Load Task Group</h5>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              <form action="">
                
                <div class="row mb-2">
                  <div class="col-12">
                    <span>Loads a group of tasks from your <a href="">Task Groups settings page </a> </span>
                  </div>
                </div>

                <div class="row mb-2">
                  <div class="col-1 pt-1">
                    <span><b>For</b></span>
                  </div>
                  
                  <div class="col-8">
                    <span>Jesse Vangemeren (jesse.vangemeren@gmail.com)</span><span><i class="flaticon--basic-garbage text-danger" aria-hidden="true"></i></span>
                  </div>
                    
                </div>

                
                <div class="row">
                  
                  
                  
                  <div class="col-6">
                    <div class="sel sel--black-panther">
                  <select name="" id="select-profession">
                      <option value="" disabled>Group</option>
                      <option value="">Tasktest(2 tasks)</option>
                            
                  </select>
                </div>
                  </div>
                </div>
              </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                
                
                <div>
                  <button type="button" class="btn btn-info float-right" >Load</button>
                </div>
                <div>
                  <button type="button" class="btn btn-danger float-right" data-dismiss="modal">Cancel</button>
                </div>
            </div>

          </div>
        </div>
      </div>
    <!-- End ModalAddTaskGroup -->



    <!-- ModalEditDocument -->
  <div class="modal fade" id="ModalEditDocument">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Edit Document</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="row">
            <div class="col-6">
              <div class="col-12">
                <div class="sel sel--black-panther top">
                  <select name="select-profession" id="select-profession">
                    <option disabled>Document type</option>
                    <option >Passport</option>
                    <option >ID</option>
                  </select>
                </div>
              </div>
              <div class="col-12 md-form">
                <input type="text" id="" class="form-control" value="C371090">
                <label for="" class="active">Number*</label>
              </div>
              <div class="col-12">
                <div class="sel sel--black-panther top">
                  <select name="select-profession" id="select-profession">
                    <option disabled>Issuing Country</option>
                    <option >Peru</option>
                    <option >USA</option>
                    <option >Canada</option>
                  </select>
                </div>
              </div>
              <div class="col-12 md-form">
                <input type="text" id="" class="form-control">
                <label for="" class="">Authority</label>
              </div>
              <div class="col-12 mb-4">
                <label for=""><b>Document</b></label>
                <div class="input-file-container mx-auto">  
                  <input class="input-file" data-id="1" type="file">
                  <label tabindex="0" for="my-file" class="input-file-trigger"><span class="file-return" id="return2"><i class="flaticon-cloud-computing"></i>     Select a file...</span></label>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="col-12 md-form prefix-icon">
                <input type="text" name="" data-daterange="true">
                <label>Issue Date</label>
                <i class="flaticon--basic-calendar"></i>
              </div>
              <div class="col-12 md-form prefix-icon">
                <input type="text" name="" data-daterange="true">
                <label>Expiration Date*</label>
                <i class="flaticon--basic-calendar"></i>
              </div>
              <div class="col-12">
                <label class="label_container ml-2">
                  <input type="checkbox" checked>
                  <span class="checkmark" ></span>
                  Primary
                </label>
              </div>  
              <div class="col-12">
                <label class="label_container ml-2">
                  <input type="checkbox" checked>
                  <span class="checkmark" ></span>
                  Active
                </label>
              </div>
              <div class="col-12 md-form">
                <textarea class=""></textarea>
                <label for="" class="">Notes</label>
              </div> 
            </div>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-info" >Save</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" >Cancel</button>
        </div>

      </div>
    </div>
  </div>
  <!-- End ModalEditDocument -->